<div class="parentContainer"> 

	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
	<span> 
	<div ng-show="!editDiv">
		<div class="gridContentTitle title ">
			<div class="DSPLYRUBY">
				<a href="#/vendorDashboard">Home</a>
				<a href="#/airlineAirport"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>airline&Airport</p></a>
				<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ airlineAirportKnowmoreControllerScope.currentPage}}</p>
			</div>
			<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
		</div>		
		
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			
		</div>
		<div class="textalignCenter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="(key, value) in airlineAirportKnowmoreControllerScope.recordDetails.mediaOptions">
					<div class="title padd"><span class="brdbttmTitle">{{key}}</span></div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key1, value1) in value">
						<div class="grid-content">
							<div>
								<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
							</div>
							<div class="pricePadBttm">
								<p class="card-heading"><strong>{{key1}}</strong></p>
								<p class="card-heading"><i class="fa fa-tag"></i></p>
				               
				            </div>
				        </div>
			            		
					</div>		
				</div>	
			</div>
		</div>
	</div>

	<div ng-hide="!editDiv"> 
		<div class="inner-content">
		<form name="outdoorDetailsForm" novalidate>
			<div class="form-padding BRDBTM2PX">
				
				<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails._id" /></div>
				<div class="row">
					<label class="col-sm-6">Airline Name<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.name" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Logo<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.logo" required/>
					<div class="col-sm-6"></div>										
				</div>			
				<div class="row">
					<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.urlSlug" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Category<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="category" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.category" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Views<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="views" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.views" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.serviceTaxPercentage" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.cardRate" required/>
					<div class="col-sm-6"></div>										
				</div>

			</div>
			<div>
				<div class="">
					<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
						<span class="brdbttmTitle">Attributes</span>
					</div>										
				</div>
			</div>
			<div class="form-padding BRDBTM2PX">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADDLFT10px">
							<label class="col-sm-6">Reach</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="airlineAirportKnowmoreControllerScope.recordDetails.attributes.reach.value" />
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding PADD0">				
				<div class="" ng-repeat="(key1, value) in airlineAirportKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
					<div class="KnwEdtTitle">
						<span class="brdbttmTitle">{{key1}}</span><span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="airlineAirportKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></span>
					</div>
					
					<div class="" ng-repeat="(key2, value) in value">
						<div ng-click="expanded = !expanded" class="KnwEdtTitle PADDLFT10px">{{key2}}
							<span class="padd"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
						</div>				
						<div ng-repeat="(key, value) in value" ng-show="expanded ">		
							
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 padd" >
								<span class="col-sm-12  PADDLFT10px">
									<label class="col-sm-6">{{key}}</label>
									<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value" required/>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="form-details1 padd">
				<div>
				<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="airlineAirportKnowmoreControllerScope.updateRecord()">Save</button>
				<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
				
				</div>
			</div>
		</form>
	</div>
	</div>
</span>
</span>
</div>
