<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>


	<span class="rightContainer">
		<span> 		
		<div class="WIDTH710">
			<div class="contentTitle">
		Business Details
	</div>
	<div class="inner-content">
		<button type="button" class="profileBtn1 floatRight" ng-click="active=!active; active1=!active1">Edit</button>
		<div  ng-show="businessDetailsControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
		<form name="businessDetailsForm" novalidate>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Business Name<span class="CLR">*</span></label>
					<input type="text" id="businessName" class="col-sm-6 form-control1" name="businessName" ng-pattern="/^[a-zA-Z0-9\_\- ]*$/" ng-model="businessDetailsControllerScope.businessDetails.businessname" ng-class="{'hideBorder': !active, 'showBorder': active}" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessName.$invalid && businessDetailsForm.businessName.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessName.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessName.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only </span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row" ng-model="businessDetailsControllerScope.businessDetails.businesstype">
					<label class="col-sm-6">Business Type<span class="CLR">*</span></label>
					<select class="SELECTIMG" ng-model="user.companyType">
					  <option ng-option value="" >Proprietor</option>
					  <option ng-option value="Company">Company</option>
					</select>
				</div>
			</div>
			<div class="form-padding" ng-if="user.companyType == 'Company'">
				<div class="row">
					<label class="col-sm-6">Business PAN<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="businessPAN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="businessDetailsControllerScope.businessDetails.pan" ng-class="{'hideBorder': !active, 'showBorder': active}" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessPAN.$invalid && businessDetailsForm.businessPAN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessPAN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessPAN.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only </span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50" ng-class="{'divHide': !active1, 'divShow': active1}">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file-3" class="inputfile" id="file-3" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file-3">
						<label for="file-3" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload " for="file1">
						    <input id="file2" type="file" class="btn-updsp" fileModel="myfile"  multiple onchange="angular.element(this).scope().uploadedFile(this, );$('#upload-file-info2').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info1"></span>
					</div>
					<div>


					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">Personal PAN<span class="CLR">*</span></label>
					<input type="text" id="personalPAN" class="col-sm-6 form-control1" name="personalPAN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="businessDetailsControllerScope.businessDetails.personalPAN" ng-class="{'hideBorder': !active, 'showBorder': active}" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.personalPAN.$invalid && businessDetailsForm.personalPAN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.personalPAN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.personalPAN.$error.pattern" class="COLORRED FONT12PX">Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50" ng-class="{'divHide': !active1, 'divShow': active1}">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file" class="inputfile" id="file" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file">
						<label for="file" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload" for="file2">
						   <label class="btn btn-upload " for="file1">
						    <input id="file1" type="file" class="btn-updsp" fileModel="myfile"  multiple onchange="angular.element(this).scope().uploadedFile(this, 'pan');$('#upload-file-info2').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info2"></span>
						<label class="btn btn-upload mrgLft" ng-if="businessDetailsControllerScope.businessDetails.panurl" ng-click="businessDetailsControllerScope.getImage(businessDetailsControllerScope.businessDetails.panurl)">Preview<lable>
						</label>
					</div>
				</div>
				<div>
				 	<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<img data-ng-src="data:image/JPEG;base64,{{panurl}}" alt="">
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">TIN/VAT<span class="CLR">*</span></label>
					<input type="text" id="TIN" class="col-sm-6 form-control1" name="businessTIN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="businessDetailsControllerScope.businessDetails.tan" ng-class="{'hideBorder': !active, 'showBorder': active}" required />
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessTIN.$invalid && businessDetailsForm.businessTIN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessTIN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessTIN.$error.pattern" class="COLORRED FONT12PX">Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50" ng-class="{'divHide': !active1, 'divShow': active1}">
						<!-- <input type="file" name="file1" class="inputfile" id="file1" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file1">
						<label for="file1" class="FILECOLOR" >
							Upload
						</label> -->
						<p>Accepted file formats: png, jpg & pdf</p>
						<label class="btn btn-upload" for="file3">
						   <input id="file3" type="file" class="btn-updsp"  multiple onchange="angular.element(this).scope().uploadedFile(this, 'tanvat');$('#upload-file-info2').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info3"></span>
						<label class="btn btn-upload mrgLft" ng-if="businessDetailsControllerScope.businessDetails.tanvaturl" ng-click="businessDetailsControllerScope.getImage(businessDetailsControllerScope.businessDetails.tanvaturl)">Preview<lable>

					</div>
				</div>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-7" ng-class="{'divHide': !active1, 'divShow': active1}">
						<input type="checkbox" name="checkTIN" ng-model="user.checkTIN" id="CHCKBX1" class="BUSINCKECK" />
    					<label for="CHCKBX1">I don't have TAN</label>
					</div>
				</div>
				<div>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<img data-ng-src="data:image/JPEG;base64,{{tanvaturl}}" alt="">
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">
					<label class="col-sm-6">TAN<span class="CLR">*</span></label>
					<input type="text" id="TAN" class="col-sm-6 form-control1" name="businessTAN" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="businessDetailsControllerScope.businessDetails.tinvat" ng-class="{'hideBorder': !active, 'showBorder': active}" required/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show="businessDetailsForm.businessTAN.$invalid && businessDetailsForm.businessTAN.$touched" class="COLORRED FONT12PX">
							<span ng-show = "businessDetailsForm.businessTAN.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="businessDetailsForm.businessTAN.$error.pattern" class="COLORRED FONT12PX">Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
				<div class="row">
					<div class="WIDTH50"></div>
					<div class="DSPLYFLEX WIDTH50" ng-class="{'divHide': !active1, 'divShow': active1}">
						<p>Accepted file formats: png, jpg & pdf</p>
						<!-- <input type="file" name="file2" class="inputfile" id="file2" file-model="businessDetailsControllerScope.myFile" ng-click="businessDetailsControllerScope.uploadFile()" ng-model="businessDetailsControllerScope.user.file2">
						<label for="file2" class="FILECOLOR" >
							Upload
						</label> -->
						<label class="btn btn-upload" for="file4">
						   <input id="file4" type="file" class="btn-updsp"   multiple onchange="angular.element(this).scope().uploadedFile(this, 'tan');$('#upload-file-info2').html($(this).val());">
						   Upload
						</label>
						<span class='label label-info' id="upload-file-info4"></span>
						<label class="btn btn-upload mrgLft" ng-if="businessDetailsControllerScope.businessDetails.tanurl" ng-click="businessDetailsControllerScope.getImage(businessDetailsControllerScope.businessDetails.tanurl)">Preview<lable>
		
						<!-- <a href="#">Upload</a> -->
					</div>
				</div>
				<div class="row">
					<div class="col-sm-5"></div>
					<div class="col-sm-7" ng-class="{'divHide': !active1, 'divShow': active1}">
						<input type="checkbox" name="checkTAN" ng-model="user.checkTAN" id="CHCKBX2" class="BUSINCKECK"/>
    					<label for="CHCKBX2">I don't have TAN</label>
					</div>
				</div>		
				<div>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<img data-ng-src="data:image/JPEG;base64,{{tanurl}}" alt="">
					</div>
				</div>
			</div>
			<div class="form-details1 PADD0">
				<!-- {{businessDetailsControllerScope.businessDetails}} -->
				<div>
				<button class="btn btn-default MARGNLFT MRGRGT0" ng-disabled="businessDetailsForm.$invalid" ng-click="businessDetailsControllerScope.addbusinessdetail()">Save</button>
				<a href=""><button class="btn  GRAYCLR" ng-click="businessDetailsControllerScope.decline()" type="submit">Decline</button></a>
				
				</div>
			</div>
		</form>
	</div>
			
		
		</div>
		<div class="WIDTH240">
			<div class="BACKGROUNDWHITE">
				<legend>GOTO</legend>
				<ul class="padding20">
					<li><a href="#">GETTING STARTED</a></li>
					<li><a href="#">PRICING AND PAYMENTS</a></li>
					<li><a href="#">LISTING AND CATALOG</a></li>
					<li><a href="#">ORDER MANAGEMENT AND SHIPPING</a></li>
					<li><a href="#">RETURNS AND SELLER PROTECTION</a></li>
				</ul>
			</div>
			<div class="BACKGROUNDWHITE">
				<legend>NEW QUESTIONS</legend>
				<div class="PADDING20">
					
					<div class="questions">
						<P><i>Q.</i>Can customers leave feedback and why is it important to me?</P></br>
					</div>
					
					<p class="FONTSIZE"><i>A.</i>Yes, customers can share feedback. Good ratings from customers bring you more business as you will have higher ratings displayed on Flipkart.com. At the same time, negative feedback gives you an opportunity for you to improve your performance.
					</p></br>
					
					<div class="questions">
						<p><i>Q.</i>How do I contact Flipkart to become a seller? Is there a seller helpline?</p></br>
					</div>
					
					<p class="FONTSIZE"><i>A.</i>Yes, you can get all the help you need. Flipkart now has a dedicated seller’s page and 24x7 support for sellers. You can raise a ticket through the Seller Support Ticket Dashboard.Alternatively,  you may also email us at: sell@flipkart.com or simply SMS ‘SELL <email ID>’ to 56677.</email></p>
				</div>
				</div>
			</div>
		</div>
	</div>
	</span>
	</span>
</div>
