<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
			<div class="contentTitle">
				Cinema Details
			</div>
			<div class="textalignCenter">
				<div class="inner-content">
					<form name="cinemaDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="cinemaName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema._id" /></div>
							<div class="row">
								<label class="col-sm-6">Cinema Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cinemaName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Type<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="toolName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.type" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">SingleScreen<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="locality" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.isSingleScreen" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Theatre Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.theatreName" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Views<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.views" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">UniqueId<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="uniqueId" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.uniqueId" required/>
								<div class="col-sm-6"></div>										
							</div>	

							<div class="row">
								<label class="col-sm-6">Service Tax %<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.serviceTaxPercentage" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">Logo<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.logo" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">CinemaChain<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cinemaChain" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.cinemaChain" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">Seats<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="seats" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.seats" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">MallName<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="mallName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.mallName" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.cardRate" required/>
								<div class="col-sm-6"></div>										
							</div>	

							<div class="row">
								<label class="col-sm-6">City<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.city" required/>
								<div class="col-sm-6"></div>										
							</div>	<div class="row">
								<label class="col-sm-6">State<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="state" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.state" required/>
								<div class="col-sm-6"></div>										
							</div>	

							<div class="row">
								<label class="col-sm-6">Locality<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="locality" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.locality" required/>
								<div class="col-sm-6"></div>										
							</div>	
															
						</div>

						<div>
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">ScreenNumber</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="screenNumber" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.attributes.screenNumber.value" />
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Seats</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="seats" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.attributes.seats.value" required/>
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">MediaOption</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="mediaOption" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.attributes.mediaOption.value" required/>
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">PricingUnit</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="pricingUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.attributes.pricingUnit.value" required/>
									</span>
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span>
										<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="cinemaControllerScope.addMore(cinema)"></img>
									</div>
								</div>
							</div>
						</div>


						<div class="form-padding BRDBTM2PX MARGINBT10">
							<div class="row" ng-repeat="option in options track by $index">
								<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded = !expanded">{{option}}<span class="padd">
									<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
								</div>
								<div class="PADDLFT10px" ng-show="expanded">											
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">CardRate</label>
											<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.mediaOptions.regularOptions[option].cardRate" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">DiscountedRate</label>
											<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.mediaOptions.regularOptions[option].discountedRate" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">VendorRate</label>
											<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.mediaOptions.regularOptions[option].vendorRate" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Image Url</label>
											<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinema.mediaOptions.regularOptions[option].imageUrl" required/>
										</span>												
									</div>											
								</div>
							</div>
						</div>

						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="cinemaControllerScope.addCinema(cinema)">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							</div>
						</div>
					</form>
				</div>
						
					
			</div>

		</div>
	</span>
</div>
