<div class="parentContainer"> 

	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
	<span> 

	<div ng-show="!editDiv">
		<div class="textalignCenter">	
			<div class="gridContentTitle title ">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/cinema"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>cinema</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{cinemaKnowmoreControllerScope.currentPage}}</p>
				</div>
				<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
			</div>		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 Padd0">
				<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
				<div class="col-md-2 col-sm-4 col-xs-6 ng-scope" ng-repeat="(key, value) in cinemaKnowmoreControllerScope.recordDetails.attributes">
	                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
	                    <p><i class="fa fa-tag"></i></p>
	                    <p class="first ng-binding bold">
	                        {{key}}
	                    </p>
	                    <p class="last ng-binding">
	                        {{value.value}}
	                    </p>
	                </div>
	            </div> -->
			</div>
		
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="(key, value) in cinemaKnowmoreControllerScope.recordDetails.mediaOptions">
					<div class="title padd"><span class="brdbttmTitle">{{key}}</span></div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key1, value1) in value">
						<div class="grid-content">
							<div>
								<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
							</div>
							<div class="pricePadBttm">
								<p class="card-heading"><strong>{{key1}}</strong></p>
								<!--<p class="card-heading"><i class="fa fa-tag"></i></p>
				                <p class="padd" uib-tooltip="value" tooltip-placement="left">
				                    {{value1.pricingUnit1}}
				                </p>
				                <p class="" uib-tooltip="key" tooltip-placement="left">
				                    {{value1.cardRate}}
				                </p>
				                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
				                    {{value1.discountedRate}}
				                </p> -->
				            </div>
			     		</div>
			     		<!-- <div class="btnCenter">
							<div class="getMoreBtn">
								<a class="card-button btn">Get Quotes</a>
							</div>
						</div>		 -->
					</div>	
				</div>
			</div>
		</div>	
	</div>

	<div ng-hide="!editDiv"> 
		<div class="inner-content">
		<form name="outdoorDetailsForm" novalidate>
			<div class="form-padding BRDBTM2PX">
				
				<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails._id" /></div>
				<div class="row">
					<label class="col-sm-6">Cinema Name<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.name" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Logo<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.logo" required/>
					<div class="col-sm-6"></div>										
				</div>			
				<div class="row">
					<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.urlSlug" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Type<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="type" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.type" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">IsSingleScreen<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="isSingleScreen" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.isSingleScreen" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">TheatreName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="theatreName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.theatreName" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Views<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="views" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.views" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.serviceTaxPercentage" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">UniqueId<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="uniqueId" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.uniqueId" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Type<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="type" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.type" required/>
					<div class="col-sm-6"></div>										
				</div>				
				<div class="row">
					<label class="col-sm-6">CinemaChain<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="cinemaChain" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.cinemaChain" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Seats<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="seats" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.seats" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">MallName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="mallName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.mallName" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.cardRate" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">City<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.city" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">State<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="state" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.state" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Locality<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="locality" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.locality" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Name<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.name" required/>
					<div class="col-sm-6"></div>										
				</div>
			</div>

			<div>
				<div class="KnwEdtTitle">
					<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 title PADD0">
						<span class="brdbttmTitle">Attributes</span>
					</div>										
				</div>
			</div>
			<div class="form-padding BRDBTM2PX">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">ScreenNumber</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.attributes.screenNumber.value" />
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">Seats</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="seats" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.attributes.seats.value" required/>
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">MediaOption</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="mediaOption" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.attributes.mediaOption.value" required/>
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">PricingUnit</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="pricingUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="cinemaKnowmoreControllerScope.recordDetails.attributes.pricingUnit.value" required/>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding PADD0">				
				<div class="" ng-repeat="(key1, value) in cinemaKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
					<div class="KnwEdtTitle">
						<span class="brdbttmTitle">{{key1}}</span><span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="cinemaKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></span>
						</h3>
					</div>
					<!-- <div class="row">					
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT"></div>
					</div> -->
					
					<div ng-repeat="(key2, value) in value">
						<div ng-click="expanded = !expanded" class="KnwEdtTitle PADDLFT10px">{{key2}}
							<span class="padd"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
						</div>				
						<div ng-repeat="(key, value) in value" ng-show="expanded ">		
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 padd" >
								<span class="col-sm-12  PADDLFT10px">
									<label class="col-sm-6">{{key}}</label>
									<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value" required/>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>	
			
			<div class="form-details1 padd">
				<div>
				<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="cinemaKnowmoreControllerScope.updateCinema()">Save</button>
				<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
				
				</div>
			</div>
		</form>
	</div>
	</div>
	



</div>
