

<!--Main Content - Banner Starts-->


<div class="banner">
	<div class="container">
		<h1>Book Advertising in Newspaper easily online</h1>
		<h2>Let’s Begin! Select ad an type.</h2>

<!-- <div class="ads">
<div class="col-sm-4 texts-ad">
<img src="ui/images/newspaper1.png" />
<h2>Classified Text Ad</h2>
<p>Most economical form  of newspaper advertising. Ad appearr in classified section in simple running text format. Charges per Line/Word. Few enhancement option available.</p>
<a href="target.html">BOOK NOW</a>
</div>

<div class="col-sm-4 texts-ad">
<img src="ui/images/newspaper2.png" />
<h2>Classified DISPLAY Ad</h2>
<p>Most economical form  of newspaper advertising. Ad appearr in classified section in simple running text format. Charges per Line/Word. Few enhancement option available.</p>
<a href="target.html">BOOK NOW</a>
</div>

<div class="col-sm-4 texts-ad">
<img src="ui/images/newspaper3.png" />
<h2>DISPLAY Ad</h2>
<p>Most economical form  of newspaper advertising. Ad appearr in classified section in simple running text format. Charges per Line/Word. Few enhancement option available.</p>
<a href="target.html">BOOK NOW</a>
</div>
</div> -->

</div>
</div>
<!--Main Content - Banner Ends-->
<!--Grey Bg Starts-->
<div class="section2">
	<!--Contact Starts-->
	<div class="container green-bar">
		<div ng-click="vm.loginRouting()">click</div>
		<div class="col-sm-6">
			<img src="ui/images/phone-icon.jpg"/>
			<h2>Have Question? CALL US:<span>+91-8099804477</span></h2>
		</div>
		<div class="col-sm-6 email">
			<img src="ui/images/email-icon.jpg"/>
			<h2>Email:<a href="mailto:customercare@ads2publish.com">customercare@ads2publish.com</a></h2>
		</div>	
	</div>
	<!--Contact Ends-->

	<!--Carousel Starts-->
	<div class="slider">
		<div class="container">
			<h2>Aliquam eget sapien non erat sollicitudin</h2>
			<p>Donec tristique vehicula massa, et pharetra mauris tincidunt vitae. Aenean et arcu nec urna efficitur congue. </p>
			<div class="owl-controls">
				<a class="owl-prev">Previous</a>
				<a class="owl-next">Next</a>
			</div>
			<div id="owl-demo" class="owl-carousel">

				<div class="item"><img src="ui/images/carousel1.png" /></div>
				<div class="item"><img src="ui/images/carousel2.png" /></div>
				<div class="item"><img src="ui/images/carousel3.png" /></div>
				<div class="item"><img src="ui/images/carousel4.png" /></div>

				<div class="item"><img src="ui/images/carousel1.png" /></div>
				<div class="item"><img src="ui/images/carousel2.png" /></div>
				<div class="item"><img src="ui/images/carousel3.png" /></div>
				<div class="item"><img src="ui/images/carousel4.png" /></div>
			</div>
		</div>
	</div>
	<!--Carousel Ends-->

</div>
<!--Grey BG Ends-->

<!--Section3 Starts-->
<div class="section3">
	<div class="container">
		<h2>BOOK NEWSPAPER CLASSIFIED</h2>
		<h3>ADVERTISEMENTS ONLINE WITH AN EASE!</h3>
		<p>Ads2Publish.com makes easy to book Classified & Display Advertisements for all leading newspapers in India! Now book classified ads in Times of India, The Hindu, Hindustan Times, Eenadu, Deccan Chronicle, Malayala Manorama, Sakal, Lokmat, Gujarat Samachar and all other leading newspapers. Book Matrimonial, Property, Recruitment & other Ads at lowest rates online.</p>
		<div class="boxes">
			<div class="col-sm-3">
				<img src="ui/images/secure.jpg"/>
				<p>Easy &amp; Secure Ad Booking.</p>
			</div>
			<div class="col-sm-3">
				<img src="ui/images/book.jpg"/>
				<p>Book all types of Newspaper Advertisements</p>
			</div>
			<div class="col-sm-3">
				<img src="ui/images/per.jpg"/>
				<p>Book Ads for All Leading publications at discounted rates.</p>
			</div>
			<div class="col-sm-3">
				<img src="ui/images/payment.jpg"/>
				<p>Easy Payment Options.</p>
			</div>		 
		</div>
	</div>
</div>
<!--Section3 Ends-->

<!--Section4 Starts-->
<div class="section4 hidden-xs">

	<!-- Nav tabs -->
	<div class="full-width">
		<div class="container">
			<ul class="nav nav-tabs" role="tablist">
				<li role="presentation" class="active"><a href="#newspaper" aria-controls="newspaper" role="tab" data-toggle="tab" id="news">News Paper</a></li>
				<li role="presentation"><a href="#category" aria-controls="category" role="tab" data-toggle="tab" id="cat">Categories</a></li>
				<li role="presentation"><a href="#edition" aria-controls="edition" role="tab" data-toggle="tab" id="edt">Edition</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<!-- Tab panes -->
		<div class="tab-content">
			<div role="tabpanel" class="tab-pane fade in active" id="newspaper">

				<ul class="list">
					<li><a href="selected-paper.html">Times of India</a></li>
					<li><a href="selected-paper.html">The Hindu</a></li>
					<li><a href="selected-paper.html">Hindustan Times</a></li>
					<li><a href="selected-paper.html">Deccan Chronicle</a></li>
					<li><a href="selected-paper.html">Ajit</a></li>
					<li><a href="selected-paper.html">Amar Ujala</a></li>
					<li><a href="selected-paper.html">Anandabazar Patrika</a></li>
					<li><a href="selected-paper.html">Andhra Jyothy</a></li>
					<li><a href="selected-paper.html">Assam Tribune</a></li>
					<li><a href="selected-paper.html">Bombay Samachar</a></li>
					<li><a href="selected-paper.html">Business Line</a></li>
					<li><a href="selected-paper.html">Daily Hindi Milap</a></li>
					<li><a href="selected-paper.html">Daily Thanthi</a></li>
					<li><a href="selected-paper.html">Dainik Bhaskar</a></li>
					<li><a href="selected-paper.html">Dainik Jagran</a></li>
					<li><a href="selected-paper.html">Deccan Herald</a></li>
					<li><a href="selected-paper.html">Dharitri</a></li>
					<li><a href="selected-paper.html">Dinakaran</a></li>
					<li><a href="selected-paper.html">Dinamani</a></li>
					<li><a href="selected-paper.html">Divya Bhaskar</a></li>
					<li><a href="selected-paper.html">Divya Himachal</a></li>
					<li><a href="selected-paper.html">Divya Marathi</a></li>
					<li><a href="selected-paper.html">Economic Times</a></li>
					<li><a href="selected-paper.html">Eenadu</a></li>
					<li><a href="selected-paper.html">Ei Samay</a></li>
					<li><a href="selected-paper.html">Etemaad</a></li>
					<li><a href="selected-paper.html">Financial Express</a></li>
					<li><a href="selected-paper.html">Gujarat Samachar</a></li>
					<li><a href="selected-paper.html">Himali Bela</a></li>
					<li><a href="selected-paper.html">Hindustan Hindi</a></li>
					<li><a href="selected-paper.html">Indian Express</a></li>
					<li><a href="selected-paper.html">Jansatta</a></li>
					<li><a href="selected-paper.html">Kannada Prabha</a></li>
					<li><a href="selected-paper.html">Lokmat</a></li>
					<li><a href="selected-paper.html">Loksatta</a></li>
					<li><a href="selected-paper.html">Maharashtra Times</a></li>
					<li><a href="selected-paper.html">Malayala Manorama</a></li>
					<li><a href="selected-paper.html">Mathrubhumi</a></li>
					<li><a href="selected-paper.html">Metro India</a></li>
					<li><a href="selected-paper.html">Mirror</a></li>
					<li><a href="selected-paper.html">Munsif</a></li>
					<li><a href="selected-paper.html">Nai Dunia</a></li>
					<li><a href="selected-paper.html">Nav Gujarat Samay</a></li>
					<li><a href="selected-paper.html">Navbharat Times</a></li>
					<li><a href="selected-paper.html">New Indian Express</a></li>
					<li><a href="selected-paper.html">Prabhat Khabar</a></li>
					<li><a href="selected-paper.html">Prajavani</a></li>
					<li><a href="selected-paper.html">Pudhari</a></li>
					<li><a href="selected-paper.html">Punjab Kesari</a></li>
					<li><a href="selected-paper.html">Rajasthan Patrika</a></li>
					<li><a href="selected-paper.html">Sakal</a></li>
					<li><a href="selected-paper.html">Sakshi</a></li>
					<li><a href="selected-paper.html">Samaja</a></li>
					<li><a href="selected-paper.html">Sambad</a></li>
					<li><a href="selected-paper.html">Sandesh</a></li>
					<li><a href="selected-paper.html">Sandhya Times</a></li>
					<li><a href="selected-paper.html">Sanmarg</a></li>
					<li><a href="selected-paper.html">Siasat</a></li>
					<li><a href="selected-paper.html">Sikkim Express</a></li>
					<li><a href="selected-paper.html">Telegraph</a></li>
					<li><a href="selected-paper.html">The Hindu Tamil</a></li>
					<li><a href="selected-paper.html">Tribune</a></li>
					<li><a href="selected-paper.html">Vijay Karnataka</a></li>
				</ul>

			</div>
			<div role="tabpanel" class="tab-pane fade" id="category">

				<ul class="list">
					<li><a href="selected-category.html">Matrimonial</a></li>
					<li><a href="selected-category.html">Recruitments</a></li>
					<li><a href="selected-category.html">Property For Sale</a></li>
					<li><a href="selected-category.html">Property To Rent</a></li>
					<li><a href="selected-category.html">Name Change</a></li>
					<li><a href="selected-category.html">Lost Found</a></li>
					<li><a href="selected-category.html">Vehicles</a></li>
					<li><a href="selected-category.html">Astrology</a></li>
					<li><a href="selected-category.html">Business</a></li>
					<li><a href="selected-category.html">Computers</a></li>
					<li><a href="selected-category.html">Classified Remembrance</a></li>
					<li><a href="selected-category.html">Education</a></li>
					<li><a href="selected-category.html">Obituary</a></li>
					<li><a href="selected-category.html">Personal Announcement</a></li>
					<li><a href="selected-category.html">Personal Messages</a></li>
					<li><a href="selected-category.html">Retail</a></li>
					<li><a href="selected-category.html">Services</a></li>
					<li><a href="selected-category.html">Travel</a></li>	
				</ul>

			</div>
			<div role="tabpanel" class="tab-pane fade" id="edition">

				<ul class="list">
					<li><a href="select-edition.html">24 Parganas</a></li>
					<li><a href="select-edition.html">Adilabad</a></li>
					<li><a href="select-edition.html">Agra</a></li>
					<li><a href="select-edition.html">Ahmedabad</a></li>
					<li><a href="select-edition.html">Ahmednagar</a></li>
					<li><a href="select-edition.html">Ajmer</a></li>
					<li><a href="select-edition.html">Akola</a></li>
					<li><a href="select-edition.html">Alappuzha</a></li>
					<li><a href="select-edition.html">Aligarh</a></li>
					<li><a href="select-edition.html">Allahabad</a></li>
					<li><a href="select-edition.html">Alwar</a></li>
					<li><a href="select-edition.html">Amravati</a></li>
					<li><a href="select-edition.html">Angul</a></li>
					<li><a href="select-edition.html">Andhra Pradesh</a></li>
					<li><a href="select-edition.html">Anantapur</a></li>
					<li><a href="select-edition.html">Aurangabad</a></li>
					<li><a href="select-edition.html">Bagalkot</a></li>
					<li><a href="select-edition.html">Balasore</a></li>
					<li><a href="select-edition.html">Bangalore</a></li>
					<li><a href="select-edition.html">Banswara</a></li>
					<li><a href="select-edition.html">Baroda</a></li>
					<li><a href="select-edition.html">Bareilly</a></li>
					<li><a href="select-edition.html">Belgaum</a></li>
					<li><a href="select-edition.html">Berhampur</a></li>
					<li><a href="select-edition.html">Bhagalpur</a></li>
					<li><a href="select-edition.html">Bhavnagar</a></li>
					<li><a href="select-edition.html">Bhilwara</a></li>
					<li><a href="select-edition.html">Bhopal</a></li>
					<li><a href="select-edition.html">Bhubneshwar</a></li>
					<li><a href="select-edition.html">Bhuj</a></li>
					<li><a href="select-edition.html">Bikaner</a></li>
					<li><a href="select-edition.html">Bilaspur</a></li>
					<li><a href="select-edition.html">Birbhum</a></li>
					<li><a href="select-edition.html">Bardhaman</a></li>
					<li><a href="select-edition.html">Chandigarh</a></li>
					<li><a href="select-edition.html">Central Kerala</a></li>
					<li><a href="select-edition.html">Chennai</a></li>
					<li><a href="select-edition.html">Chitradurga</a></li>
					<li><a href="select-edition.html">Chittor</a></li>
					<li><a href="select-edition.html">Coimbatore</a></li>
					<li><a href="select-edition.html">Cuddalore</a></li>
					<li><a href="select-edition.html">Cuttack</a></li>
					<li><a href="select-edition.html">Davangere</a></li>
					<li><a href="select-edition.html">Dehradun</a></li>
					<li><a href="select-edition.html">Delhi</a></li>
					<li><a href="select-edition.html">Deoghar</a></li>
					<li><a href="select-edition.html">Dharamshala</a></li>
					<li><a href="select-edition.html">Dhanbad</a></li>
					<li><a href="select-edition.html">Dindugal</a></li>
					<li><a href="select-edition.html">East Godavari</a></li>
					<li><a href="select-edition.html">Erode</a></li>
					<li><a href="select-edition.html">Gangtok</a></li>
					<li><a href="select-edition.html">Gangavati</a></li>
					<li><a href="select-edition.html">Gaya</a></li>
					<li><a href="select-edition.html">Gr. Hyderabad</a></li>
					<li><a href="select-edition.html">Guntur</a></li>
					<li><a href="select-edition.html">Goa</a></li>
					<li><a href="select-edition.html">Gorakhpur</a></li>
					<li><a href="select-edition.html">Gulbarga</a></li>
					<li><a href="select-edition.html">Guwahati</a></li>
					<li><a href="select-edition.html">Gwalior</a></li>
					<li><a href="select-edition.html">Hassan</a></li>
					<li><a href="select-edition.html">Hooghly</a></li>
					<li><a href="select-edition.html">Hoshangabad</a></li>
					<li><a href="select-edition.html">Howrah</a></li>
					<li><a href="select-edition.html">Hubli</a></li>
					<li><a href="select-edition.html">Hyderabad</a></li>
					<li><a href="select-edition.html">Indore</a></li>
					<li><a href="select-edition.html">Jabalpur</a></li>
					<li><a href="select-edition.html">Jammu &amp; Kashmir</a></li>
					<li><a href="select-edition.html">Jalandhar</a></li>
					<li><a href="select-edition.html">Jalgaon</a></li>
					<li><a href="select-edition.html">Jamshedpur</a></li>
					<li><a href="select-edition.html">Jeypore</a></li>
					<li><a href="select-edition.html">Jhansi</a></li>
					<li><a href="select-edition.html">Jharkhand</a></li>
					<li><a href="select-edition.html">Jodhpur</a></li>
					<li><a href="select-edition.html">Jaipur</a></li>
					<li><a href="select-edition.html">Jaipur (Upcountry)</a></li>
					<li><a href="select-edition.html">Kadapa</a></li>
					<li><a href="select-edition.html">Kannur</a></li>
					<li><a href="select-edition.html">Khandwa</a></li>
					<li><a href="select-edition.html">Khandesh</a></li>
					<li><a href="select-edition.html">Khammam</a></li>
					<li><a href="select-edition.html">Kanpur</a></li>
					<li><a href="select-edition.html">Karnataka</a></li>
					<li><a href="select-edition.html">Kochi</a></li>
					<li><a href="select-edition.html">Kokan</a></li>
					<li><a href="select-edition.html">Kolkatta</a></li>
					<li><a href="select-edition.html">Kolar</a></li>
					<li><a href="select-edition.html">Kollam</a></li>
					<li><a href="select-edition.html">Kolhapur</a></li>
					<li><a href="select-edition.html">Kota</a></li>
					<li><a href="select-edition.html">Kottayam</a></li>
					<li><a href="select-edition.html">kozhikode</a></li>
					<li><a href="select-edition.html">Kerala</a></li>
					<li><a href="select-edition.html">Karimnagar</a></li>
					<li><a href="select-edition.html">Kurnool</a></li>
					<li><a href="select-edition.html">Krishna</a></li>
					<li><a href="select-edition.html">Lucknow</a></li>
					<li><a href="select-edition.html">Ludhiana</a></li>
					<li><a href="select-edition.html">Madurai</a></li>
					<li><a href="select-edition.html">Malappuram</a></li>
					<li><a href="select-edition.html">Madhya Pradesh</a></li>
					<li><a href="select-edition.html">Medak</a></li>
					<li><a href="select-edition.html">Medinipur</a></li>
					<li><a href="select-edition.html">Meerut</a></li>
					<li><a href="select-edition.html">Mahabubnagar</a></li>
					<li><a href="select-edition.html">Mangalore</a></li>
					<li><a href="select-edition.html">Moradabad</a></li>
					<li><a href="select-edition.html">Mumbai</a></li>
					<li><a href="select-edition.html">Murshidabad</a></li>
					<li><a href="select-edition.html">Muzaffarpur</a></li>
					<li><a href="select-edition.html">Mysore</a></li>
					<li><a href="select-edition.html">Nagercoil</a></li>
					<li><a href="select-edition.html">Nagar</a></li>
					<li><a href="select-edition.html">Nainital</a></li>
					<li><a href="select-edition.html">NASA or Pondy</a></li>
					<li><a href="select-edition.html">Nadia</a></li>
					<li><a href="select-edition.html">Nellai</a></li>
					<li><a href="select-edition.html">Nellore</a></li>
					<li><a href="select-edition.html">Nalgonda</a></li>
					<li><a href="select-edition.html">Nagpur</a></li>
					<li><a href="select-edition.html">North Kerala</a></li>
					<li><a href="select-edition.html">Nashik</a></li>
					<li><a href="select-edition.html">Nizamabad</a></li>
					<li><a href="select-edition.html">Overseas</a></li>
					<li><a href="select-edition.html">Palakkad</a></li>
					<li><a href="select-edition.html">Pali</a></li>
					<li><a href="select-edition.html">Pathanamthitta</a></li>
					<li><a href="select-edition.html">Prakasam</a></li>
					<li><a href="select-edition.html">Patna</a></li>
					<li><a href="select-edition.html">Pune</a></li>
					<li><a href="select-edition.html">Purulia</a></li>
					<li><a href="select-edition.html">Raipur</a></li>
					<li><a href="select-edition.html">Rajkot</a></li>
					<li><a href="select-edition.html">Ranchi</a></li>
					<li><a href="select-edition.html">Ratlam</a></li>
					<li><a href="select-edition.html">Rayagada</a></li>
					<li><a href="select-edition.html">Ranga Reddy</a></li>
					<li><a href="select-edition.html">Rohtak</a></li>
					<li><a href="select-edition.html">Rourkela</a></li>
					<li><a href="select-edition.html">Sagar</a></li>
					<li><a href="select-edition.html">Salem</a></li>
					<li><a href="select-edition.html">Sambalpur</a></li>
					<li><a href="select-edition.html">Sangli</a></li>
					<li><a href="select-edition.html">Santhal</a></li>
					<li><a href="select-edition.html">Shimla</a></li>
					<li><a href="select-edition.html">Shimoga</a></li>
					<li><a href="select-edition.html">Sikar</a></li>
					<li><a href="select-edition.html">siliguri</a></li>
					<li><a href="select-edition.html">Sindhudurg</a></li>
					<li><a href="select-edition.html">Srikakulam</a></li>
					<li><a href="select-edition.html">Solapur</a></li>
					<li><a href="select-edition.html">Sriganganagar</a></li>
					<li><a href="select-edition.html">Satara</a></li>
					<li><a href="select-edition.html">Surat</a></li>
					<li><a href="select-edition.html">Tanjore</a></li>
					<li><a href="select-edition.html">Thrissur</a></li>
					<li><a href="select-edition.html">Trichy</a></li>
					<li><a href="select-edition.html">Trivandrum</a></li>
					<li><a href="select-edition.html">Tumkur</a></li>
					<li><a href="select-edition.html">Udaipur</a></li>
					<li><a href="select-edition.html">Ujjain</a></li>
					<li><a href="select-edition.html">Varanasi</a></li>
					<li><a href="select-edition.html">Vellore</a></li>
					<li><a href="select-edition.html">Vijayawada</a></li>
					<li><a href="select-edition.html">Visakhapatnam</a></li>
					<li><a href="select-edition.html">Visakhapatnam Dist</a></li>
					<li><a href="select-edition.html">Vizianagaram</a></li>
					<li><a href="select-edition.html">West Godavari</a></li>
					<li><a href="select-edition.html">Warangal</a></li>	
				</ul>
			</div>
		</div>
	</div>
</div>
<!--Section4 Ends-->

<!-- Menu Slection Starts -->   
<div class="menu-selection visible-xs">
	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
		<div class="panel panel-default">
			<div class="panel-heading newspaper" role="tab" id="headingOne">
				<div class="navbar-header">

					<a class="navbar-brand" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">NEWSPAPERS<button  type="button" class="navbar-toggle">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
					</button></a>
				</div>	
			</div>
			<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
				<div class="panel-body">
					<!-- Newspaper Menu Starts -->
					<div class="newspaper">

						<nav class="navbar-collapse">
							<ul class="nav navbar-nav">
								<li><a href="selected-paper.html">Times of India</a></li>
								<li><a href="selected-paper.html">The Hindu</a></li>
								<li><a href="selected-paper.html">Hindustan Times</a></li>
								<li><a href="selected-paper.html">Deccan Chronicle</a></li>
								<li><a href="selected-paper.html">Ajit</a></li>
								<li><a href="selected-paper.html">Amar Ujala</a></li>
								<li><a href="selected-paper.html">Anandabazar Patrika</a></li>
								<li><a href="selected-paper.html">Andhra Jyothy</a></li>
								<li><a href="selected-paper.html">Assam Tribune</a></li>
								<li><a href="selected-paper.html">Bombay Samachar</a></li>
								<li><a href="selected-paper.html">Business Line</a></li>
								<li><a href="selected-paper.html">Daily Hindi Milap</a></li>
								<li><a href="selected-paper.html">Daily Thanthi</a></li>
								<li><a href="selected-paper.html">Dainik Bhaskar</a></li>
								<li><a href="selected-paper.html">Dainik Jagran</a></li>
								<li><a href="selected-paper.html">Deccan Herald</a></li>
								<li><a href="selected-paper.html">Dharitri</a></li>
								<li><a href="selected-paper.html">Dinakaran</a></li>
								<li><a href="selected-paper.html">Dinamani</a></li>
								<li><a href="selected-paper.html">Divya Bhaskar</a></li>
								<li><a href="selected-paper.html">Divya Himachal</a></li>
								<li><a href="selected-paper.html">Divya Marathi</a></li>
								<li><a href="selected-paper.html">Economic Times</a></li>
								<li><a href="selected-paper.html">Eenadu</a></li>
								<li><a href="selected-paper.html">Ei Samay</a></li>
								<li><a href="selected-paper.html">Etemaad</a></li>
								<li><a href="selected-paper.html">Financial Express</a></li>
								<li><a href="selected-paper.html">Gujarat Samachar</a></li>
								<li><a href="selected-paper.html">Himali Bela</a></li>
								<li><a href="selected-paper.html">Hindustan Hindi</a></li>
								<li><a href="selected-paper.html">Indian Express</a></li>
								<li><a href="selected-paper.html">Jansatta</a></li>
								<li><a href="selected-paper.html">Kannada Prabha</a></li>
								<li><a href="selected-paper.html">Lokmat</a></li>
								<li><a href="selected-paper.html">Loksatta</a></li>
								<li><a href="selected-paper.html">Maharashtra Times</a></li>
								<li><a href="selected-paper.html">Malayala Manorama</a></li>
								<li><a href="selected-paper.html">Mathrubhumi</a></li>
								<li><a href="selected-paper.html">Metro India</a></li>
								<li><a href="selected-paper.html">Mirror</a></li>
								<li><a href="selected-paper.html">Munsif</a></li>
								<li><a href="selected-paper.html">Nai Dunia</a></li>
								<li><a href="selected-paper.html">Nav Gujarat Samay</a></li>
								<li><a href="selected-paper.html">Navbharat Times</a></li>
								<li><a href="selected-paper.html">New Indian Express</a></li>
								<li><a href="selected-paper.html">Prabhat Khabar</a></li>
								<li><a href="selected-paper.html">Prajavani</a></li>
								<li><a href="selected-paper.html">Pudhari</a></li>
								<li><a href="selected-paper.html">Punjab Kesari</a></li>
								<li><a href="selected-paper.html">Rajasthan Patrika</a></li>
								<li><a href="selected-paper.html">Sakal</a></li>
								<li><a href="selected-paper.html">Sakshi</a></li>
								<li><a href="selected-paper.html">Samaja</a></li>
								<li><a href="selected-paper.html">Sambad</a></li>
								<li><a href="selected-paper.html">Sandesh</a></li>
								<li><a href="selected-paper.html">Sandhya Times</a></li>
								<li><a href="selected-paper.html">Sanmarg</a></li>
								<li><a href="selected-paper.html">Siasat</a></li>
								<li><a href="selected-paper.html">Sikkim Express</a></li>
								<li><a href="selected-paper.html">Telegraph</a></li>
								<li><a href="selected-paper.html">The Hindu Tamil</a></li>
								<li><a href="selected-paper.html">Tribune</a></li>
								<li><a href="selected-paper.html">Vijay Karnataka</a></li>
							</ul>
						</nav>
					</div>
					<!-- Newspaper Menu Ends --> 
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingTwo">
				<div class="categories">
					<div class="navbar-header">

						<a class="navbar-brand" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">Categories<button  type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
						</button></a>
					</div>
				</div>
			</div>
			<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
				<div class="panel-body">
					<div class="categories">
						<div class="newspaper">

							<nav class="navbar-collapse">
								<ul class="nav navbar-nav">
									<li><a href="selected-category.html">Matrimonial</a></li>
									<li><a href="selected-category.html">Recruitments</a></li>
									<li><a href="selected-category.html">Property For Sale</a></li>
									<li><a href="selected-category.html">Property To Rent</a></li>
									<li><a href="selected-category.html">Name Change</a></li>
									<li><a href="selected-category.html">Lost Found</a></li>
									<li><a href="selected-category.html">Vehicles</a></li>
									<li><a href="selected-category.html">Astrology</a></li>
									<li><a href="selected-category.html">Business</a></li>
									<li><a href="selected-category.html">Computers</a></li>
									<li><a href="selected-category.html">Classified Remembrance</a></li>
									<li><a href="selected-category.html">Education</a></li>
									<li><a href="selected-category.html">Obituary</a></li>
									<li><a href="selected-category.html">Personal Announcement</a></li>
									<li><a href="selected-category.html">Personal Messages</a></li>
									<li><a href="selected-category.html">Retail</a></li>
									<li><a href="selected-category.html">Services</a></li>
									<li><a href="selected-category.html">Travel</a></li>	
								</ul>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading" role="tab" id="headingThree">
				<div class="edition">
					<div class="navbar-header">

						<a class="navbar-brand"  data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">Editions<button  type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
						</button></a>
					</div>
				</div>		
			</div>
			<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
				<div class="panel-body">
					<div class="edition">
						<div class="newspaper">

							<nav class="navbar-collapse">
								<ul class="nav navbar-nav">
									<li><a href="select-edition.html">24 Parganas</a></li>
									<li><a href="select-edition.html">Adilabad</a></li>
									<li><a href="select-edition.html">Agra</a></li>
									<li><a href="select-edition.html">Ahmedabad</a></li>
									<li><a href="select-edition.html">Ahmednagar</a></li>
									<li><a href="select-edition.html">Ajmer</a></li>
									<li><a href="select-edition.html">Akola</a></li>
									<li><a href="select-edition.html">Alappuzha</a></li>
									<li><a href="select-edition.html">Aligarh</a></li>
									<li><a href="select-edition.html">Allahabad</a></li>
									<li><a href="select-edition.html">Alwar</a></li>
									<li><a href="select-edition.html">Amravati</a></li>
									<li><a href="select-edition.html">Angul</a></li>
									<li><a href="select-edition.html">Andhra Pradesh</a></li>
									<li><a href="select-edition.html">Anantapur</a></li>
									<li><a href="select-edition.html">Aurangabad</a></li>
									<li><a href="select-edition.html">Bagalkot</a></li>
									<li><a href="select-edition.html">Balasore</a></li>
									<li><a href="select-edition.html">Bangalore</a></li>
									<li><a href="select-edition.html">Banswara</a></li>
									<li><a href="select-edition.html">Baroda</a></li>
									<li><a href="select-edition.html">Bareilly</a></li>
									<li><a href="select-edition.html">Belgaum</a></li>
									<li><a href="select-edition.html">Berhampur</a></li>
									<li><a href="select-edition.html">Bhagalpur</a></li>
									<li><a href="select-edition.html">Bhavnagar</a></li>
									<li><a href="select-edition.html">Bhilwara</a></li>
									<li><a href="select-edition.html">Bhopal</a></li>
									<li><a href="select-edition.html">Bhubneshwar</a></li>
									<li><a href="select-edition.html">Bhuj</a></li>
									<li><a href="select-edition.html">Bikaner</a></li>
									<li><a href="select-edition.html">Bilaspur</a></li>
									<li><a href="select-edition.html">Birbhum</a></li>
									<li><a href="select-edition.html">Bardhaman</a></li>
									<li><a href="select-edition.html">Chandigarh</a></li>
									<li><a href="select-edition.html">Central Kerala</a></li>
									<li><a href="select-edition.html">Chennai</a></li>
									<li><a href="select-edition.html">Chitradurga</a></li>
									<li><a href="select-edition.html">Chittor</a></li>
									<li><a href="select-edition.html">Coimbatore</a></li>
									<li><a href="select-edition.html">Cuddalore</a></li>
									<li><a href="select-edition.html">Cuttack</a></li>
									<li><a href="select-edition.html">Davangere</a></li>
									<li><a href="select-edition.html">Dehradun</a></li>
									<li><a href="select-edition.html">Delhi</a></li>
									<li><a href="select-edition.html">Deoghar</a></li>
									<li><a href="select-edition.html">Dharamshala</a></li>
									<li><a href="select-edition.html">Dhanbad</a></li>
									<li><a href="select-edition.html">Dindugal</a></li>
									<li><a href="select-edition.html">East Godavari</a></li>
									<li><a href="select-edition.html">Erode</a></li>
									<li><a href="select-edition.html">Gangtok</a></li>
									<li><a href="select-edition.html">Gangavati</a></li>
									<li><a href="select-edition.html">Gaya</a></li>
									<li><a href="select-edition.html">Gr. Hyderabad</a></li>
									<li><a href="select-edition.html">Guntur</a></li>
									<li><a href="select-edition.html">Goa</a></li>
									<li><a href="select-edition.html">Gorakhpur</a></li>
									<li><a href="select-edition.html">Gulbarga</a></li>
									<li><a href="select-edition.html">Guwahati</a></li>
									<li><a href="select-edition.html">Gwalior</a></li>
									<li><a href="select-edition.html">Hassan</a></li>
									<li><a href="select-edition.html">Hooghly</a></li>
									<li><a href="select-edition.html">Hoshangabad</a></li>
									<li><a href="select-edition.html">Howrah</a></li>
									<li><a href="select-edition.html">Hubli</a></li>
									<li><a href="select-edition.html">Hyderabad</a></li>
									<li><a href="select-edition.html">Indore</a></li>
									<li><a href="select-edition.html">Jabalpur</a></li>
									<li><a href="select-edition.html">Jammu &amp; Kashmir</a></li>
									<li><a href="select-edition.html">Jalandhar</a></li>
									<li><a href="select-edition.html">Jalgaon</a></li>
									<li><a href="select-edition.html">Jamshedpur</a></li>
									<li><a href="select-edition.html">Jeypore</a></li>
									<li><a href="select-edition.html">Jhansi</a></li>
									<li><a href="select-edition.html">Jharkhand</a></li>
									<li><a href="select-edition.html">Jodhpur</a></li>
									<li><a href="select-edition.html">Jaipur</a></li>
									<li><a href="select-edition.html)">Jaipur (Upcountry)</a></li>
									<li><a href="select-edition.html">Kadapa</a></li>
									<li><a href="select-edition.html">Kannur</a></li>
									<li><a href="select-edition.html">Khandwa</a></li>
									<li><a href="select-edition.html">Khandesh</a></li>
									<li><a href="select-edition.html">Khammam</a></li>
									<li><a href="/editions/kanpur">Kanpur</a></li>
									<li><a href="/editions/karnataka">Karnataka</a></li>
									<li><a href="/editions/kochi">Kochi</a></li>
									<li><a href="/editions/kokan">Kokan</a></li>
									<li><a href="/editions/kolkatta">Kolkatta</a></li>
									<li><a href="/editions/kolar">Kolar</a></li>
									<li><a href="/editions/kollam">Kollam</a></li>
									<li><a href="/editions/kolhapur">Kolhapur</a></li>
									<li><a href="/editions/kota">Kota</a></li>
									<li><a href="/editions/kottayam">Kottayam</a></li>
									<li><a href="/editions/kozhikode">kozhikode</a></li>
									<li><a href="/editions/kerala">Kerala</a></li>
									<li><a href="/editions/karimnagar">Karimnagar</a></li>
									<li><a href="/editions/kurnool">Kurnool</a></li>
									<li><a href="/editions/krishna">Krishna</a></li>
									<li><a href="/editions/lucknow">Lucknow</a></li>
									<li><a href="/editions/ludhiana">Ludhiana</a></li>
									<li><a href="/editions/madurai">Madurai</a></li>
									<li><a href="/editions/malappuram">Malappuram</a></li>
									<li><a href="/editions/madhya-pradesh">Madhya Pradesh</a></li>
									<li><a href="/editions/medak">Medak</a></li>
									<li><a href="/editions/medinipur">Medinipur</a></li>
									<li><a href="/editions/meerut">Meerut</a></li>
									<li><a href="/editions/mahabubnagar">Mahabubnagar</a></li>
									<li><a href="/editions/mangalore">Mangalore</a></li>
									<li><a href="/editions/moradabad">Moradabad</a></li>
									<li><a href="/editions/mumbai">Mumbai</a></li>
									<li><a href="/editions/murshidabad">Murshidabad</a></li>
									<li><a href="/editions/muzaffarpur">Muzaffarpur</a></li>
									<li><a href="/editions/mysore">Mysore</a></li>
									<li><a href="/editions/nagercoil">Nagercoil</a></li>
									<li><a href="/editions/nagar">Nagar</a></li>
									<li><a href="/editions/nainital">Nainital</a></li>
									<li><a href="/editions/nasa-or-pondy">NASA or Pondy</a></li>
									<li><a href="/editions/nadia">Nadia</a></li>
									<li><a href="/editions/nellai">Nellai</a></li>
									<li><a href="/editions/nellore">Nellore</a></li>
									<li><a href="/editions/nalgonda">Nalgonda</a></li>
									<li><a href="/editions/nagpur">Nagpur</a></li>
									<li><a href="/editions/north-kerala">North Kerala</a></li>
									<li><a href="/editions/nashik">Nashik</a></li>
									<li><a href="/editions/nizamabad">Nizamabad</a></li>
									<li><a href="/editions/overseas">Overseas</a></li>
									<li><a href="/editions/palakkad">Palakkad</a></li>
									<li><a href="/editions/pali">Pali</a></li>
									<li><a href="/editions/pathanamthitta">Pathanamthitta</a></li>
									<li><a href="/editions/prakasam">Prakasam</a></li>
									<li><a href="/editions/patna">Patna</a></li>
									<li><a href="/editions/pune">Pune</a></li>
									<li><a href="/editions/purulia">Purulia</a></li>
									<li><a href="/editions/raipur">Raipur</a></li>
									<li><a href="/editions/rajkot">Rajkot</a></li>
									<li><a href="/editions/ranchi">Ranchi</a></li>
									<li><a href="/editions/ratlam">Ratlam</a></li>
									<li><a href="/editions/rayagada">Rayagada</a></li>
									<li><a href="/editions/ranga-reddy">Ranga Reddy</a></li>
									<li><a href="/editions/rohtak">Rohtak</a></li>
									<li><a href="/editions/rourkela">Rourkela</a></li>
									<li><a href="/editions/sagar">Sagar</a></li>
									<li><a href="/editions/salem">Salem</a></li>
									<li><a href="/editions/sambalpur">Sambalpur</a></li>
									<li><a href="/editions/sangli">Sangli</a></li>
									<li><a href="/editions/santhal">Santhal</a></li>
									<li><a href="/editions/shimla">Shimla</a></li>
									<li><a href="/editions/shimoga">Shimoga</a></li>
									<li><a href="/editions/sikar">Sikar</a></li>
									<li><a href="/editions/siliguri">siliguri</a></li>
									<li><a href="/editions/sindhudurg">Sindhudurg</a></li>
									<li><a href="/editions/srikakulam">Srikakulam</a></li>
									<li><a href="/editions/solapur">Solapur</a></li>
									<li><a href="/editions/sriganganagar">Sriganganagar</a></li>
									<li><a href="/editions/satara">Satara</a></li>
									<li><a href="/editions/surat">Surat</a></li>
									<li><a href="/editions/tanjore">Tanjore</a></li>
									<li><a href="/editions/thrissur">Thrissur</a></li>
									<li><a href="/editions/trichy">Trichy</a></li>
									<li><a href="/editions/trivandrum">Trivandrum</a></li>
									<li><a href="/editions/tumkur">Tumkur</a></li>
									<li><a href="select-edition.html">Udaipur</a></li>
									<li><a href="select-edition.html">Ujjain</a></li>
									<li><a href="select-edition.html">Varanasi</a></li>
									<li><a href="select-edition.html">Vellore</a></li>
									<li><a href="select-edition.html">Vijayawada</a></li>
									<li><a href="select-edition.html">Visakhapatnam</a></li>
									<li><a href="select-edition.html">Visakhapatnam Dist</a></li>
									<li><a href="select-edition.html">Vizianagaram</a></li>
									<li><a href="select-edition.html">West Godavari</a></li>
									<li><a href="select-edition.html">Warangal</a></li>	
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	