<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
	<span> 
	<div ng-show="!editDiv">	
		<div class="gridContentTitle title ">
			<div class="DSPLYRUBY">
				<a href="#/vendorDashboard">Home</a>
				<a href="#/digital"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>digital</p></a>
				<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{digitalKnowmoreControllerScope.currentPage}}</p>
			</div>
			<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
		</div>	
		<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			<div class="col-md-2 col-sm-4 col-xs-6 ng-scope" ng-repeat="(key, value) in digitalKnowmoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        {{key}}
                    </p>
                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
                        {{value.value}}
                    </p>
                </div>
            </div>
		</div> -->
	
		<div class="textalignCenter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0" ng-repeat="(key, value) in digitalKnowmoreControllerScope.recordDetails.mediaOptions">
					<div class="KnwEdtTitle padd"><span class="brdbttmTitle">{{key}}</span></div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key1, value1) in value">
						<div class="grid-content">
							<div>
								<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
							</div>
							<div class="pricePadBttm">
								<h3>{{key1}}</h3>
								<p><i class="fa fa-tag"></i></p>
				                <p class="padd" uib-tooltip="value" tooltip-placement="left">
				                    {{value1.pricingUnit1}}
				                </p>
				                <!-- <p class="" uib-tooltip="key" tooltip-placement="left">
				                    {{value1.cardRate}}
				                </p>
				                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
				                    {{value1.discountedRate}}
				                </p> -->
				            </div>
	             		</div>		
						<!-- <div class="btnCenter">
							<div class="getMoreBtn">
								<a class="card-button btn">Get Quotes</a>
							</div>
						</div> -->
					</div>
				</div>
			</div>	
		</div>
	</div>

	<div ng-hide="!editDiv"> 
		<div class="inner-content">
			<form name="outdoorDetailsForm" novalidate>
				<div class="form-padding BRDBTM2PX">
					<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails._id" /></div>
					<div class="row">
						<label class="col-sm-6">Digital Name<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.name" required/>
						<div class="col-sm-6"></div>										
					</div>
					<div class="row">
						<label class="col-sm-6">Logo<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.logo" required/>
						<div class="col-sm-6"></div>										
					</div>			
					<div class="row">
						<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.urlSlug" required/>
						<div class="col-sm-6"></div>										
					</div>
					<div class="row">
						<label class="col-sm-6">Medium<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="medium" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.medium" required/>
						<div class="col-sm-6"></div>										
					</div>
					<div class="row">
						<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.serviceTaxPercentage" required/>
						<div class="col-sm-6"></div>										
					</div>
					<div class="row">
						<label class="col-sm-6">MinimumBilling<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="minimumBilling" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.minimumBilling" required/>
						<div class="col-sm-6"></div>										
					</div>
					<div class="row">
						<label class="col-sm-6">CategoryName<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.categoryName" required/>
						<div class="col-sm-6"></div>										
					</div>
					<div class="row">
						<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
						<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.cardRate" required/>
						<div class="col-sm-6"></div>										
					</div>
				</div>

				<div>
					<div class="KnwEdtTitle">
						<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 PADD0">
							<span class="brdbttmTitle">Attributes</span>
						</div>										
					</div>
				</div>
				<div class="form-padding BRDBTM2PX">
					<div class="row">
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Medium</label>
								<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.attributes.medium.value" />
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Reach</label>
								<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalKnowmoreControllerScope.recordDetails.attributes.reach.value" required/>
							</span>
						</div>
					</div>
				</div>
				<div class="form-padding  PADD0">				
					<div class="" ng-repeat="(key1, value) in digitalKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
						<div class="KnwEdtTitle"><span class="brdbttmTitle">{{key1}}</span>
							<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="digitalKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></span>
						</div>
						<!-- <div class="row">					
							<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT"></div>
						</div> -->
						
						<div class="PADDLFT10px" ng-repeat="(key2, value) in value">
							<div ng-click="expanded = !expanded" class="KnwEdtTitle">{{key2}}
								<span class="padd"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
							</div>				
							<div ng-repeat="(key, value) in value" ng-show="expanded ">		
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12" >
									<span class="col-sm-12  PADDLFT10px">
										<label class="col-sm-6">{{key}}</label>
										<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value" required/>
									</span>
								</div>
							</div>
						</div>
					</div>
				</div>			
				<div class="form-details1 padd">
					<div>
						<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="digitalKnowmoreControllerScope.updateDigital()">Save</button>
						<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
					</div>
				</div>
			</form>
		</div>
	</div>
	</span>
</span>
</div>
