<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
    
			<div class="contentTitle">
				Digital Details
			</div>
			<div class="textalignCenter">
				<div class="inner-content">
					<form name="digitalDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX MARGINBT10">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="digitalName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digital._id" /></div>
							<div class="row">
								<label class="col-sm-6">Digital Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="digitalName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.urlSlug" required/>
								<div class="col-sm-6"></div>						
							</div>	
							<div class="row">
								<label class="col-sm-6">Logo<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.logo" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.serviceTaxPercentage" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">Medium<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="medium" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.medium" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">MinimumBilling<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="minimumBilling" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.minimumBilling" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">CategoryName<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.categoryName" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.cardRate" required/>
								<div class="col-sm-6"></div>										
							</div>	

						</div>


						<div>
							<div class="">
								<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Medium</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="medium" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.attributes.medium.value" required/>
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Reach</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.attributes.reach.value" required/>
									</span>											
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span>
										<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="digitalControllerScope.addMore(digital)"></img></span>
									</div>
								</div>
							</div>
						</div>
						<!-- {{digitalControllerScope.digital}} -->
						<div class="form-padding BRDBTM2PX MARGINBT10">									
							<div class="row" ng-repeat="key in digitalControllerScope.mediaOptions track by $index">
								<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded = !expanded">{{key}}<span class="padd">
									<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
								</div>
								<div class="PADDLFT10px" ng-repeat="option in digitalControllerScope[key] track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
										<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
									</div>
									<div  ng-show="expanded1" class="PADDLFT10px">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">VendorRate</label>
												<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].vendorRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">DiscountedRate</label>
												<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].discountedRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ImageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].imageUrl" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit1</label>
												<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].minimumQtyUnit1" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingUnit1</label>
												<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].pricingUnit1" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">Description</label>
												<input type="text" id="description" class="col-sm-6 form-control1" name="description" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].description" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].cardRate" required/>
											</span>												
										</div>		
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ShowName</label>
												<input type="text" id="showName" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].showName" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">FiltersPossible</label>
												<input type="text" id="filtersPossible" class="col-sm-6 form-control1" name="filtersPossible" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].filtersPossible" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CreativeFormat</label>
												<input type="text" id="creativeFormat" class="col-sm-6 form-control1" name="creativeFormat" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].creativeFormat" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">AdType</label>
												<input type="text" id="adType" class="col-sm-6 form-control1" name="adType" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].adType" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingModel</label>
												<input type="text" id="pricingModel" class="col-sm-6 form-control1" name="pricingModel" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="digitalControllerScope.digital.mediaOptions[key][option].pricingModel" required/>
											</span>												
										</div>											
									</div>										
								</div>
							</div> 
						</div>

						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="digitalControllerScope.addDigital()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</span>
</div>
