

<!--Main Content - Banner Starts-->


<div class="banner">
	<div class="container">
		<h1>Book Advertising in Newspaper easily online</h1>
		<h2>Let’s Begin! Select ad an type.</h2>



</div>
<div class="col-sm-8"></div>
<div class="col-sm-4 CCC">
<h4 class="h4Line"> Register </h4>
 <form name="reg1" class="formCenter">
     
	<div class="group">      
      <input class="inputMaterial" name="email" type="text" id="email" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/"  ng-model="user.email"  required/>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Email Id</label>
      <!-- <span ng-show = "register.email.$invalid && register.email.$touched" class="COLORRED FONT12PX">
      <span ng-show = "register.email.$error.required" class="COLORRED FONT12PX"></span> -->
      <span ng-show ="reg1.email.$error.pattern" class="COLORRED FONT12PX"> Enter valid email id.</span>
      <!-- </span> -->
  </div>
	<div class="group">      
      <input class="inputMaterial" name="mobileNo" type="text" id="mobileNo"  ng-pattern="/^[0-9]{1,10}$/" ng-model="user.phone" phone-input maxlength="10"  required/>
      <span class="highlight"></span>
      <span class="bar"></span>
      <label>Mobile Number</label>
      <!-- <span ng-show = "register.mobileNo.$invalid && register.mobileNo.$touched" class="COLORRED FONT12PX">
      <span ng-show = "register.mobileNo.$error.required" class="COLORRED FONT12PX"></span> -->
      <span ng-show ="reg1.mobileNo.$error.pattern" class="COLORRED FONT12PX"> Enter valid mobile number.</span>
      <!-- </span> -->
  </div>

	<div class="TXTCENTER"> 
      <button class="btn fltnone butn butnn" ng-click="vm.register(user)"  value="submit" type="submit">Register</button> 
  </div>
</form>
</div>
</div>
<!--Main Content - Banner Ends-->


<!--Section3 Starts-->
<div class="section3">
	<div class="container">
		<h2>BOOK NEWSPAPER CLASSIFIED</h2>
		<h3>ADVERTISEMENTS ONLINE WITH AN EASE!</h3>
		<p>Ads2Publish.com makes easy to book Classified & Display Advertisements for all leading newspapers in India! Now book classified ads in Times of India, The Hindu, Hindustan Times, Eenadu, Deccan Chronicle, Malayala Manorama, Sakal, Lokmat, Gujarat Samachar and all other leading newspapers. Book Matrimonial, Property, Recruitment & other Ads at lowest rates online.</p>
		<div class="boxes">
			<div class="col-sm-3">
				<img src="ui/images/secure.jpg"/>
				<p>Easy &amp; Secure Ad Booking.</p>
			</div>
			<div class="col-sm-3">
				<img src="ui/images/book.jpg"/>
				<p>Book all types of Newspaper Advertisements</p>
			</div>
			<div class="col-sm-3">
				<img src="ui/images/per.jpg"/>
				<p>Book Ads for All Leading publications at discounted rates.</p>
			</div>
			<div class="col-sm-3">
				<img src="ui/images/payment.jpg"/>
				<p>Easy Payment Options.</p>
			</div>		 
		</div>
	</div>
</div>
<!--Section3 Ends-->

<!-- Content Login POPUP Starts -->
  
<!-- Content Login POPUP Ends -->



	