<div ng-controller="leftMenusController as leftMenusControllerScope" >
	<span>
		<div>	
			<ul class="LEFTNAV PADD0LFT" ng-class="{'profileShow': profileactive, 'profileHide': !profileactive}">
				<li class="PADD0 DISPLAYNONE ">
					<a href="" class="DISPLAYFLEX">							
						<span class="" ng-click="profileactive = !profileactive">
							<i class="fa fa-angle-left" aria-hidden="true" ng-class="{'ROTATEX':! profileactive, 'ROTATEY': profileactive}" ></i>
						</span>
					</a>
				</li>

				<li class=" PADD0 DISPLAYNONE">
					<a href="#/home" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-tachometer" aria-hidden="true"></i>
						</span>
						<span class="navTitle" >Dashboard</span>
					</a>
				</li>

				<li class=" PADD0 DISPLAYNONE">
					<a href="#/myProfile" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						<span class="navTitle" >My&nbspProfile</span>
					</a>
				</li>

				<li class=" PADD0 DISPLAYNONE">
					<a href="#/order" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-cart-plus" aria-hidden="true"></i>
						</span>
						<span class="navTitle" >Order</span>
					</a>
				</li>

				<li class=" PADD0 DISPLAYNONE">
					<a href="#/myQuotes" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-comment" aria-hidden="true"></i>
						</span>
						<span class="navTitle">My&nbspQuotes</span>
					</a>
				</li>
			</ul>

			<ul class="LEFTNAV PADD0LFT DISPLAYBLOCK" ng-class="{'profileShow': profileactive, 'profileHide': !profileactive}">
				<li class="PADD0 ">
					<a href="" class="DISPLAYFLEX">							
						<span class="" ng-click="profileactive = !profileactive">
							<i class="fa fa-angle-left" aria-hidden="true" ng-class="{'ROTATEX': profileactive, 'ROTATEY70': !profileactive}" ></i>
						</span>
					</a>
				</li>

				<li class=" PADD0 ">
					<a href="#/home" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-tachometer" aria-hidden="true"></i>
						</span>
						<span class="navTitle" >Dashboard</span>
					</a>
				</li>

				<li class=" PADD0 ">
					<a href="#/myProfile" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-user" aria-hidden="true"></i>
						</span>
						<span class="navTitle" >My&nbspProfile</span>
					</a>
				</li>

				<li class=" PADD0 ">
					<a href="#/order" class="DISPLAYFLEX">
						<span class=" " >
							<i class="fa fa-cart-plus" aria-hidden="true"></i>
						</span>
						<span class="navTitle">Order</span>
					</a>
				</li>



			</ul>
		</div>

	</span> 

</div>

