<!-- Content Starts -->

<!-- <div class="container bodyContainer">
	<div class="inner-content_login form">
		<div class="form-details">

			<!-- Sign Up form starts -->
			<div class="col-sm-6 BORDERRIGHT">
				
			<div class=" register">
				
				<form name="register" id="registerId" class="register-form" novalidate>
					<legend class="legend_border">
					<div class="col-sm-2">
						<img src="{{vm.staticSource}}/ui/images/register.jpg" alt="icon" />
					</div>
					<div class="col-sm-10">
						<span class="width81">If you have not registered before? Register</span>
					</legend>

					<div class="form-group MrgLeft0px">
						<div class="form-group MrgLeft0px">
							<input type="text" placeholder="Name" id="name" class="form-control" name="name" pattern="[A-Za-z.]{1,25}" ng-model="user.name" required/>
							<span ng-show="register.name.$invalid && register.name.$touched" class="COLORRED FONT12PX">Name is required</span>
						</div>

						<div class="form-group MrgLeft0px">
							<input type="email" name="email" placeholder="Email Id" id="email" class="form-control" pattern="[A-Za-z@.0-9_!]{1,25}" ng-model="user.email" required/>
							<span ng-show="register.email.$invalid && register.email.$touched" class="COLORRED FONT12PX">Enter a valid email.</span>
						</div>

						<div class="form-group MrgLeft0px">
							<input type="num" placeholder="Mobile Number" name="mobileNo" id="mobileNo" class="form-control" ng-model="user.mobileNo" pattern="[0-9]{1,10}"  phone-input maxlength="10" required/>
							<span ng-show="register.mobileNo.$invalid && register.mobileNo.$touched" class="COLORRED FONT12PX">Mobile Number is required</span>
						</div>
						<div class="form-group MrgLeft0px">
							<input type="password" placeholder="Password" id="password" class="form-control"  name="password" ng-model="user.password" ng-minlength="8" required />
							<span ng-show="register.password.$invalid && register.password.$touched" class="COLORRED FONT12PX">Password is required <br> (Minimum 8 characters).</span>
						</div>
						<div class="form-group MrgLeft0px">
							<input type="password" placeholder="Confirm Password" id="verify" class="form-control" name="verify" ng-model="user.verify" required compare-to="user.password"/>
							<!-- <p ng-show="register.verify.$invalid && register.verify.$touched"> -->
								
								<span ng-show="register.verify.$error && register.verify.$invalid && register.verify.$touched" class="COLORRED FONT12PX"> Confirm your password.</span>
								
							<!-- </p> -->
						</div>
						<div class="TXTCENTER">	
							<button class="btn btn-default fltnone butn" ng-disabled="signupForm.$invalid" ng-click="loginControllerScope.register(user)"  >Sign Up</button>	
						</div>
						
						<div class="or1 marginleft8em">
							<p class="or_text1" ng-click="togglesocialSignupmodel()">Social Sign Up
							</p>
						</div>
						<div class=" col-md-12 col-lg-12 col-sm-12 signup_model_animtn">
							<a class="btn  btn-block btn-social btn-facebook" ng-click="FBlogin()">
								<span class="fa fa-facebook verticalLine margright"></span> Sign Up with Facebook
							</a>
						</div>
						
						<div class="col-md-12 col-lg-12 col-sm-12 signup_model_animtn">
							<a class="btn  btn-block btn-social btn-google">
								<span class="fa fa-google verticalLine mrgnleftt"></span> Sign Up with Google
							</a>
							</div>
					</div>
					</div>
				</form>	
			</div>
		 </div>
			Sign Up form ends

			<!-- Login form starts -->
			<div class="col-sm-6 login-form">
			
			<div class="login-form">
				
				<form name="register1" class="register-form" novalidate>

					<legend class="legend_border">
					<div class="col-sm-2">
						<img src="{{vm.staticSource}}/ui/images/login-icon.jpg" alt="icon" />
						</div>
						<div class="col-sm-10">
						<span class="TOP10PX width_10px" >Already have an account? <br/>Login</span>
					</legend>
					<div class="form-group MrgLeft0px">
						

						<div class="form-group MrgLeft0px">
							<input type="email" placeholder="Email Id or Mobile Number" id="email1"  name="email1"  class="form-control" pattern="[A-Za-z@.0-9_!]{1,25}" ng-model="user.userName" required/>
							<span ng-show="register1.email1.$invalid && register1.email1.$touched" class="COLORRED FONT12PX">Enter Your Email Id or Mobile Number.</span>
						</div>				       		

						<div class="form-group MrgLeft0px">
							<input type="password" placeholder="Password" id="password" class="form-control" name="password1" ng-model="user.userPassword" ng-minlength="8" required />
							<span ng-show="register1.password1.$invalid && register1.password1.$touched" class="COLORRED FONT12PX">Password is required <br> (Minimum 8 characters).</span>
						</div>

						<div class="form-group MrgLeft0px">
							<span ng-if="user.loginFailed" class="COLORRED FONT12PX">Username and password is incorrect</span>
						</div>

						<div class="TXTCENTER">	
							<button class="btn btn-default fltnone butn" ng-disabled="loginForm.$invalid" ng-click="loginControllerScope.login(user)" >Login</button>	
						</div>

						
						<div class="or1">
							<p class="or_text1" ng-click="togglesocialSignupmodel()">Social Login
							</p>
						</div>
						<div class="TXTCTR">
							<div class="col-md-12 col-lg-12 col-sm-12 signup_model_animtn">
								<a class="btn  btn-block btn-social btn-facebook" ng-click="FBlogin()">
								<span class="fa fa-facebook verticalLine mrgnleftt"></span> Login with Facebook
							</a>
							</div>
							<div class="col-md-12 col-lg-12 col-sm-12 signup_model_animtn">
								<a class="btn  btn-block btn-social btn-google" ng-click="FBlogin()">
								<span class="fa fa-google verticalLine mrgnleftt"></span> Login with Facebook
							</a>
							</div>
						</div>	
					</div>
				
				<div class="forgot" ng-init="active=true"><a id="forgot" ng-click="active=!active">Forgot your password?</a></div>
				
				<!-- Login form ends -->
				
				<!-- Forgot form starts -->
				<div ng-class="{'showdiv':!active, 'hidediv': active}">
					<form name="register1" id="register1" novalidate>
						<div class="form-group MrgLeft0px">
							<input type="email" placeholder="Email Id or Mobile Number" id="register1" name="forgetpassword" class="form-control" pattern="[A-Za-z@.0-9_!]{1,25}" ng-model="user.userName" required/>
							<span ng-show="register1.forgetpassword.$invalid && register1.forgetpassword.$touched" class="COLORRED FONT12PX">Enter Your Email Id or Mobile Number.</span>
						</div>       		
						
						<div class="TXTCENTER">	
							<button class="btn btn-default fltnone butn" ng-disabled="signupForm.$invalid" ng-click="loginControllerScope.forgetpass(user)"> Reset Password</button>	
						</div>
					</form>
				</div>
				</div>
				<!-- Forgot form ends -->
				</form>
			</div>
            
			</div>
		</div> 
	</div>
</div> -->