<div class="parentContainer"> 

	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
	<span> 

	<div ng-show="!editDiv">	
		<div class="gridContentTitle title ">
			<div class="DSPLYRUBY">
				<a href="#/vendorDashboard">Home</a>
				<a href="#/magazine"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>magazine</p></a>
				<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{magazineKnowMoreControllerScope.currentPage}}</p>
			</div>
			<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
		</div>	

		<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			<div class="col-md-2 col-sm-4 col-xs-6 ng-scope" ng-repeat="(key, value) in magazineKnowMoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold">
                        {{key}}
                    </p>
                    <p class="last ng-binding">
                        {{value.value}}
                    </p>
                </div>
            </div>
		</div> -->
	
		<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regular Options</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in magazineKnowMoreControllerScope.recordDetails.mediaOptions.regularOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/ui/images/India_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<div class="pricePadBttm">
							<p class="card-heading"><strong>{{key}}</strong></p>
							<p class="card-heading"><i class="fa fa-tag"></i></p>
			               <!--  <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value['1-2']}}
			                </p>	 -->
			            </div>
		        	</div>
	                <!-- <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div> -->
	         	</div>	
			</div>
		</div>	
	</div>

	<div ng-hide="!editDiv"> 
		<div class="inner-content">
		<form name="outdoorDetailsForm" novalidate>
			<div class="form-padding BRDBTM2PX">
				<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails._id" /></div>
				<div class="row">
					<label class="col-sm-6">Magazine Name<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.name" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Logo<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.logo" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Thumbnail<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="thumbnail" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.thumbnail" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">CreatedBy<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="createdBy" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.createdBy" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.urlSlug" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">IRS<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="IRS" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.IRS" required/>
					<div class="col-sm-6"></div>										
				</div>	
				<div class="row">
					<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.serviceTaxPercentage" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">CategoryName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.categoryName" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.cardRate" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">DiscountedRate<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.discountedRate" required/>
					<div class="col-sm-6"></div>										
				</div>
							
			</div>
<!-- {{magazineKnowMoreControllerScope.recordDetails}} -->
			<div>
				<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
					<span class="brdbttmTitle">Attributes</h3>
				</div>										
			</div>
			<div class="form-padding BRDBTM2PX">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">CategoryName</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.attributes.categoryName.value" />
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">Circulation</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="circulation" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.attributes.circulation.value" required/>
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">Frequency</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="frequency" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.attributes.frequency.value" required/>
						</span>						
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">Language</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="language" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineKnowMoreControllerScope.recordDetails.attributes.language.value" required/>
						</span>
					</div>
				</div>
			</div>
			<div class="MARGINBT10">
				<!-- <div class="">					
					<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
					</div>
				</div> -->
				<div class="" ng-repeat="(key1, value) in magazineKnowMoreControllerScope.recordDetails.mediaOptions track by $index">
					<div class="KnwEdtTitle">
						<span class="brdbttmTitle">{{key1}}</span><span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="magazineKnowMoreControllerScope.addMoreOption(magazineKnowMoreControllerScope.recordDetails.mediaOptions[key1],key1)"></img></span></h3>
					</div>
					<!-- <div class="row">					
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT"></div>
					</div> -->
					
					<div ng-repeat="(key, value) in value" class="PADDLFT10px">
						<div ng-click="expanded = !expanded" class="KnwEdtTitle">{{key}}<span class="padd">
							<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
						</div>						
						<div ng-show="expanded || $last">
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">CardRate</label>
								<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.cardRate" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">1-2</label>
								<input type="text" id="12" class="col-sm-6 form-control1" name="12" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value['1-2']" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">3-6</label>
								<input type="text" id="36" class="col-sm-6 form-control1" name="36" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value['3-6']" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">Image Url</label>
								<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.imageUrl" required/>
							</span>												
						</div>
						
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">1-2</label>
								<input type="text" id="12" class="col-sm-6 form-control1" name="12" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.mediaAntMarginPercentage['1-2']" required/>
							</span>												
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">3-6</label>
								<input type="text" id="36" class="col-sm-6 form-control1" name="36" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.mediaAntMarginPercentage['3-6']" required/>
							</span>												
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD0 PADDLFT10px">
								<label class="col-sm-6">7+</label>
								<input type="text" id="7plus" class="col-sm-6 form-control1" name="7plus" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.mediaAntMarginPercentage['7+']" required/>
							</span>												
						</div>
					
						
					</div>
					</div>
				</div>
			</div>	
			<div class="form-details1 PADD0">
				<div>
				<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="magazineKnowMoreControllerScope.updateMagazine()">Save</button>
				<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
				
				</div>
			</div>
		</form>
		</div>
	</div>
	</span>
    </span>
</div>
