<div class="parentContainer">
<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
			<div class="contentTitle">
				Magazine Details
			</div>
			<div class="textalignCenter">
				<div class="inner-content">
					<form name="magazineDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="magazineName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazine._id" /></div>
							<div class="row">
								<label class="col-sm-6">Magazine Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="magazineName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">ToolId<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="toolId" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.toolId" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Logo<span class="CLR">*</span></label>
								<input type="text" id="logo" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.logo" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">CreatedBy<span class="CLR">*</span></label>
								<input type="text" id="createdBy" class="col-sm-6 form-control1" name="createdBy" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.createdBy" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
								<input type="text" id="urlSlug" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.urlSlug" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">IRS<span class="CLR">*</span></label>
								<input type="text" id="IRS" class="col-sm-6 form-control1" name="IRS" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.IRS" required/>
								<div class="col-sm-6"></div>										
							</div>	

							<div class="row">
								<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
								<input type="text" id="serviceTaxPercentage" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.serviceTaxPercentage" required/>
								<div class="col-sm-6"></div>										
							</div>	
							
							<div class="row">
								<label class="col-sm-6">CategoryName<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.categoryName" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.cardRate" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">DiscountedRate<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.discountedRate" required/>
								<div class="col-sm-6"></div>										
							</div>																	
						</div>

						<div>
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">categoryName</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.attributes.categoryName.value" />
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Circulation</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="circulation" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.attributes.circulation.value" required/>
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Frequency</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="frequency" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.attributes.frequency.value" required/>
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Language</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="language" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.attributes.language.value" required/>
									</span>
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle">Media Options<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="magazineControllerScope.addMore(magazine)"></img></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-padding BRDBTM2PX MARGINBT10">									
							<div class="" ng-repeat="key in magazineControllerScope.mediaOptions track by $index">
								<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded = !expanded">{{key}}<span class="padd">
									<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
								</div>

								<div class="PADDLFT10px" ng-if="key == 'regularOptions'" ng-repeat="option in magazineControllerScope.regularOptions track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
										<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
									</div>
									<div ng-show="expanded1" style="background:white">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option].cardRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">1-2</label>
												<input type="text" id="12" class="col-sm-6 form-control1" name="12" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option]['1-2']" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">3-6</label>
												<input type="text" id="discount" class="col-sm-6 form-control1" name="36" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option]['3-6']" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">7</label>
												<input type="text" id="7" class="col-sm-6 form-control1" name="7" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option]['7+']" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">imageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option].imageUrl" required/>
											</span>												
										</div>
										<div class="PADDLFT10px">
											<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
												<span class="col-sm-12 PADD PADDLFT10px KnwEdtTitle">
													MediaAntMarginPercentage
												</span>												
											</div>
											<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
												<span class="col-sm-12 PADD PADDLFT10px">
													<label class="col-sm-6">1-2</label>
													<input type="text" id="mediaAntMarginPercentage1-2" class="col-sm-6 form-control1" name="mediaAntMarginPercentage1-2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option].mediaAntMarginPercentage['1-2']" required/>
												</span>												
											</div>		
											<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
												<span class="col-sm-12 PADD PADDLFT10px">
													<label class="col-sm-6">3-6</label>
													<input type="text" id="mediaAntMarginPercentage36" class="col-sm-6 form-control1" name="mediaAntMarginPercentage36" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option].mediaAntMarginPercentage['3-6']" required/>
												</span>												
											</div>	
											<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
												<span class="col-sm-12 PADD PADDLFT10px">
													<label class="col-sm-6">7</label>
													<input type="text" id="mediaAntMarginPercentage7" class="col-sm-6 form-control1" name="mediaAntMarginPercentage7" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="magazineControllerScope.magazine.mediaOptions[key][option].mediaAntMarginPercentage['7+']" required/>
												</span>												
											</div>	
										</div>									
									</div>										
								</div>
								
							</div> 
						</div>

						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="magazineControllerScope.addMagazine()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							</div>
						</div>
					</form>
				</div>
						
					
			</div>

		</div>
	</span>
</div>
