	<header ng-controller="menusController as menusControllerScope" >
		<div class="container">
			
			<!-- <div class="top-links visible-xs">
				<a class="login" href="#/login"></a>
				<a class="contact" href="contact-us.html"></a>
			</div>	  --> 
			<div id="bs-example-navbar-collapse-1">
				<ul class="displayflex">
					<li><a href="faqs.html">Download Vendor App</a></li>
					<li class="hidden-xs"><a href="contact-us.html">Contact Vendor Support</a></li>
					<li class="hidden-xs" ng-if="!menusControllerScope.userName" ng-click="menusControllerScope.login()"><a><span class="glyphicon glyphicon-user"></span>Login</a></li>	
					<!-- <li class="hidden-xs" ng-if="menusControllerScope.userName" id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><a  ng-click="menusControllerScope.logout()"><span class="USERFONT">Info</span><span class="USERFONT">{{menusControllerScope.userName}}</span><span class="caret"></span></a></li> -->

					<!-- <li ng-click="menusControllerScope.logout()"  class="hidden-xs" ng-if="menusControllerScope.userName"><span class="glyphicon glyphicon-user"></span><span >User</span></li> -->
					<li class="btn-group hidden-xs" ng-if="menusControllerScope.userName" data-ng-class="{open: open}" data-ng-click="open=!open">
			           <a class="dropdown-toggle"><span class="glyphicon glyphicon-user"></span>User<span class="caret"></span></a>
			           
			           <ul class="dropdown-menu mrgLft0px" aria-labelledby="dropdownMenu">
			               <li><a href="#/myProfile">My Profile</a></li>
			               <li><a ng-click="menusControllerScope.logout()"  class="hidden-xs" ng-if="menusControllerScope.userName"><span >Logout</span></a></li>				              
			           </ul>
					</li>
				</ul>
			</div> 
			<div class="menusContainer"> 
				<div class="alignleft">
					<a href="index.html"><img src="{{vm.staticSource}}/ui/images/logo.png " class="padd20" alt="AdsToPublish"/></a>
				</div>
				<!-- <div class="">
				 	<nav class="navbar navbar-default">  -->

					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand visible-xs">Menu</a>
					</div>

					<!-- <div class="" ng-if="usrName"> -->
						<!-- <div class="TXTRGT">Welcome {{usrName}}</div> -->
						
					<!-- </div><br/> -->
					<!-- <div class="col-sm-4">
						<a class="grid-button1 btn" ng-click="radioControllerScope.getRadio()">Get More</a>
					</div> -->
					<!-- Collect the quick links -->
					

					<!-- Collect the nav links, forms, and other content for toggling -->

				<div class="alignright" id="bs-example-navbar-collapse-1" ng-if="menusControllerScope.userName">
					<ul class="menus">
						<!-- <li><a href="#/bankDetails">Bank Details</a></li>
						<li><a href="#/agencyDetails">Agency Details</a></li> -->
						<li><a href="#/vendorfaqs">Faq's</a></li>
						<li><a href="#/newspaper">Newspaper</a></li>
						<!-- <li><a href="#/newspaper1">Newspaper1</a></li> -->
						<!-- <li><a href="#/businessDetails">Business Details</a></li> -->
						<li><a href="#/radio">Radio</a></li>
						<li><a href="#/magazine">Magazine</a></li>	
						<li><a href="#/airlineAirport">Airline&Airport</a></li>	  
						<li><a href="#/cinema">Cinema</a></li>	
						<li><a href="#/television">Television</a></li>
						<li><a href="#/nontraditional">Non Traditional</a></li>  
						<li><a href="#/outdoor">Outdoor</a></li>   
						<li><a href="#/digital">Digital</a></li> 
						<li><a href="#/myProfile">My Profile</a></li> 
						<li><a href="#/password">password</a></li> 	    
					</ul>
				</div>

				<!--  </nav>
				</div> -->
			</div>
		</div>    
	</header>
	
	