<div class="parentContainer"> 
    <span class="leftContainer" >
      <ng-include src="'pages/leftMenus.html'"></ng-include>
    </span>

    <!-- Main Content Start -->
    <span class="rightContainer backgroundTransaperent">
      <span> 
     <div  class="row col-sm-12 col-md-12 col-lg-12 col-xs-12">
				<div class="profileContentTitle">
					<a href="#/vendorDashboard">Home</a>
				</div>
				<div class="profileGrid col-sm-6 col-xs-6 col-lg-3">
					<div class="grid-holder">
						<div class="grid-content prfCntHght">	
							<div>
								<div class="userGridHead"> <span class="grid-align ng-binding"><i class="fa fa-user dashboardIcon" aria-hidden="true"></i><span class="userFontColor">User</span></span> </div>
							</div>
							<div class="prfCntHght">

								<div>
									<div class="gridHead"><a href="" ng-click="myProfileControllerScope.getprofiledetail()"><span class="grid-align ng-binding"><i class="fa fa-pencil" aria-hidden="true"></i><span class="fontColor"> Edit a Users</span></span> </a></div>
								</div>
								<div>
									<div class="gridHead"><a href="" ng-click="myProfileControllerScope.forgotpassword()"><span class="grid-align ng-binding"><i class="fa fa-key" aria-hidden="true"></i><span class="fontColor">Reset a Password</span></span></a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="profileGrid col-sm-6 col-xs-6 col-lg-3">
					<div class="grid-holder">
						<div class="grid-content prfCntHght">	
							<div>
								<div class="userGridHead"> <span class="grid-align ng-binding"><i class="fa fa-user dashboardIcon" aria-hidden="true"></i><span class="userFontColor">Bank Details</span></span> </div>
							</div>
							<div class="prfCntHght">
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-plus" aria-hidden="true"></i><span class="fontColor">Add a Users</span></span> </div>
								</div>
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="fontColor">Delete a Users</span></span> </div>
								</div>
								<div>
									<div class="gridHead"><a href="" ng-click="myProfileControllerScope.getbankdetail()"> <span class="grid-align ng-binding"><i class="fa fa-pencil" aria-hidden="true"></i><span class="fontColor"> Edit a Users</span></span></a> </div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="profileGrid col-sm-6 col-xs-6 col-lg-3">
					<div class="grid-holder">
						<div class="grid-content prfCntHght">	
							<div>
								<div class="userGridHead"> <span class="grid-align ng-binding"><i class="fa fa-user dashboardIcon" aria-hidden="true"></i><span class="userFontColor">Business Details</span></span> </div>
							</div>
							<div class="prfCntHght">
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-plus" aria-hidden="true"></i><span class="fontColor">Add a Users</span></span> </div>
								</div>
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="fontColor">Delete a Users</span></span> </div>
								</div>
								<div>
									<div class="gridHead"><a href="" ng-click="myProfileControllerScope.getbusinessdetail()"> <span class="grid-align ng-binding"><i class="fa fa-pencil" aria-hidden="true"></i><span class="fontColor"> Edit a Users</span></span></a> </div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="profileGrid col-sm-6 col-xs-6 col-lg-3">
					<div class="grid-holder">
						<div class="grid-content prfCntHght">	
							<div>
								<div class="userGridHead"> <span class="grid-align ng-binding"><i class="fa fa-user dashboardIcon" aria-hidden="true"></i><span class="userFontColor">Users</span></span> </div>
							</div>
							<div class="prfCntHght">
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-plus" aria-hidden="true"></i><span class="fontColor">Add a Users</span></span> </div>
								</div>
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-trash-o" aria-hidden="true"></i><span class="fontColor">Delete a Users</span></span> </div>
								</div>
								<div>
									<div class="gridHead"> <span class="grid-align ng-binding"><i class="fa fa-pencil" aria-hidden="true"></i><span class="fontColor"> Edit a Users</span></span> </div>
								</div>
								
							</div>
						</div>
					</div>
				</div>
			</div>


      </span>
    </span>

  </div>
			

