<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'" ></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer width100">
		<span> 
		<div class="searchSectionContainer orderTable">
		<div class="searchGridParent">
			<div class="gridContentTitle">
				<div class="DSPLYFLEX1">
					<a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>My quotes</p>
				</div>
			</div>
			</div>
			<div class="BACKGROUNDBLACK breakwords headingchanges">
			<table>
				<thead>
					<tr>
						<th>Order id</th>
						<th>Rate</th>
						<th>Comments</th>
						<th></th>
					</tr>
				</thead>
				
				<div class="inner-contant">
  				<tr ng-repeat-start="item in myQuotesControllerScope.orderDetails" ng-click="item.expanded = !item.expanded" ng-class="{'expandcollapse-heading-collapsed': item.expanded, 'expandcollapse-heading-expanded': !item.expanded}">
  				
	    			<td>{{item.orderno}}</td>
	    			<td>{{item.rate}}</td>
	    			<td>{{item.comments}}</td>
	    			<td class="addbtncenter"><button class="oButtonmarginleft btn fltnone butn orderbutn" >Update</button>
					</td>	
					</tr>
  				
  				<tr ng-repeat-end="" class="padinleft">
					<td colspan="12" class="PADD0">
						<div ng-class="{'showdiv1': item.expanded, 'hidediv': !item.expanded}" >
							<div class="expand-collapse-content">	
							<form name="addquote" >
							<div class="group width50">      
		                        <input class="inputMaterial linewidth" name="quote" type="text" id="quote"  ng-pattern="/^[0-9]{1,20}$/" ng-model="item.rate" required="" />
		                        <span class="highlight"></span>
		                        <!-- <span class="bar"></span> -->
		                        <label>Update your quote:</label>
		                        <span ng-show = "addquote.quote.$invalid && addquote.quote.$touched" class="COLORRED FONT12PX">
		                        <span ng-show = "addquote.quote.$error.required" class="COLORRED FONT12PX"></span>
		                        <span ng-show ="addquote.quote.$error.pattern" class="COLORRED FONT12PX">  Enter valid numbers.</span>
		                        </span>
		                    </div>
		                    
		                    <div class="width50 orderTextarea">
		                    <div class="orderTextarea">
		                    <textarea name="comments" ng-model="item.comments" placeholder="Any comments..."></textarea>
		                    </div>
		                    </div>
		                    <div class="orderButton width100">
				            <button class="btn fltnone butn orderbutn"  ng-click="myQuotesControllerScope.updateQuote(item)" >Update</button><br>
				            </div>
							</form>
							</div>
						</div>
					</td>
				</tr>
				
				</div>

			</table>
			<div class="loadingspin marginspin" ng-if="myQuotesControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
			</div>
			

            <!-- <div ng-repeat="item in items">
       			 {{item.tool}} {{item.mediaName}} {{item.mediaOption}} {{item.campaignPeriod}} {{item.campaignDetails}} {{item.totalPrice}}
  			</div>
  			
  			
 	<!-- <div class="orderTable">
	 	<h2 class="TXTCENTER">Order Table</h2>
  
	<div class="dataTable">
		<table>
			<thead>
			<tr>
				<th>Tool</th>
				<th>Media Name</th>
				<th>Media Option</th>
				<th>Campaign Period</th>
				<th>Campaign Details</th>
				<th>Total Price</th>
			</tr>
			</thead>
		<tbody>
			<tr>
				<td>Magazine</td>
		  		<td>Indigo inflight</td>
				<td>Full page</td>
				<td>2016 october</td>
				<td>1 insert</td>
				<td>3,80,000</td>
			</tr>
			<tr>
		  		<td>Magazine</td>
		  		<td>Indigo inflight</td>
		  		<td>Full page</td>
		  		<td>2016 october</td>
		 		 <td>1 insert</td>
		 		 <td>3,80,000</td>
		  	</tr>
			<tr>
		  		<td>Magazine</td>
		  		<td>Indigo inflight</td>
		  		<td>Full page</td>
		  		<td>2016 october</td>
		  		<td>1 insert</td>
		  		<td>3,80,000</td>
		  	</tr>
			<tr>
		  		<td>Magazine</td>
		  		<td>Indigo inflight</td>
		  		<td>Full page</td>
		  		<td>2016 october</td>
		  		<td>1 insert</td>
		  		<td>3,80,000</td>
			</tr>
			<tr>
		 		<td>Magazine</td>
		  		<td>Indigo inflight</td>
		  		<td>Full page</td>
		  		<td>2016 october</td>
		  		<td>1 insert</td>
		  		<td>3,80,000</td>
			</tr>
		</tbody>
		</table>
	</div>
 -->	</div>
		</span>
	</span>
</div>


