<div class="parentContainer"> 

	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<span> 
			<div ng-show="!editDiv">	
				<div class="gridContentTitle title ">
					<div class="DSPLYRUBY">
						<a href="#/vendorDashboard">Home</a>
						<a href="#/newspaper"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>newspaper</p></a>
						<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{newspaperKnowmoreControllerScope.currentPage}}</p>
					</div>
					<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
				</div>	
				<div class="group GRIDVIEWTOP">      
					<div class="DISPLAYINLINE">
						<ul class="DISPLAYINLINE1">
							<li ng-repeat="tab in tabs" 
							ng-class="{active:isActiveTab(tab.url)}" 
							ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
						</ul>
					</div>
				</div>
				<div id="mainView"> 
					<div ng-include="currentTab">

					</div> 
				</div>
				<script type="text/ng-template" id="DISPLAYAd">


					<div class="" id="viewOne">

						<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regulars Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd"  ng-repeat="(key, value) in newspaperKnowmoreControllerScope.recordDetails.mediaOptions.regularOptions" >
					<div class="grid-content">
					    <div>
							<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<div>
		                    <p class="last ng-binding">
		                        {{value.pricingUnit}}
		                    </p>
		                    <p></p>
		                    <!-- <p class="last ng-binding">
		                        {{value.cardRate}}
		                    </p>
		                    <p class="last ng-binding pricePadBttm">
		                        {{value.discountedRate}}
		                    </p> -->
		                </div>
	            	</div>
                    <!-- <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div> -->
	            </div>	
	        </div>

			<div class="title"><span class="brdbttmTitle">other Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd"  ng-repeat="(key, value) in newspaperKnowmoreControllerScope.recordDetails.mediaOptions.otherOptions" >
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<div class="pricePadBttm">
		                    <p class="last ng-binding pricePadBttm">
		                        {{value.pricingUnit1}}
		                    </p>
		                    <!--  <p class="last ng-binding">
		                        {{value.cardRate}}
		                    </p>
		                     <p class="last ng-binding">
		                        {{value.discountedRate}}
		                    </p> -->
		                </div>
	            	</div>
	                <!-- <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div> -->
	            </div>		
			</div>
					</div>
				</script>
				<script type="text/ng-template" id="ClassifiedDISPLAYAd">
					<div class="textalignCenter" id="viewTwo" >
						<div class="grid" ng-repeat="record in records" ng-show="newspaperKnowmoreControllerScope.show==0">
							 <div class="grid-holder grid-box"  >
								<div class="grid-content">
									<div>
										<a href=""  ng-click="newspaperKnowmoreControllerScope.show = 1" ><h4 class="gridcontent"> <span class="grid-align knowMoreFont" ng-model="newspaperKnowmoreControllerScope.getNewspaperKnowmoreDetail.typeName">{{record.name}}</span> </h4></a>
									</div>
								</div>
							</div> 
						</div>
					</div>
						<div ng-show="newspaperKnowmoreControllerScope.show==1">
							<div class="group width33 dropdown" > 
		                       	<select class="SELECTIMG3" ng-model="newspaperKnowmoreControllerScope.getNewspaperKnowmoreDetail.selectCity">			
								 	<option ng-option value="" >Select City</option>
								  	<option ng-option value="bangalore">Bangalore</option>
								</select>
	                    	</div>
	                    	<div class="floatright">
	                    		<a class="change-button btn" ng-click="newspaperKnowmoreControllerScope.show = 2">When To Publish</a>
	                    	</div>
	                    </div>
					<div ng-show="newspaperKnowmoreControllerScope.show==2">
						 	<p class="selectDateFont">Select Date</p>
						    <div class="row">
						      <div class="width50">
						        <p class="input-group">
						          <input type="text" placeholder="Select Date" ng-model="newspaperKnowmoreControllerScope.getNewspaperKnowmoreDetail.selectDate" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
						          <span class="input-group-btn">
						            <button type="button" class="btn btn-default" ng-click="newspaperKnowmoreControllerScope.open1()"><i class="fa fa-calendar" aria-hidden="true"></i></button>
						          </span>
						        </p>
						      </div>
						    </div>
						    <div>
						    	<!-- <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click="newspaperKnowmoreControllerScope.getNewspaperKnowmoreDetail()">Get More</a>
						</div>
					</div> -->
						    </div>

					</div>
					
				</script>
				<script type="text/ng-template" id="ClassifiedTextAd">
					
						<div class="textalignCenter" id="viewThree">
						<div class="grid" ng-repeat="record in records">
							 <div class="grid-holder grid-box" >
								<div class="grid-content">
									<div>
										<a href="" ><h4 class="gridcontent"> <span class="grid-align knowMoreFont">{{record.name}}</span> </h4></a>
									</div>
								</div>
							</div> 
						</div>
					</div>
					
				</script>		
			</div>	


			<div ng-hide="!editDiv">
				<div class="inner-content"> 
				<form name="outdoorDetailsForm" novalidate>
					<div class="form-padding BRDBTM2PX">
						<!-- {{newspaperKnowmoreControllerScope.recordDetails}} -->
						<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="recordDetails._id" /></div>
						<div class="row">
							<label class="col-sm-6">Newspaper Name<span class="CLR">*</span></label>
							<input type="text" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.name" required/>
							<div class="col-sm-6"></div>										
						</div>
						<div class="row">
							<label class="col-sm-6">editionName<span class="CLR">*</span></label>
							<input type="text" id="" class="col-sm-6 form-control1" name="editionName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.editionName" required/>
							<div class="col-sm-6"></div>										
						</div>
						<div class="row">
							<label class="col-sm-6">categoryName<span class="CLR">*</span></label>
							<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.categoryName" required/>
							<div class="col-sm-6"></div>										
						</div>						
					</div>

					<div>
						<div class="">
							<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
								<span class="brdbttmTitle">Attributes</span>
							</div>										
						</div>
					</div>
					<div class="form-padding BRDBTM2PX">
						<div class="row">
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-12 PADD PADDLFT10px">
									<label class="col-sm-6">CategoryName</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.categoryName.value" />
								</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-12 PADD PADDLFT10px">
									<label class="col-sm-6">Circulation</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="mediaType" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.circulation.value" required/>
								</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-12 PADD PADDLFT10px">
									<label class="col-sm-6">PrintDay</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.printDay.value" required/>
								</span>						
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-12 PADD PADDLFT10px">
									<label class="col-sm-6">Language</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.language.value" required/>
								</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-12 PADD PADDLFT10px">
									<label class="col-sm-6">AreaCovered</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.areaCovered.value" required/>
								</span>
								<span class="col-sm-12 PADD PADDLFT10px">
									<label class="col-sm-6">ShowName</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.areaCovered.showName" required/>
								</span>
							</div>
						</div>
					</div>
					<div class="form-padding  PADD0">				
						<div class="" ng-repeat="(key1, value) in newspaperKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
							<div class="KnwEdtTitle"><span class="brdbttmTitle">{{key1}}</span>
								<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="newspaperKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></span>
							</div>
							<!-- <div class="row">					
								<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT">					
								</div>
							</div> -->
							<div  ng-repeat="(key2, value) in value">
								<div class="padd KnwEdtTitle" ng-click="expanded = !expanded">{{key2}}<span class="padd">
									<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
								</div>				
								<div ng-repeat="(key, value) in value" ng-show="expanded ">		
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD" >
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">{{key}}</label>
											<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value" required/>
										</span>
									</div>
								</div>
							</div>
						</div>
					</div>							


					<div class="form-details1 padd">
						<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="newspaperKnowmoreControllerScope.updateNewspaper()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>

						</div>
					</div>
				</form>
				</div>
			</div>
		</span>
	</span>
</div>

