<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
			<div class="contentTitle">
				Newspaper Details
			</div>
			<div class="textalignCenter">
				<div class="inner-content">
					<form name="newspaperDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="newspaperName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaper._id" /></div>
							<div class="row">
								<label class="col-sm-6">Newspaper Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="newspaperName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Edition Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="editionName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.editionName" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">Logo<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.logo" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">Category Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.categoryName" required/>
								<div class="col-sm-6"></div>										
							</div>	
															
						</div>

						<div>
							<div class="">
								<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Category Name</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.attributes.categoryName.value" />
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Circulation</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="circulation" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.attributes.circulation.value" required/>
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">AreaCovered</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="areaCovered" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.attributes.areaCovered.value" required/>
										<label class="col-sm-6">ShowName</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="areaCovered" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="showName" ng-model="newspaperControllerScope.newspaper.attributes.areaCovered.showName" required/>
									</span>											
								</div>

								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">PrintDay</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="printDay" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.attributes.printDay.value" required/>
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Language</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="language" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.attributes.language.value" required/>
									</span>
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span>
										<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="newspaperControllerScope.addMore(newspaper)"></img></span>
									</div>
								</div>
							</div>
						</div>
						
						<div class="form-padding">									
							<div class="" ng-repeat="key in newspaperControllerScope.mediaOptions track by $index">
								<div class="KnwEdtTitle" ng-click="expanded = !expanded">{{key}}<span class="padd">
									<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
								</div>

								<div ng-if="key == 'regularOptions'" ng-repeat="option in newspaperControllerScope.regularOptions track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
										<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
									</div>
									<div  ng-show="expanded1" style="background:white">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">VendorRate</label>
												<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].vendorRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">DiscountedRate</label>
												<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].discountedRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">Discount%</label>
												<input type="text" id="discount" class="col-sm-6 form-control1" name="discount" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].discount" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit1</label>
												<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].minimumQtyUnit1" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">PricingUnit1</label>
												<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].pricingUnit1" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].cardRate" required/>
											</span>												
										</div>		
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADDLFT10px">
												<label class="col-sm-6">ImageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].imageUrl" required/>
											</span>												
										</div>											
									</div>										
								</div>
								<div ng-if="key == 'otherOptions'" ng-repeat="option in newspaperControllerScope.otherOptions track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
										<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
									</div>
									<div  ng-show="expanded1" style="background:white">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">VendorRate</label>
												<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].vendorRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">DiscountedRate</label>
												<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].discountedRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].cardRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ImageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].imageUrl" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit</label>
												<input type="text" id="minimumQtyUnit" class="col-sm-6 form-control1" name="minimumQtyUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].minimumQtyUnit" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit1</label>
												<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].minimumQtyUnit1" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit2</label>
												<input type="text" id="minimumQtyUnit2" class="col-sm-6 form-control1" name="minimumQtyUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].minimumQtyUnit2" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingUnit</label>
												<input type="text" id="pricingUnit" class="col-sm-6 form-control1" name="pricingUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].pricingUnit" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingUnit1</label>
												<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].pricingUnit1" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingUnit2</label>
												<input type="text" id="pricingUnit2" class="col-sm-6 form-control1" name="pricingUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperControllerScope.newspaper.mediaOptions[key][option].pricingUnit2" required/>
											</span>												
										</div>											
									</div>										
								</div>
							</div> 
						</div>

						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="newspaperControllerScope.addNewspaper()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</span>
</div>
