<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer">
		<span> 
		<div class="searchGridParent">
			<div class="searchSectionContainer">
				<div class="gridContentTitle ">
					<div class="DSPLYFLEX1"><a href="#/vendorDashboard">Home</a>
						<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Newspaper</p>
						<div style="text-align: right;width: 100%;">
							<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="newspaperControllerScope.addNewNewspaper()"/>
						</div>
					</div>
				</div>
				<div class="width100 PADDL0">
					
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-model="location" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Location</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">                        		
					         <li ng-repeat="location in locations | filter:searchLoc"  ng-switch="searchLoc">	
					          		 <input  type="checkbox" ng-click="newspaperControllerScope.getFilterLocation(location)" ng-checked="newspaperControllerScope.place.indexOf(location) != -1" class="LOCATIONCKEKB2B location" >
					          		 <label>{{location}}</label>
					           	</li> 
					        </ul>
                          <!-- <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
					             <li ng-repeat="a in subjects"><a ng-click="dropboxitemselected()">{{a}}</a></li>
					        </ul> -->
                    </div>
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial" name="searchByLanguage" type="text" id="searchByLanguage" ng-model="searchLang"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Language</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="language in languages | filter:searchLang">	
					          		<input class="LOCATIONCKEKB2B" type="checkbox"  class="language" ng-checked="newspaperControllerScope.lang.indexOf(language) != -1"  ng-click="newspaperControllerScope.getFilterLang(language)">
					            	<label>{{language}}</label>
					           	</li>
					        </ul>
                    </div>
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial" name="searchByCategory" type="text" id="searchByCategory" ng-model="searchCat"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Category</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="category in categories | filter:searchCat">	
					          		<input class="LOCATIONCKEKB2B" type="checkbox"  class="category" ng-checked="newspaperControllerScope.category.indexOf(category) != -1"  ng-click="newspaperControllerScope.getFilterCategory(category)">
					            	<label>{{category}}</label>
					           	</li>
					        </ul>
                    </div>
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial" name="searchByPublications" type="text" id="searchByPublications" ng-model="searchPubl"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Publications</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="publication in publications | filter:searchPubl">	
					          		<input class="LOCATIONCKEKB2B" type="checkbox"  class="publication" ng-checked="newspaperControllerScope.publication.indexOf(publication) != -1"  ng-click="newspaperControllerScope.getFilterPublication(publication)">
					            	<label>{{publication}}</label>
					           	</li>
					        </ul>
                    </div>
                    <div class="b2bsearchBox b2bsearchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="radioControllerScope.getRadio()">Search</a>
						</div>
				</div>
				</div>

				<div class="width100 PADDL0">
					
                    <div class="group b2bsearchBox GRIDVIEWTOP">      
                          <div class="DISPLAYINLINE">
							<ul class="DISPLAYINLINE1">
								<li ng-repeat="tab in tabs" 
								ng-class="{active:isActiveTab(tab.url)}" 
								ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
							</ul>
						</div>
                    </div>
                    <div class="group OPTIONSFOUND">      
                         <div class="FLOATRIGHT1">
                         	<h6 class="opionsFoundMargin">Found</h6>
                         	<span class="OPTIONID">{{newspaperControllerScope.count}}</span>
							<h6 class="opionsFoundMargin">records</h6>
						</div>
                    </div>
				</div>
				</div>
				</div>

				<div id="mainView"> 
					<div ng-include="currentTab">

					</div> 
				</div> 
				
				<script type="text/ng-template" id="newsPaperGridView">
				<div class="textalignCenter">
				<div  ng-show="newspaperControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
					<div ng-repeat = "newsRecordDetails in newspaperControllerScope.newspaperDetails ">
					<div  ng-show="newspaperControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
						<div class="grid" id="viewOne" ng-repeat = "newsRecord in newsRecordDetails ">

							 <div class="grid-holder grid-card grid-box" >
								<div class="grid-content">
									<div>
										<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive" />
									</div>
									<div>
										<h4 class="gridcontent"> <span class="grid-align">{{newsRecord.name}}</span> </h4>
									</div>
									<div class="grid-content-row">
										<div class="width50 grid-border-right grid-content-holder">
											<p>LANGUAGE</p>
											<p class="grid-fb"> {{newsRecord.attributes.language.value}} </p>
										</div>
										<div class="width50 grid-content-holder">
											<p> TMA CITY RANK</p>
											<p class="grid-fb ng-binding"> {{newsRecord.attributes.circulation.value}}</p>
										</div>
									</div>
								</div>
								<div class="grid-buttons-holder">
									<div class="button_best">
										<a class="grid-button btn"  ng-click="newspaperControllerScope.knowMore(newsRecord)">View Details</a>
									</div>
								</div>
							</div> 
						</div>
					</div>

					<div class="btnCenter" ng-if="!newspaperControllerScope.loader">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-if="!(count <= newspaperControllerScope.count)" ng-click=" newspaperControllerScope.getNewspaper()">Get More</a>
						</div>
					</div>
					</div>
				</script>


				<!-- <script type="text/ng-template" id="newsPaperListView">
					<div id="viewTwo">
						<div class="BACKGROUNDWHITE">

							<table datatable="ng" class="row-border hover table ">
								<thead>
									<tr>
										<th>Newspaper Name</th>
										<th>Category</th>
										<th>Circulation</th>
										<th>Edition</th>
										<th>Print Day </th>
										<th>Rate</th>
										<th></th>
									</tr>
								</thead>

								<tbody ng-repeat = "records in newspaperControllerScope.newspaperDetails">
									<div class="inner-contant">
										<tr ng-repeat-start = "record in records" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">

											<td>{{ record.name }}</td>
											<td>{{ record.categoryName }}</td>
											<td>{{ record.attributes.circulation.value }}</td>
											<td>{{ record.attributes.areaCovered.value }}</td>
											<td>{{ record.attributes.printDay.value }}</td>
											<td >{{ record.mediaOptions.regularOptions.anyPage.discountedRate }}</td>
											<td class="TABLEIMG"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
											</td>	
										</tr>

										<tr ng-repeat-end="">
											<td colspan="12" class="PADD0">
												<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
													<div class="expand-collapse-content">	
														{{record.urlSlug}}

													</div>
												</div>
											</td>
										</tr>
									</div>
								</tbody>
							</table>
						</div>
					</div>
					<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click=" newspaperControllerScope.getNewspaper()">Get More</a>
						</div>
					</div>
				</script> -->
			</span>
		</span>
	</div>
