<!-- Content Starts -->

<div class=" container bodyContainer">
	<div>
		<div class="BACKGROUNDWHITE">
			<div class="contentTitle ">
				<div class="DSPLYFLEX1"><a href="#/vendorDashboard">Home</a></p><img src="{{vm.staticSource}}/ui/images/rightarrow.png" alt=""><p>Newspaper</p>
				</div>
				<div class="FLOATRIGHT1">
					<h6>Options Found</h6>
				</div>
			</div>
			<table datatable="ng" class="row-border hover table ">
				<thead>
					<div><label class="PADDLEFT1 ">Sort By</label>
						<select class="SELECTIMG1">
							<option value="" class="FONT12">Top Searched</option>
							<option value="Circulation" class="FONT12">Circulation</option>
							<option value="Rate" class="FONT12">Rate</option>
						</select>
<!-- <div class="FLOATRIGHT2">
<select class="SELECTIMG2">
<option value="" class="FONT12">Select Media Option</option>
<option value="Announcement" class="FONT12">Announcement</option>
<option value="AnyPage" class="FONT12">Any Page</option>
<option value="AnyPage" class="FONT12">Astrology</option>
<option value="AnyPage" class="FONT12">Business</option>
<option value="AnyPage" class="FONT12">Computers</option>
</select>
</div>
</div>  -->
					<tr>
						<th>Newspaper Name</th>
						<th>Category</th>
						<th>Circulation</th>
						<th>Edition</th>
						<th>Print Day </th>
						<th>Rate</th>
					</tr>
				</thead>

				<!-- <h2 class="head1">EXPAND ALL</h2> -->
				<tbody>
					<div class="inner-contant">
						<tr ng-repeat-start="x in records" ng-click="x.expanded = !x.expanded" ng-class="PADD20">

							<td>{{ x.Name }}</td>
							<td>{{ x.Category }}</td>
							<td>{{ x.Circulation }}</td>
							<td>{{ x.Edition }}</td>
							<td>{{ x.PrintDay }}</td>
							<td >{{ x.Rate }}</td>
							<td class="TABLEIMG"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" ng-class="{'TURNUPARROW1': !expanded, 'TURNDOWNARROW1': expanded}"  >
							</td>	
						</tr>

						<tr ng-if="x.expanded" ng-repeat-end="">
							<td colspan="12" class="PADD0">
								<div class="expand-collapse-content">	
									{{x.details}}
								</div>
							</td>
						</tr>
					</div>
				</tbody>
			</table>
		</div>
	</div>
</div>

				
				<!-- Content Ends -->


