<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
			<div class="contentTitle">
				Non-Traditionl Details
			</div>
			<div class="textalignCenter">
				<div class="inner-content">
					<form name="nonTraditionlDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="nonTraditionlName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionl._id" /></div>
							<div class="row">
								<label class="col-sm-6">Non-Traditionl Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="nonTraditionlName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">urlSlug<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.urlSlug" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">logo<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.logo" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">serviceTaxPercentage<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.serviceTaxPercentage" required/>
								<div class="col-sm-6"></div>										
							</div>	
							<div class="row">
								<label class="col-sm-6">note<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="note" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.note" required/>
								<div class="col-sm-6"></div>										
							</div>	

						</div>

						<div>
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<span class="brdbttmTitle">Geography</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Country</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.geography.country" required/>									
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">State</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.geography.state" required/>									
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Pincode</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.geography.pincode" required/>						
									</span>											
								</div>
							</div>
						</div>

						<div>
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Reach</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.attributes.reach.value" required/>
										<label class="col-sm-6">showName</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="reach" ng-pattern="/^[a-zA-Z0-9]*$/" placeholder="showName" ng-model="nonTraditionalControllerScope.nonTraditionl.attributes.reach.showName" required/>
									</span>											
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span>
										<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="nonTraditionalControllerScope.addMore(Key)"></img></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-padding MARGINBT10">									
							<div class="" ng-repeat="key in nonTraditionalControllerScope.mediaOptions track by $index">
								<div>
									<span class="KnwEdtTitle" ng-click="expanded = !expanded">{{key}}</span>
									<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="nonTraditionalControllerScope.addMore(nonTraditionl)"></img></span>
								</div>
								<div class="PADDLFT10px" ng-if="key == 'regularOptions'" ng-repeat="option in nonTraditionalControllerScope.regularOptions track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
										<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
									</div>
									<div  ng-show="expanded1" class="PADDLFT10px">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">VendorRate</label>
												<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].vendorRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">DiscountedRate</label>
												<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].discountedRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ImageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].imageUrl" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit1</label>
												<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].minimumQtyUnit1" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">MinimumQtyUnit2</label>
												<input type="text" id="minimumQtyUnit2" class="col-sm-6 form-control1" name="minimumQtyUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].minimumQtyUnit2" required/>
											</span>												
										</div>	
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingUnit1</label>
												<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].pricingUnit1" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">PricingUnit2</label>
												<input type="text" id="pricingUnit2" class="col-sm-6 form-control1" name="pricingUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].pricingUnit2" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">Description</label>
												<input type="text" id="description" class="col-sm-6 form-control1" name="description" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].description" required/>
											</span>												
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].cardRate" required/>
											</span>												
										</div>		
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ShowName</label>
												<input type="text" id="showName" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="nonTraditionalControllerScope.nonTraditionl.mediaOptions[key][option].showName" required/>
											</span>												
										</div>											
									</div>										
								</div>
							</div> 
						</div>

						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="nonTraditionalControllerScope.addNonTraditional()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							</div>
						</div>
					</form>
				</div>
						
					
			</div>

		</div>
	</span>
</div>
