<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
	<span> 
	<div ng-show="editDiv">	
		<div class="gridContentTitle title ">
			<div class="DSPLYRUBY">
				<a href="#/vendorDashboard">Home</a>
				<a href="#/outdoor"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>outdoor</p></a>
				<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{outdoorKnowmoreControllerScope.currentPage}}</p>
			</div>
			<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
		</div>	
		<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			<div class="col-md-2 col-sm-4 col-xs-6 resWidth ng-scope" ng-repeat="(key, value) in outdoorKnowmoreControllerScope.media">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold">{{key}}</p>
                    <p class="last ng-binding">{{value.value}}</p>
                </div>
            </div>
		</div> -->

		<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regular Options</span></div>	
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd">
					<div class="grid-content">
					    <div>
							<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<div>
							<p class="padd"><i class="fa fa-tag"></i></p>
			                <h4  class="gridcontent"> <span class="grid-align">
			                    {{outdoorKnowmoreControllerScope.recordDetails.attributes.mediaType.value}}</span>
			                </h4>
			            </div>
			            <!-- <div>	
			                <p class="" >{{outdoorKnowmoreControllerScope.recordDetails.attributes.landmark.value}}</p>	
			                 <p class="padd">{{outdoorKnowmoreControllerScope.recordDetails.uniqueId}}</p>
			            </div> -->
	                </div>	
	                <!-- <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div> -->
	             </div>		
			</div>	
		</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			<!-- <div class="title"><span class="brdbttmTitle">Execution Details</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0" > 
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-4 a-border" > 
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold">
                        Dimensions
                    </p>    
                    <p class="first ng-binding">
                        {{outdoorKnowmoreControllerScope.recordDetails.attributes.dimensions.value}}
                    </p>                
                </div> 
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 a-border a-border-circle-bg" >
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold">
                      Proof of Execution
                    </p>
                    <p class="first ng-binding ">
                       Photographs at start and end of activity 
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 a-border" >
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold">
                       What happens if the ad gets damaged?
                    </p>
                    <p class="first ng-binding ">
                       Printing and Mounting charges will have to be repaid 
                    </p>
                    
                </div>
			</div> -->	
				
		</div>
	</div>	


	<div ng-hide="editDiv"> 
		<div class="inner-content">
		<form name="outdoorDetailsForm" novalidate>
			<div class="form-padding BRDBTM2PX">
				<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="recordDetails._id" /></div>
				<div class="row">
					<label class="col-sm-6">OutdoorName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.name" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">ToolName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="toolName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.toolName" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Locality<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="locality" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.locality" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">City<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.city" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.cardRate" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Logo<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.logo" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Geography<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.geography" required/>
					<div class="col-sm-6"></div>										
				</div>	
				<div class="row">
					<label class="col-sm-6">UniqueId<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.uniqueId" required/>
					<div class="col-sm-6"></div>										
				</div>		
			</div>

			
			<div class="KnwEdtTitle">
				<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 PADD0">
					<span class="brdbttmTitle">Attributes</span>
				</div>										
			</div>
			<div class="form-padding BRDBTM2PX">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">landmark</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.attributes.landmark.value" />
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">mediaType</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="mediaType" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.attributes.mediaType.value" required/>
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">cityPopularityIndex</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.attributes.cityPopularityIndex.value" required/>
						</span>
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">ShowName</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.attributes.cityPopularityIndex.showName" required/>
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">dimensions</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoorKnowmoreControllerScope.recordDetails.attributes.dimensions.value" required/>
						</span>
					</div>
					
				</div>
			</div>
			<div class="form-padding PADD0">
				<!-- <div class="row">					
					<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT"></div>
				</div> -->
				<div class="" ng-repeat="(key1, value) in outdoorKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
					<div class="KnwEdtTitle">
						<span class="brdbttmTitle">{{key1}}</span><span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="outdoorKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></span>
					</div>
					<!-- <div class="row">					
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT"></div>
					</div> -->
					<div class="padd" ng-repeat="(key, value) in value">
						<div class="padd KnwEdtTitle" ng-click="expanded = !expanded">{{key}}<span class="padd">
							<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
						</div>						
						<div ng-show="expanded || $last">
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Area</label>
								<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.area" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Card Rate</label>
								<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.cardRate" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Discounted Rate</label>
								<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.discountedRate" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Image Url</label>
								<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.imageUrl" required/>
							</span>												
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Lead Time</label>
								<input type="text" id="leadTime" class="col-sm-6 form-control1" name="leadTime" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.leadTime" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Printing &amp; Mounting Rate</label>
								<input type="text" id="printingAndMountingRate" class="col-sm-6 form-control1" name="printingAndMountingRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.printingAndMountingRate" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6 ">Rate Per/Sq.Ft</label>
								<input type="text" id="ratePerSquareFeet" class="col-sm-6 form-control1" name="ratePerSquareFeet" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.ratePerSquareFeet" required/>
							</span>
						</div>
						<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">	
							<span class="col-sm-12 PADD PADDLFT10px">
								<label class="col-sm-6">Vendor Rate</label>
								<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value.vendorRate" required/>
							</span>												
						</div> 
					</div>
					</div>
				</div>
			</div>							
				<div class="form-details1 padd">
					<div>
						<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="outdoorKnowmoreControllerScope.updateOutdoor()">Save</button>
						<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
					
					</div>
				</div>
		</form>
		</div>
	</div>
	



</div>
