<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
			<div class="contentTitle">
				Outdoor Details
			</div>
			<div class="textalignCenter">	
				<div class="inner-content">
					<form name="outdoorDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor._id" /></div>
							<div class="row">
								<label class="col-sm-6">Outdoor Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">ToolName<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="toolName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.toolName" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Locality<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="locality" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.locality" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">City<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.city" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.cardRate" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Logo<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.logo" required/>
								<div class="col-sm-6"></div>										
							</div>	
															
						</div>

						<div>
							<div class="">
								<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Landmark</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.attributes.landmark.value" />
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">MediaType</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="mediaType" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.attributes.mediaType.value" required/>
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">CityPopularityIndex</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.attributes.cityPopularityIndex.value" required/>
									</span>
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">ShowName</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.attributes.cityPopularityIndex.showName" required/>
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Dimensions</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.attributes.dimensions.value" required/>
									</span>
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span><span class="padd">
										<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="outdoorControllerScope.addMore(outdoor)"></img></span>
									</div>
								</div>
							</div>
						</div>

						<div class="form-padding BRDBTM2PX MARGINBT10">
							<div class="row" ng-repeat="option in options track by $index">
								<div class="KnwEdtTitle PADDLFT10px"  ng-click="expanded = !expanded">{{option}}<span class="padd">
									<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
								</div>
								<div class="PADDLFT10px" ng-show="expanded || $last">
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Area</label>
											<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].area" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Card Rate</label>
											<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].cardRate" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Discounted Rate</label>
											<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].discountedRate" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Image Url</label>
											<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].imageUrl" required/>
										</span>												
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Lead Time</label>
											<input type="text" id="leadTime" class="col-sm-6 form-control1" name="leadTime" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].leadTime" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Printing &amp; Mounting Rate</label>
											<input type="text" id="printingAndMountingRate" class="col-sm-6 form-control1" name="printingAndMountingRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].printingAndMountingRate" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6 ">Rate Per/Sq.Ft</label>
											<input type="text" id="ratePerSquareFeet" class="col-sm-6 form-control1" name="ratePerSquareFeet" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].ratePerSquareFeet" required/>
										</span>
									</div>
									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">	
										<span class="col-sm-12 PADD PADDLFT10px">
											<label class="col-sm-6">Vendor Rate</label>
											<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="outdoor.mediaOptions.regularOptions[option].vendorRate" required/>
										</span>												
									</div>
								</div>
							</div>
						</div>							


						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="outdoorControllerScope.addOutdoor(outdoor)">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							
							</div>
						</div>
					</form>
				</div>
						
					
			</div>

		</div>
	</span>
</div>
