<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer">
		<span> 
		<div class="searchGridParent">
		<div class="searchSectionContainer">
				<div class="gridContentTitle ">
					<div class="DSPLYFLEX1"><a href="#/vendorDashboard">Home</a>
						<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Outdoor</p>
						<div style="text-align: right;width: 100%;">
							<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="outdoorControllerScope.addNewOutdoor()"/>
						</div>
					</div>					
				</div>
				<div class="width100 PADDL0">
					
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Location</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">                        		
					         <li ng-repeat="location in locations | filter:searchLoc">	
					          		 <input  type="checkbox" ng-click="outdoorControllerScope.getFilterLocation(location)" ng-checked="outdoorControllerScope.place.indexOf(location) != -1" class="LOCATIONCKEKB2B location" >
					          		 <label>{{location}}</label>
					           	</li> 
					        </ul>
                    </div>
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchMed"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Media Type</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="mediatype in mediatypes | filter:searchMed">	
					          		<input class="LOCATIONCKEKB2B" type="checkbox"  class="Mediatype" ng-checked="outdoorControllerScope.mediatype.indexOf(Mediatype) != -1"  ng-click="outdoorControllerScope.getFilterMediatype(Mediatype)">
					            	<label>{{mediatype}}</label>
					           	</li>
					        </ul>
                    </div>
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial " name="searchBySize" type="text" id="searchBySize" ng-model="searchSize"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Size</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="size in sizes | filter:searchSize">	
					          		<input class="LOCATIONCKEKB2B" type="checkbox"  class="size" ng-checked="outdoorControllerScope.sizee.indexOf(size) != -1"  ng-click="outdoorControllerScope.getFilterSize(size)">
					            	<label>{{size}}</label>
					           	</li>
					        </ul>
                    </div>
                    <div class="group b2bsearchBox dropdown">      
                          <input class="inputMaterial " name="searchByLit" type="text" id="searchByLit" ng-model="searchLit"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
                          <label>Search By Lit/Non Lit</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="lit in lits | filter:searchLit">	
					          		<input class="LOCATIONCKEKB2B" type="checkbox"  class="lit" ng-checked="lang.indexOf(lit) != -1"  ng-click="outdoorControllerScope.getFilterLang(lit)">
					            	<label>{{lit}}</label>
					           	</li>
					        </ul>
                    </div>
                    <div class="b2bsearchBox b2bsearchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="radioControllerScope.getRadio()">Search</a>
						</div>
				</div>
				</div>
				<div class="width100 PADDL0">
					
                    <div class="group b2bsearchBox GRIDVIEWTOP">      
                          <div class="DISPLAYINLINE">
							<ul class="DISPLAYINLINE1">
								<li ng-repeat="tab in tabs" 
								ng-class="{active:isActiveTab(tab.url)}" 
								ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
							</ul>
						</div>
                    </div>
                    <div class="group  OPTIONSFOUND">      
                         <div class="FLOATRIGHT1">
                         	<h6 class="opionsFoundMargin">Found</h6>
                         	<span class="OPTIONID">{{outdoorControllerScope.count}}</span>
							<h6 class="opionsFoundMargin">record</h6>
						</div>
                    </div>
				</div>
				</div>
				</div>
				<div id="mainView"> 
					<div ng-include="currentTab">

					</div> 
				</div> 
				<script type="text/ng-template" id="outdoorGridView">
				<div class="textalignCenter">
				<div  ng-show="outdoorControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
				<div>
					
						<div class="grid" id="viewOne" ng-repeat = "newsRecord in outdoorControllerScope.outdoorDetail ">
						<div  ng-show="outdoorControllerScope.loader">
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
					</div>

							 <div class="grid-holder grid-card grid-box" >
								<div class="grid-content">
									<div>
										<img ng-src="{{vm.staticSource}}/ui/images/outDoor_1.jpg" class="img-responsive" />
									</div>
									<div>
										<h4 class="gridcontent"> <span class="grid-align">{{newsRecord.name}}</span> </h4>
									</div>
									<div class="grid-content-row">
										<div class="width50 grid-border-right grid-content-holder">
											<p>Landmark</p>   
											<p class="grid-fb landmrkCntnt" uib-tooltip="{{newsRecord.attributes.landmark.value}}" tooltip-placement="top"> {{newsRecord.attributes.landmark.value}} </p>
										</div>
										<div class="width50 grid-content-holder">
											<p> TMA city rank</p>
											<p class="grid-fb ng-binding"> {{newsRecord.attributes.cityPopularityIndex.value}}</p>
										</div>
									</div>
								</div>
								
								<div class="grid-buttons-holder">
									<div class="button_best">
										<a class="grid-button btn"  ng-click="outdoorControllerScope.knowMore(newsRecord)">View Details</a>
									</div>
								</div>
							</div> 
						</div>
					</div>

					<div class="btnCenter" ng-if="!outdoorControllerScope.loader">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-if="!(count <= outdoorControllerScope.count)" ng-click="outdoorControllerScope.getOutdoor()">Get More</a>
						</div>
					</div>
					</div>
				</script>


				<!-- <script type="text/ng-template" id="outdoorListView">
					<div id="viewTwo">
						<div class="BACKGROUNDWHITE">

							<table datatable="ng" class="row-border hover table ">
								<thead>
									<tr>
										<th>Outdoor Name</th>
										<th>Category</th>
										<th>Circulation</th>
										<th>Edition</th>
										<th>Print Day </th>
										<th>Rate</th>
										<th></th>
									</tr>
								</thead>

								<tbody ng-repeat = "records in outdoorControllerScope.outdoorDetails">
									<div class="inner-contant">
										<tr ng-repeat-start = "record in records" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">

											<td>{{ record.name }}</td>									
											<td>{{ record.attributes.seats.value }}</td>
											<td>{{ record.attributes.pricingUnit.value }}</td>
											<td >{{ record.mediaOptions.regularOptions.anyPage.discountedRate }}</td>
											<td class="TABLEIMG"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
											</td>	
										</tr>

										<tr ng-repeat-end="">
											<td colspan="12" class="PADD0">
												<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
													<div class="expand-collapse-content">	
														{{record.urlSlug}}

													</div>
												</div>
											</td>
										</tr>
									</div>
								</tbody>
							</table>
						</div>
					</div>
					<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click="outdoorControllerScope.getOutdoor()">Get More</a>
						</div>
					</div>
				</script> -->
			</span>
		</span>

    </div>
