<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer">
	<div class="frgtpassword">
		<div class="forgotform">
		<div class="forgotpsw">
		
			<label class="col-sm-6">new Password<span class="CLR">*</span></label><br><br>
			
			<label class="col-sm-6">confirm Password<span class="CLR">*</span></label>
			
		</div>
		<div class="forgotpswform">
		<form name="registerForm">
			<input type="password" name="password"  class="form-control1" ng-pattern="/^[a-zA-Z0-9\W]{8,25}$/" ng-model="vm.password"  ng-minlength="8" required />
			<span ng-show = "registerForm.password.$invalid && registerForm.password.$touched" class="COLORRED FONT12PX">
            <span ng-show = "registerForm.password.$error.required" class="COLORRED FONT12PX"></span><br>
            <span ng-show ="registerForm.password.$error.pattern" class="COLORRED FONT12PX">alphanumeric</span>
            <span ng-show="registerForm.password.$error.minlength" class="COLORRED FONT12PX"> Minimum 8 characters. </span>
            </span>
			
			<input type="password" class="form-control1" name="confirmPassword" ng-pattern="vm.password" ng-model="vm.password1" ng-minlength="8"
			compare-to="vm.password" required/>
			<span ng-show="registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$touched" class="COLORRED FONT12PX">
            <span ng-show = "registerForm.confirmPassword.$error.required" class="COLORRED FONT12PX">Please confirm your password </span>
            <span ng-show="registerForm.confirmPassword.$error.minlength" class="COLORRED FONT12PX"> Minimum 8 characters. </span>
            <span ng-show ="registerForm.confirmPassword.$error.pattern" class="COLORRED FONT12PX"> Recheck your password</span>
            </span>
		</form>
		</div>
		</div>
		<div class="form-details1 submitbtn">
			<button class="btn btn-default MARGNLFT">submit</button>
			
		</div>
		</div>
	</span>
</div>