<div class="parentContainer"> 
    <span class="leftContainer" >
      <ng-include src="'pages/leftMenus.html'"></ng-include>
    </span>
	<span class="rightContainer WIDTH80">
      <span>
		<div class="contentTitle">
			Profile
		</div>
		<div class="inner-content">
			
			<form name="profileForm" class="PROFILEFNAME1" ng-submit=""  novalidate>
			<div ng-if="profileControllerScope.recordDetails == 'profiledetail'">
			<button type="button" class="profileBtn1 floatRight" ng-click="active=!active">Edit</button>
			<div class="form-padding">
				<div class="row">

					<label class="col-sm-6">First Name<span class="CLR">*</span></label>
					<input type="text" id="firstName" name="firstName"  ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="profileControllerScope.profileDetails.name" class="form-control1 col-sm-6" ng-class="{'hideBorder': !active, 'showBorder': active}" required />
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "profileForm.firstName.$invalid && profileForm.firstName.$touched" class="COLORRED FONT12PX">
						<span ng-show = "profileForm.firstName.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
						<span ng-show ="profileForm.firstName.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>

			<div class="form-padding">
				<div class="row">

					<label class="col-sm-6">Last Name<span class="CLR">*</span></label>

					<input type="text" id="lastName" name="lastName"  ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="profileControllerScope.profileDetails.lastname" class="form-control1 col-sm-6" ng-class="{'hideBorder': !active, 'showBorder': active}" required />
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "profileForm.lastName.$invalid && profileForm.lastName.$touched" class="COLORRED FONT12PX">
							<span ng-show = "profileForm.lastName.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="profileForm.lastName.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">

					<label class="col-sm-6">Email<span class="CLR">*</span></label>

					<input type="text" id="emailId" name="emailId" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/" ng-model="profileControllerScope.profileDetails.email" class="form-control1 col-sm-6" ng-class="{'hideBorder': !active, 'showBorder': active}" required />
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "profileForm.emailId.$invalid && profileForm.emailId.$touched" class="COLORRED FONT12PX">
							<span ng-show = "profileForm.emailId.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="profileForm.emailId.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">

					<label class="col-sm-6">Alternate Email</label>

					<input type="text" id="emailId" name="emailId1" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/" ng-model="profileControllerScope.profileDetails.emailId1" class="form-control1 col-sm-6" ng-class="{'hideBorder': !active, 'showBorder': active}" />
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "profileForm.emailId1.$invalid && profileForm.emailId1.$touched" class="COLORRED FONT12PX">
							<span ng-show = "profileForm.emailId1.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="profileForm.emailId1.$error.pattern" class="COLORRED FONT12PX"> Alpha numeric characters only.</span>
						</span>
					</div>
				</div>
			</div>

			<div class="form-padding">
				<div class="row">

					<label class="col-sm-6">Phone Number<span class="CLR">*</span></label>

					<input type="text" id="phNumber" name="phNumber"  ng-pattern="/^[0-9]{1,10}$/" ng-model="profileControllerScope.profileDetails.phone" class="form-control1 col-sm-6" ng-class="{'hideBorder': !active, 'showBorder': active}" maxlength="10" required />
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "profileForm.phNumber.$invalid && profileForm.phNumber.$touched" class="COLORRED FONT12PX">
							<span ng-show = "profileForm.phNumber.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="profileForm.phNumber.$error.pattern" class="COLORRED FONT12PX"> Numbers only.</span>
						</span>
					</div>
				</div>
			</div>
			<div class="form-padding">
				<div class="row">

					<label class="col-sm-6">Alternate PhoneNumber</label>

					<input type="text" id="phNumber" name="phone1"  ng-pattern="/^[0-9]{1,10}$/" ng-model="profileControllerScope.profileDetails.phone1" class="form-control1 col-sm-6" ng-class="{'hideBorder': !active, 'showBorder': active}" maxlength="10"/>
					<div class="col-sm-6"></div>
					<div class="col-sm-6">
						<span ng-show = "profileForm.phone1.$invalid && profileForm.phone1.$touched" class="COLORRED FONT12PX">
							<span ng-show = "profileForm.phone1.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
							<span ng-show ="profileForm.phone1.$error.pattern" class="COLORRED FONT12PX"> Numbers only.</span>
						</span>
					</div>
				</div>
			</div>
		</div>
			<!-- <div class="form-details1">
				<button type="button" class="profileBtn btn btn-default MARGNLFT" ng-click="showDiv=true" ng-hide="showDiv">Change Password</button>
			</div> -->
			<div  ng-if="profileControllerScope.recordDetails == 'password'">
				<div class="form-padding">
					<div class="row">
						<label class="col-sm-6">Current Password<span class="CLR">*</span></label>
						<input type="password" id="currentPassword" name="currentPassword" ng-pattern=" /^[a-zA-Z0-9\W]{8,25}$/" ng-model="profileControllerScope.profileDetails.currentpassword" class="form-control1 col-sm-6" required/>
						<div class="col-sm-6"></div>
						<div class="col-sm-6">
							<span ng-show = "profileForm.currentPassword.$invalid && profileForm.currentPassword.$touched" class="COLORRED FONT12PX">
								<span ng-show = "profileForm.currentPassword.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
								<span ng-show ="profileForm.currentPassword.$error" class="COLORRED FONT12PX"> Maximum 8 characters.</span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-padding">
					<div class="row">
						<label class="col-sm-6">New Password<span class="CLR">*</span></label>
						<input type="password"  name="newPassword" ng-pattern=" /^[a-zA-Z0-9\W]{8,25}$/" ng-model="profileControllerScope.profileDetails.newPassword" class="form-control1 col-sm-6" required/>
						<div class="col-sm-6"></div>
						<div class="col-sm-6">
							<span ng-show = "profileForm.newPassword.$invalid && profileForm.newPassword.$touched" class="COLORRED FONT12PX">
								<span ng-show = "profileForm.newPassword.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span>
								<span ng-show ="profileForm.newPassword.$error" class="COLORRED FONT12PX"> Maximum 8 characters.</span>
							</span>
						</div>
					</div>
				</div>	
				<div class="form-padding">
					<div class="row">
						<label class="col-sm-6">Confirm Password<span class="CLR">*</span></label>
						<input type="password"  name="confirmPassword" ng-pattern=" /^[a-zA-Z0-9\W]{8,25}$/" ng-model="profileControllerScope.profileDetails.confirmPassword" compare-to="profileControllerScope.profileDetails.newPassword" class="form-control1 col-sm-6" required/>
						<div class="col-sm-6"></div>
						<div class="col-sm-6">
							<span ng-show = "profileForm.confirmPassword.$invalid && profileForm.confirmPassword.$touched" class="COLORRED FONT12PX">
								<!-- <span ng-show = "profileForm.confirmPassword.$error.required" class="COLORRED FONT12PX">This field is mandatory.</span> -->
								<span ng-show ="profileForm.confirmPassword.$error" class="COLORRED FONT12PX">Confirm password should be same.</span>
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-details1">
				<button class="btn btn-default MARGNLFT" type="submit" type="button" ng-disabled="profileForm.$invalid " class="profileBtn floatRight" ng-click="profileControllerScope.addprofiledetail(profileControllerScope.profileDetails)">Update</button>
				<a ><button class="btn  GRAYCLR" type="submit" ng-click="profileControllerScope.decline()">Decline</button></a>
			</div>
		</form>
	</span>
</span>	
		<!-- <div class="WIDTH50">
			<img src="{{vm.staticSource}}/ui/images/jetwings.jpg" class="PROFILEIMG">
		</div> -->
</div>