<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<span> 
	<div ng-show="!editDiv">
		<div class="gridContentTitle title ">
			<div class="DSPLYRUBY">
				<a href="#/vendorDashboard">Home</a>
				<a href="#/radio"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>radio</p></a>
				<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{radioKnowmoreControllerScope.currentPage}}</p>
			</div>
			<span class="editbutton" ><button ng-click="editDiv = !editDiv">Edit</button></span>
		</div>		
		<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			<div class="col-md-2 col-sm-4 col-xs-6 ng-scope" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold">
                        {{key}}
                    </p>
                    <p class="last ng-binding">
                        {{value.value}}
                    </p>
                </div>
            </div>
		</div> -->
	
		<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regular Options</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions.regularOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<p class="card-heading"><strong>{{key}}</p>
						<div>
							<!-- <p class="padd" uib-tooltip="value" tooltip-placement="left"><i class="fa fa-tag"></i>
			                    {{value.pricingUnit}}
			                </p>
			                <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value.discountedRate}}
			                </p> -->
			            </div>
		        	</div>
		            <!-- <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div> -->
	             </div>		
			</div>	

			<div class="title"><span class="brdbttmTitle">RJ Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions.rjOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<p class="card-heading"><strong>{{value.showName}}</strong></p>
						<!-- <div class="priceheight">
							<p><i class="fa fa-tag"></i></p>
			                 <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.show}}
			                </p>
			                 <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.description}}
			                </p>
			                 <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.pricingUnit}}
			                </p>
			                <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value.discountedRate}}
			                </p> 
		            	</div> -->
	            	</div>
	                <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div>
	             </div>		
			</div>	

			<div class="title"><span class="brdbttmTitle">Other Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions.otherOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<!-- <div>
							<p><i class="fa fa-tag"></i></p>
			                <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.pricingUnit1}}
			                </p>
			                <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value.discountedRate}}
			                </p>
		             	</div> -->
	             	</div>
	             	<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div>		
				</div>	
			</div>	
		</div>
	</div>

	<div ng-hide="!editDiv"> 
		<div class="inner-content"> 
		<form name="outdoorDetailsForm" novalidate>
			<div class="form-padding BRDBTM2PX">
				<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails._id" /></div>
				<div class="row">
					<label class="col-sm-6">RadioName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="name" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.name" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Logo<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.logo" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">Station<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="station" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.station" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.urlSlug" required/>
					<div class="col-sm-6"></div>										
				</div>
				
				<div class="row">
					<label class="col-sm-6">Views<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="views" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.views" required/>
					<div class="col-sm-6"></div>										
				</div>
				<div class="row">
					<label class="col-sm-6">ToolName<span class="CLR">*</span></label>
					<input type="text" id="" class="col-sm-6 form-control1" name="toolName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.toolName" required/>
					<div class="col-sm-6"></div>										
				</div>
				
							
			</div>
<!-- {{radioKnowmoreControllerScope.recordDetails}} -->
			<div>
				<div class="">
					<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
						<span class="brdbttmTitle">Attributes</span>
					</div>										
				</div>
			</div>
			<div class="form-padding BRDBTM2PX">
				<div class="row">
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">RadioFrequency</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="attributes" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.attributes.radioFrequency.value" />
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">City</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.attributes.city.value" required/>
						</span>
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">Language</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="language" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.attributes.language.value" required/>
						</span>						
					</div>
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">CityPopularityIndex</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.attributes.cityPopularityIndex.value" required/>
						</span>
						<span class="col-sm-12 PADD PADDLFT10px">
							<label class="col-sm-6">ShowName</label>
							<input type="text" id="" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioKnowmoreControllerScope.recordDetails.attributes.cityPopularityIndex.showName" required/>
						</span>
					</div>
					
				</div>
			</div>
			<div class="form-padding PADD0">				
				<div class="" ng-repeat="(key1, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
					<div class="KnwEdtTitle"><span class="brdbttmTitle">{{key1}}</span>
						<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="newspaperKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></span>
					</div>
					<!-- <div class="row">					
						<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT"></div>
					</div> -->
					<div ng-repeat="(key2, value) in value">
						<div class="padd KnwEdtTitle" ng-click="expanded = !expanded">{{key2}}<span class="padd">
							<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
						</div>				
						<div ng-repeat="(key, value) in value" ng-show="expanded ">		
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-12 PADD">
									<label class="col-sm-6">{{key}}</label>
									<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value" required/>
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>			
			<div class="form-details1 padd">
				<div>
				<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="radioKnowmoreControllerScope.updateRadio()">Save</button>
				<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
				
				</div>
			</div>
		</form>
		</div>
	</div>
	</span>
</span>
</div>
