<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer">
		<span> 
			<div class="searchGridParent">
		<div class="searchSectionContainer">
			<div class="gridContentTitle">
				<div class="DSPLYFLEX1">
					<a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Radio</p>
					<div style="text-align: right;width: 100%;">
						<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="radioControllerScope.addNewRadio()"/>
					</div>
				</div>
			</div>
			<div class="width100">
				
				<div class="group b2bradiosearchBox dropdown">      
					<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Location</label>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
						<li ng-repeat="location in locations | filter:searchLoc">	
							<input  type="checkbox" ng-click="radioControllerScope.getFilterLocation(location)" ng-checked="radioControllerScope.place.indexOf(location) != -1" class="LOCATIONCKEK location" >
							<label>{{location}}</label>
						</li> 
					</ul>
				</div>
				<div class="group b2bradiosearchBox dropdown" >      
					<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLanguage" ng-model="searchLang"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Language</label>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
						<li ng-repeat="language in languages | filter:searchLang">	
							<input class="LOCATIONCKEK" type="checkbox"  class="language" ng-checked="radioControllerScope.lang.indexOf(language) != -1"  ng-click="radioControllerScope.getFilterLang(language)">
							<label>{{language}}</label>
						</li>
					</ul>
				</div>
				<div class="group b2bradiosearchBox dropdown" >      
					<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLanguage" ng-model="searchStat"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Station</label>
					<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
						<li ng-repeat="station in stations | filter:searchStat">	
							<input class="LOCATIONCKEK" type="checkbox"  class="station" ng-checked="radioControllerScope.station.indexOf(language) != -1"  ng-click="radioControllerScope.getFilterStation(station)">
							<label>{{station}}</label>
						</li>
					</ul>
				</div>
				<div class="b2bradiosearchBox b2bRadiosearchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="radioControllerScope.getRadio()">Search</a>
						</div>
				</div>
			</div>
			<div class="width100">
				<div class="group GRIDVIEWTOP">      
					<div class="DISPLAYINLINE">
						<ul class="DISPLAYINLINE1">
							<li ng-repeat="tab in tabs" 
							ng-class="{active:isActiveTab(tab.url)}" 
							ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
						</ul>
					</div>
				</div>
				<div class="OPTIONSFOUND">      
					<div class="FLOATRIGHT1">
						<h6 class="opionsFoundMargin">Found</h6>
						<span class="OPTIONID">{{radioControllerScope.count}}</span>
						<h6 class="radioOpionsFoundMargin">records</h6>
					</div>
				</div>
			</div>
		</div>
		</div>
			<div id="mainView"> 
				<div ng-include="currentTab">

				</div> 
			</div> 
			<script type="text/ng-template" id="radioGridView">
				<div class="textalignCenter">
				<div  ng-show="radioControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
					<div>
			
						<div class="grid" id="viewOne" ng-repeat="radioRecord in radioControllerScope.radioDetails">
			<div  ng-show="radioControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
							<div class="grid-holder grid-card grid-box" >
								<div class="grid-content">
									<div>
										<img ng-src="{{vm.staticSource}}/ui/images/Hello 6e_logo.jpg" class="img-responsive" />
									</div>
									<div>
										<h4 class="gridcontent"> <span class="grid-align">{{radioRecord.name}}</span> </h4>
									</div>
									<div class="grid-content-row">
										<div class="width50 grid-border-right grid-content-holder">
											<p>LANGUAGE</p>
											<p class="grid-fb"  ng-repeat="radioLanguage in radioRecord.attributes.language.value"><span>{{radioLanguage}}</span>  </p>
										</div>
										<div class="width50 grid-content-holder">
											<p> TMA CITY RANK</p>
											<p class="grid-fb ng-binding">{{radioRecord.attributes.cityPopularityIndex.value}} </p>
										</div>
									</div>
								</div>
								<div class="grid-buttons-holder">
									<div class="button_best">
										<a class="grid-button btn"  ng-click="radioControllerScope.knowMore(radioRecord)">View Details</a>
									</div>
								</div>
							</div> 
						</div>
					</div>

					<div class="btnCenter" ng-if="!radioControllerScope.loader">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-if="!(count <= radioControllerScope.count)" ng-click="radioControllerScope.getRadio()">Get More</a>
						</div>
					</div>
				</div>
			</script>
			<!-- <script type="text/ng-template" id="radioListView">
				<div id="viewTwo">
					<div class="BACKGROUNDWHITE">

						<table datatable="ng" class="row-border hover table ">
							<thead>
								<tr>
									<th>Newspaper Name</th>
									<th>Frequency</th>
									<th>City</th>
									<th>Language</th>
									<th>TMA City Rank </th>
									<th>Rate</th>
									<th></th>
								</tr>
							</thead>
							<tbody ng-repeat = "records in radioControllerScope.radioDetails">
								<div class="inner-contant">
									<tr ng-repeat-start = "record in records" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">
										<td>{{ record.name }}</td>
										<td>{{ record.attributes.radioFrequency.value }}</td>
										<td>{{ record.attributes.city.value }}</td>
										<td><span ng-repeat="radioLanguage in record.attributes.language.value">{{radioLanguage}}<br/></span> </td>
										<td>{{ record.attributes.cityPopularityIndex.value }}</td>
										<td >{{ record.mediaOptions.regularOptions.mixedTime.discountedRate }}</td>
										<td class="TABLEIMG"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
										</td>	
									</tr>

									<tr ng-repeat-end="">
										<td colspan="12" class="PADD0">
											<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
												<div class="expand-collapse-content">	
													{{record.urlSlug}}

												</div>
											</div>
										</td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
				<div class="btnCenter">
					
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click="radioControllerScope.getRadio()">Get More</a>
						</div>
						
					</div>
			</script>	 -->	 
		</span>
	</span>
</div>


