<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
			<span class="rightContainer">
			  				
					<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
                     <div id="spinner">
					     <div class="top-spinner"></div>
					</div> 
					<div class="contentTitle">
							Radio Details
						</div>
						<div class="textalignCenter">		
						<div class="inner-content">
							<form name="radioDetailsForm" novalidate>
								<div class="form-padding BRDBTM2PX">
									<div><input type="hidden" id="" class="col-sm-6 form-control1" name="radioName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radio._id" /></div>
									<div class="row">
										<label class="col-sm-6">Radio Name<span class="CLR">*</span></label>
										<input type="text" id="" class="col-sm-6 form-control1" name="radioName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.name" required/>
										<div class="col-sm-6"></div>							
									</div>
									<div class="row">
										<label class="col-sm-6">ToolName<span class="CLR">*</span></label>
										<input type="text" id="" class="col-sm-6 form-control1" name="toolName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.toolName" required/>
										<div class="col-sm-6"></div>										
									</div>
									<div class="row">
										<label class="col-sm-6">Logo<span class="CLR">*</span></label>
										<input type="text" id="logo" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.logo" required/>
										<div class="col-sm-6"></div>										
									</div>
									<div class="row">
										<label class="col-sm-6">Station<span class="CLR">*</span></label>
										<input type="text" id="station" class="col-sm-6 form-control1" name="station" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.station" required/>
										<div class="col-sm-6"></div>										
									</div>
									<div class="row">
										<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
										<input type="text" id="urlSlug" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.urlSlug" required/>
										<div class="col-sm-6"></div>										
									</div>				
								</div>
								

								<div>
									<div class="">
										<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 KnwEdtTitle">
											<span class="brdbttmTitle">Attributes</span>
										</div>										
									</div>
								</div>
								<div class="form-padding BRDBTM2PX">
									<div class="row">
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">RadioFrequency</label>
												<input type="text" id="" class="col-sm-6 form-control1" name="radioFrequency" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.attributes.radioFrequency.value" />
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">City</label>
												<input type="text" id="" class="col-sm-6 form-control1" name="city" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.attributes.city.value" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">Language</label>
												<input type="text" id="" class="col-sm-6 form-control1" name="language" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.attributes.language.value" required/>
											</span>											
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CityPopularityIndex</label>
												<input type="text" id="" class="col-sm-6 form-control1" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.attributes.cityPopularityIndex.value" required/>
												<label class="col-sm-6">ShowName</label>
												<input type="text" id="" class="col-sm-6 form-control1" placeholder="showName" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.attributes.cityPopularityIndex.showName" required/>
											</span>
										</div>
									</div>
								</div>
								 <div class="form-padding PADD0">
									<div class="">
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
											<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span>
											<span class="padd"><img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="newspaperControllerScope.addMore(newspaper)"></img></span>
										</div>
									</div>
								</div>
						     </div>
								
								<div class="form-padding">									
									<div class="row" ng-repeat="key in radioControllerScope.mediaOptions track by $index">
										<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded = !expanded">{{key}}<span class="padd"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded, 'TURNDOWNARROW1': !expanded}"></span>
										</div>

										<div class="PADDLFT10px" ng-if="key == 'otherOptions'" ng-repeat="option in radioControllerScope.otherOptions track by $index" ng-show="expanded">
											<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
											<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
											</div>
											<div  ng-show="expanded1" style="background:white">								
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
													<span class="col-sm-12  PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit2</label>
														<input type="text" id="minimumQtyUnit2" class="col-sm-6 form-control1" name="minimumQtyUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit2" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit1</label>
														<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit1" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit2</label>
														<input type="text" id="discount" class="col-sm-6 form-control1" name="pricingUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit2" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit1</label>
														<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit1" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">ImageUrl</label>
														<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].imageUrl" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">VendorRate</label>
														<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].vendorRate" required/>
													</span>												
												</div>		
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">DiscountedRate</label>
														<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].discountedRate" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">CardRate</label>
														<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].cardRate" required/>
													</span>												
												</div>										
											</div>										
										</div>
										

										<div class="PADDLFT10px" ng-if="key == 'rjOptions'" ng-repeat="option in radioControllerScope.rjOptions track by $index" ng-show="expanded">
											<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
											<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
											</div>
											<div  ng-show="expanded1" style="background:white">									
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit2</label>
														<input type="text" id="minimumQtyUnit2" class="col-sm-6 form-control1" name="minimumQtyUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit2" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit1</label>
														<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit1" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit2</label>
														<input type="text" id="discount" class="col-sm-6 form-control1" name="pricingUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit2" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit1</label>
														<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit1" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">ImageUrl</label>
														<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].imageUrl" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">VendorRate</label>
														<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].vendorRate" required/>
													</span>												
												</div>		
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">DiscountedRate</label>
														<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].discountedRate" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">CardRate</label>
														<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].cardRate" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">Show</label>
														<input type="text" id="show" class="col-sm-6 form-control1" name="show" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].show" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">Description</label>
														<input type="text" id="description" class="col-sm-6 form-control1" name="description" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].description" required/>
													</span>												
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">ShowName</label>
														<input type="text" id="showName" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].showName" required/>
													</span>												
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit</label>
														<input type="text" id="pricingUnit" class="col-sm-6 form-control1" name="pricingUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit" required/>
													</span>												
												</div>									
											</div>										
										</div>




										<div class="PADDLFT10px" ng-if="key == 'regularOptions'" ng-repeat="option in radioControllerScope.regularOptions track by $index" ng-show="expanded">
											<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
												<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
											</div>
											<div  ng-show="expanded1" style="background:white">	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit3</label>
														<input type="text" id="minimumQtyUnit3" class="col-sm-6 form-control1" name="minimumQtyUnit3" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit3" required/>
													</span>
												</div>							
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit2</label>
														<input type="text" id="minimumQtyUnit2" class="col-sm-6 form-control1" name="minimumQtyUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit2" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">MinimumQtyUnit1</label>
														<input type="text" id="minimumQtyUnit1" class="col-sm-6 form-control1" name="minimumQtyUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].minimumQtyUnit1" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit3</label>
														<input type="text" id="discount" class="col-sm-6 form-control1" name="pricingUnit3" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit3" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit2</label>
														<input type="text" id="discount" class="col-sm-6 form-control1" name="pricingUnit2" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit2" required/>
													</span>
												</div>
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit1</label>
														<input type="text" id="pricingUnit1" class="col-sm-6 form-control1" name="pricingUnit1" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit1" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">ImageUrl</label>
														<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].imageUrl" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">VendorRate</label>
														<input type="text" id="vendorRate" class="col-sm-6 form-control1" name="vendorRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].vendorRate" required/>
													</span>												
												</div>		
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">DiscountedRate</label>
														<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="discountedRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].discountedRate" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">CardRate</label>
														<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].cardRate" required/>
													</span>												
												</div>	
												<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
													<span class="col-sm-12 PADD PADDLFT10px">
														<label class="col-sm-6">PricingUnit</label>
														<input type="text" id="pricingUnit" class="col-sm-6 form-control1" name="pricingUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="radioControllerScope.radio.mediaOptions[key][option].pricingUnit" required/>
													</span>												
												</div>										
											</div>										
										</div>
									</div> 
								</div>
 
								<div class="form-details1 PADD0">
									<div>
									<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="radioControllerScope.addRadio()">Save</button>
									<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
									</div>
								</div>
							</form>
						</div>
								
							
					</div>
		
				</div>

			</span>
		
</div>
