

<!--Main Content - Banner Starts-->
<div class="banner">
	<div class="container">
		<h1>Welcome</h1>
		<h2>You have been successfully resetted the password and sent you mail about the temporary password</h2>
		<span class="hidden-xs" ng-if="!usrName"><a href="#/" data-toggle="modal" data-target="#loginDescp">Login</a></span>
	</div>
</div>
	