

<!-- Content Starts -->

<div class=" container bodyContainer1">
	<div>
		<div class="WIDTH710">
			<div class="contentTitle">
				Agency Details
			</div>
			<div class="inner-content">
				<form name="agencyDetailsForm" ng-submit="" novalidate>
					<div class="form-padding">
						<div class="row">
							<label class="col-sm-6">Display Name<span class="CLR">*</span></label>
							<input type="text" class="form-control1 col-sm-6" name="displayname" ng-model="agencyDetailsControllerScope.agencyDetails.displayname" required/>
							<div class="col-sm-6"></div>
				    		<span ng-show="agencyDetailsForm.displayname.$invalid && agencyDetailsForm.displayname.$touched" class="COLORED FONT12PX col-sm-6">This field is mandatory.</span>		    		
						</div>
					</div>
					<div class="form-padding">
						<div class="row">
							<label class="col-sm-6">Business Description<span class="CLR">*</span></label>
							<textarea class="form-control1 col-sm-6 HEIGHT" name="businessdesc" ng-model="agencyDetailsControllerScope.agencyDetails.businessdesc" required>
							</textarea>
							<div class="col-sm-6"></div>
			    			<span ng-show="agencyDetailsForm.businessdesc.$invalid && agencyDetailsForm.businessdesc.$touched" class="COLORED FONT12PX col-sm-6">This field is mandatory.</span>
						</div>
					</div>
				</form>
			</div>
			<div class="form-details1">
				<button class="btn btn-default MARGNLFT" type="submit" ng-click="agencyDetailsControllerScope.addvendordetail(agencyDetailsControllerScope.agencyDetails)">Save</button>
				<a href="#/"><button class="btn GRAYCLR" type="submit">Decline</button></a>
			</div>
		</div>
		<div class="WIDTH240">
			<div class="BACKGROUNDWHITE">
				<legend>GOTO</legend>
				<ul class="padding20">
					<li><a href="#">GETTING STARTED</a></li>
					<li><a href="#">PRICING AND PAYMENTS</a></li>
					<li><a href="#">LISTING AND CATALOG</a></li>
					<li><a href="#">ORDER MANAGEMENT AND SHIPPING</a></li>
					<li><a href="#">RETURNS AND SELLER PROTECTION</a></li>
				</ul>
			</div>
			<div class="BACKGROUNDWHITE">
				<legend>NEW QUESTIONS</legend>
				<div class="PADDING20">
					
					<div class="questions">
						<P><i>Q.</i>Can customers leave feedback and why is it important to me?</P></br>
					</div>
					
					<p class="FONTSIZE"><i>A.</i>Yes, customers can share feedback. Good ratings from customers bring you more business as you will have higher ratings displayed on Flipkart.com. At the same time, negative feedback gives you an opportunity for you to improve your performance.
					</p></br>
					
					<div class="questions">
						<p><i>Q.</i>How do I contact Flipkart to become a seller? Is there a seller helpline?</p></br>
					</div>
					
					<p class="FONTSIZE"><i>A.</i>Yes, you can get all the help you need. Flipkart now has a dedicated seller’s page and 24x7 support for sellers. You can raise a ticket through the Seller Support Ticket Dashboard.Alternatively,  you may also email us at: sell@flipkart.com or simply SMS ‘SELL <email ID>’ to 56677.</email></p>
				</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
<!-- Content Ends -->


