<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer">
		<span> 
		<div class="searchGridParent">
		<div class="searchSectionContainer">
			<div class="gridContentTitle ">
				<div class="DSPLYFLEX1">
					<a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Television</p>
					<div style="text-align: right;width: 100%;">
						<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="televisionControllerScope.addNewTelevision()"/>
					</div>
				</div>
			</div>
			<div class="width100 PADDL0">
				

				<div class="group b2bradiosearchBox dropdown">      
					<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Location</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
							<li ng-repeat="location in locations | filter:searchLoc">	
				          		 <input  type="checkbox" ng-click="televisionControllerScope.getFilterLocation(location)" ng-checked="televisionControllerScope.place.indexOf(location) != -1" class="LOCATIONCKEK location" >
				          		 <label>{{location}}</label>
				           	</li> 
						</ul>
				</div>
				<div class="group b2bradiosearchBox dropdown" >      
					<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLanguage" ng-model="searchLang"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Language</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
							<li ng-repeat="language in languages | filter:searchLang">	
				          		<input class="LOCATIONCKEK" type="checkbox"  class="language" ng-checked="televisionControllerScope.lang.indexOf(language) != -1"  ng-click="televisionControllerScope.getFilterLang(language)">
				            	<label>{{language}}</label>
				           	</li>
						</ul>
				</div>
				<div class="group b2bradiosearchBox dropdown" >      
					<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLanguage" ng-model="searchChann"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Channel Genre</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
							<li ng-repeat="channelgenre in channelgenres | filter:searchChann">	
				          		<input class="LOCATIONCKEK" type="checkbox"  class="channelgenre" ng-checked="televisionControllerScope.channelgenre.indexOf(channelgenre) != -1"  ng-click="televisionControllerScope.getChannelgenre(channelgenre)">
				            	<label>{{channelgenre}}</label>
				           	</li>
						</ul>
				</div>
				<div class="b2bradiosearchBox b2bRadiosearchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="radioControllerScope.getRadio()">Search</a>
						</div>
				</div>
			</div>
			<div class="width100 PADDL0">
				
				<div class="group b2bradiosearchBox GRIDVIEWTOP">      
					<div class="DISPLAYINLINE">
						<ul class="DISPLAYINLINE1">
							<li ng-repeat="tab in tabs" 
							ng-class="{active:isActiveTab(tab.url)}" 
							ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
						</ul>
					</div>
				</div>
				<div class="group  OPTIONSFOUND">      
					<div class="FLOATRIGHT1">
						<h6 class="opionsFoundMargin">Found</h6>
						<span class="OPTIONID">{{televisionControllerScope.count}}</span>
						<h6 class="opionsFoundMargin">record</h6>
					</div>
				</div>
			</div>
			</div>
			</div>
			<div id="mainView"> 
				<div ng-include="currentTab">

				</div> 
			</div> 
			<script type="text/ng-template" id="televisionGridView">
			<div class="textalignCenter">
			<div  ng-show="televisionControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
			<div>
				
					<div class="grid" id="viewOne" ng-repeat="televisionRecord in televisionControllerScope.televisionDetails">
					<div  ng-show="televisionControllerScope.loader">
					<div class="loading-bar"></div>
					<div class="loading-bar"></div>
					<div class="loading-bar"></div>
					<div class="loading-bar"></div>
				</div>
						<div class="grid-holder grid-card grid-box" >
							<div class="grid-content">
								<div>
									<img ng-src="{{vm.staticSource}}/ui/images/star_plus.jpg" class="img-responsive" />
								</div>
								<div>
									<h4 class="gridcontent"> <span class="grid-align">{{televisionRecord.name}}</span> </h4>
								</div>
								<div class="grid-content-row">
									<div class="width50 grid-border-right grid-content-holder">
										<p>GENRE</p>
										{{televisionRecord.attributes.language.value}}
										</div>
									<div class="width50 grid-content-holder">
										<p>WEEKLY REACH</p>
										<p class="grid-fb ng-binding">{{televisionRecord.attributes.weeklyReach.value}} </p>
									</div>
								</div>
							</div>
							<div class="grid-buttons-holder">
								<div class="button_best">
									<a class="grid-button btn"  ng-click="televisionControllerScope.knowMore(televisionRecord)">View Details</a>
								</div>
							</div>
						</div> 
					</div>
				</div>
				<div class="btnCenter" ng-if="!televisionControllerScope.loader">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-if="!(count <= televisionControllerScope.count)" ng-click="televisionControllerScope.getTelevision()">Get More</a>
						</div>
					</div>
				</div>
			</script>
			<!-- <script type="text/ng-template" id="televisionListView">
				<div id="viewTwo">
					<div class="BACKGROUNDWHITE">

						<table datatable="ng" class="row-border hover table ">
							<thead>
								<tr>
									<th>Newspaper Name</th>
									<th>Channel Genre</th>
									<th>Language</th>
									<th>Weekly Viewers(000s)</th>
									<th>Mixed Time Rate</th>
									<th></th>
								</tr>
							</thead>

							<tbody ng-repeat = "records in televisionControllerScope.televisionDetails">
								<div class="inner-contant">
									<tr ng-repeat-start = "record in records" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">

										<td>{{ record.name }}</td>
										<td>{{ record.attributes.genres.value[0] }}</td>
										<td><span ng-repeat="televisionLanguage in record.attributes.language.value">{{televisionLanguage}}<br/></span> </td>
										<td>{{ record.weeklyReach }}</td>
										<td >{{ record.mediaOptions.planningOptions.allDayPlan.discountedRate }}</td>
										<td class="TABLEIMG"><img src="{{vm.staticSource}}/ui/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
										</td>	
									</tr>

									<tr ng-repeat-end="">
										<td colspan="12" class="PADD0">
											<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
												<div class="expand-collapse-content">	
													{{record.urlSlug}}

												</div>
											</div>
										</td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
					<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click=" televisionControllerScope.getTelevision()">Get More</a>
						</div>
					</div>
			</script> -->		 
	</span>
	</span>
</div>

