<div class="parentContainer">
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'"></ng-include>
	</span>
	<span class="rightContainer">
		<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0">
		<div class="block_overlay" id="block_overlay" ng-if="spinner">
        <div class="spinner">
          <div class="rect1"></div>
          <div class="rect2"></div>
          <div class="rect3"></div>
          <div class="rect4"></div>
          <div class="rect5"></div>
        </div>
    </div>
			<div class="contentTitle">
				Television Details
			</div>
			<div class="textalignCenter">
				<div class="inner-content">
					<form name="televisionDetailsForm" novalidate>
						<div class="form-padding BRDBTM2PX">
							<div><input type="hidden" id="" class="col-sm-6 form-control1" name="televisionName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="television._id" /></div>
							<div class="row">
								<label class="col-sm-6">Television Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="televisionName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.name" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Tool Name<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="toolName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.toolName" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Logo<span class="CLR">*</span></label>
								<input type="text" id="logo" class="col-sm-6 form-control1" name="logo" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.logo" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">Rate<span class="CLR">*</span></label>
								<input type="text" id="rate" class="col-sm-6 form-control1" name="raterate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.rate" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">UrlSlug<span class="CLR">*</span></label>
								<input type="text" id="urlSlug" class="col-sm-6 form-control1" name="urlSlug" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.urlSlug" required/>
								<div class="col-sm-6"></div>										
							</div>
							<div class="row">
								<label class="col-sm-6">WeeklyReach<span class="CLR">*</span></label>
								<input type="text" id="weeklyReach" class="col-sm-6 form-control1" name="weeklyReach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.weeklyReach" required/>
								<div class="col-sm-6"></div>										
							</div>	

							<div class="row">
								<label class="col-sm-6">ServiceTaxPercentage<span class="CLR">*</span></label>
								<input type="text" id="serviceTaxPercentage" class="col-sm-6 form-control1" name="serviceTaxPercentage" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.serviceTaxPercentage" required/>
								<div class="col-sm-6"></div>										
							</div>								
							<div class="row">
								<label class="col-sm-6">CardRate<span class="CLR">*</span></label>
								<input type="text" id="" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.cardRate" required/>
								<div class="col-sm-6"></div>										
							</div>														
						</div>

						<div>
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<span class="brdbttmTitle">Attributes</span>
								</div>										
							</div>
						</div>
						<div class="form-padding BRDBTM2PX">
							<div class="row">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Genres</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="genres" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.attributes.genres.value" />
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">Language</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="language" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.attributes.language.value" required/>
									</span>
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">WeeklyReach</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="weeklyReach" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.attributes.weeklyReach.value" required/>
										<label class="col-sm-6">showName</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="showName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.attributes.weeklyReach.showName" required/>
									</span>											
								</div>
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
									<span class="col-sm-12 PADD PADDLFT10px">
										<label class="col-sm-6">pricingUnit</label>
										<input type="text" id="" class="col-sm-6 form-control1" name="pricingUnit" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.attributes.pricingUnit.value" required/>
									</span>
								</div>
							</div>
						</div>
						 <div class="form-padding PADD0">
							<div class="">
								<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 KnwEdtTitle">
									<div class="KnwEdtTitle"><span class="brdbttmTitle">Media Options</span><span class="padd">
										<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="televisionControllerScope.addMore(television)"></img></span>
									</div>
								</div>
							</div>
						</div>
						<div class="form-padding BRDBTM2PX MARGINBT10">									
							<div class="" ng-repeat="key in televisionControllerScope.mediaOptions track by $index">
								<div>
									<span class="KnwEdtTitle" ng-click="expanded = !expanded">{{key}}</span>
									<span>
										<img ng-src="{{vm.staticSource}}/ui/images/add.png" class="addIconImg" ng-click="televisionControllerScope.addMore(key)"></img>
									</span>
								</div>

								<div class="PADDLFT10px" ng-if="key == 'regularOptions'" ng-repeat="option in televisionControllerScope.regularOptions track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}<span class="padd">
										<img src="{{vm.staticSource}}/ui/images/up-arrow.png" class="editImgIcon" ng-class="{'TURNUPARROW1': expanded1, 'TURNDOWNARROW1': !expanded1}"></span>
									</div>
									<div ng-show="expanded1" class="PADDLFT10px">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].cardRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">DiscountedRate</label>
												<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="12" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].discountedRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ShowName</label>
												<input type="text" id="showName" class="col-sm-6 form-control1" name="36" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].showName" required/>
											</span>
										</div>
										
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">imageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].imageUrl" required/>
											</span>												
										</div>	
																			
									</div>										
								</div>
								<div class="PADDLFT10px" ng-if="key == 'planningOptions'" ng-repeat="option in televisionControllerScope.planningOptions track by $index" ng-show="expanded">
									<div class="KnwEdtTitle PADDLFT10px" ng-click="expanded1 = !expanded1">{{option}}</div>
									<div class="PADDLFT10px" ng-show="expanded1">								
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">CardRate</label>
												<input type="text" id="cardRate" class="col-sm-6 form-control1" name="cardRate" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].cardRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">DiscountedRate</label>
												<input type="text" id="discountedRate" class="col-sm-6 form-control1" name="12" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].discountedRate" required/>
											</span>
										</div>
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ShowName</label>
												<input type="text" id="showName" class="col-sm-6 form-control1" name="36" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].showName" required/>
											</span>
										</div>
										
										<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10">
											<span class="col-sm-12 PADD PADDLFT10px">
												<label class="col-sm-6">ImageUrl</label>
												<input type="text" id="imageUrl" class="col-sm-6 form-control1" name="imageUrl" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="televisionControllerScope.television.mediaOptions[key][option].imageUrl" required/>
											</span>												
										</div>	
																			
									</div>										
								</div>
							</div> 
						</div>

						<div class="form-details1 PADD0">
							<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="televisionControllerScope.addTelevision()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</span>
</div>
