@media (min-width: 320px) and (max-width: 767px){
    .bodyContainer1{
        width: 98% !important;
        margin: 10px auto !important;
    }
    .WIDTH710{
        width:100% !important;
    }
    .WIDTH240{
            width: 100% !important;         

    }
    .BACKGROUNDWHITE{
        margin: 10px 0 0 0 !important;
    }
    .DISPLAYNONE{
        display: none !important;
    }
    .DISPLAYBLOCK{
        display: block;
    }
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 26%;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font: 700 14px "Open Sans",sans-serif !important;
    color: #818181;
    display: block;
    transition: 0.3s;
    color: #7120D7 !important;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
    color: #7120D7 !important;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.fa-heart{
    color: #7120D7 !important;
}
.WIDTH82{
    color: #7120D7 !important;
}
.WIDTH20 {
    width: 20% !important;
    float: left;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;}

    .WIDTH50{
        width: 50% !important;
    float: left;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
    }
    /*LOGIN PAGE - START*/

    /*LOGIN PAGE - END*/

}
@media (min-width: 320px) and (max-width: 360px){
.reswidth{
    width: 100% !important;
}
}