<div class="parentContainer"> 	
	<span class="rightContainer">     
		<div class="searchGridParent width100">
			<div class="gridContentTitle ">
				<div class="DSPLYFLEX1">
				    <a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Airline&Airport</p>
				</div>
			</div>
			<div class="displayFlex">
				<!-- <div class="group width33 dropdown" > 
	               <select class="SELECTIMG3" ng-model="user.searchoption">					
					  <option ng-option value="" >Search By Location</option>
					  <option ng-option value="Category">Search By Category</option>
					</select>
	            </div> -->

	            	<div class="group searchBox dropdown">      
	                   <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
		                  <span class="highlight" ></span>
		                  <span class="bar"></span>
		                  <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
		                  <label>Search By Location</label>
		                	<ul class="dropdown-menu" aria-labelledby="dropdownMenu">                        		
					         <li ng-repeat="location in locations | filter:searchLoc">	
					          		 <input  type="checkbox" ng-click="airlineAndAirportControllerScope.getFilterLocation(location)" ng-checked="lang.indexOf(location) != -1" class="LOCATIONCKEKB2C location" >
					          		 <label>{{location}}</label>
					           	</li> 
					        </ul>
	            	</div>																			
	            <div class="group searchBox dropdown">      
	                  <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLang"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
		                  <span class="highlight" ></span>
		                  <span class="bar"></span>
		                  <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
		                  <label>Search By Category</label>
		                  <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="category in categories | filter:searchLang">	
					          		<input class="LOCATIONCKEKB2C" type="checkbox"  class="category" ng-checked="lang.indexOf(category) != -1"  ng-click="airlineAndAirportControllerScope.getFilterLang(category)">
					            	<label>{{category}}</label>
					           	</li>
					        </ul>
	            </div> 
	             
	             
	            <div class="searchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="airlineAndAirportControllerScope.getAirport()">Search</a>
						</div>
				</div>                            
			</div>
			<div class="width100">
				<!-- <div class="group width33 ">      
	                   <select class="SELECTIMG3" ng-model="selectedGroup" ng-change="airlineAndAirportControllerScope.sortBy(selectedGroup)">
						<option ng-option value="" >Sort By</option>
						<option ng-option value="topserch" >Top Searched</option>
						<option ng-option value="reach">reach</option>
						<option ng-option value="price">Price</option>
					</select>
	                  
	            </div> -->
	            <div class="group width33 GRIDVIEWTOP">      
	                  <div class="DISPLAYINLINE">
						<ul class="DISPLAYINLINE1">
							<li ng-repeat="tab in tabs" ng-class="{active:isActiveTab(tab.url)}" ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
						</ul>
					</div>
	            </div>
	            <div class="group OPTIONSFOUND">      
	                 <div class="FLOATRIGHT1">
	                    <h6 class="opionsFoundMargin">Showing</h6>
	                 	<span class="OPTIONID">{{airlineAndAirportControllerScope.count}}</span>
						<h6 class="opionsFoundMargin">records</h6>
					</div>
	            </div>
			</div>			 	
</div>
			<div id="mainView"> 
				<div ng-include="currentTab">

					
				</div> 
			</div> 
			<script type="text/ng-template" id="radioGridView">
				<div class="textalignCenter">
					
			
					
				<div class="grid" id="viewOne" ng-repeat="record in airlineAndAirportControllerScope.airlineAirportsDetails">
				
					<div class="grid-holder grid-card grid-box" >
						<div class="grid-content">
							<div>
								<img ng-src="{{vm.staticSource}}/static/images/plane.jpg" class="img-responsive imgWidth" imgWidth>
							</div>
							<div>
								<h4 class="gridcontent"> <span class="grid-align">{{record.name}}</span> </h4>
							</div>
							<div class="grid-content-row">
								<div class="width100 grid-border-right grid-content-holder">
									<p>Reach </p>
									<p class="grid-fb"> {{record.attributes.reach.value}} </p>					
								</div>
							</div>
						</div>
						<div class="grid-buttons-holder">
							<div class="button_best">
								<a class="grid-button btn" ng-click="airlineAndAirportControllerScope.knowMore(record)">View Details</a>
							</div>
						</div>							
					</div>
				</div>
			
				 <div class="btnCenter" >
				 		<div ng-show="airlineAndAirportControllerScope.loader">
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
					</div>
						<div class="getMoreBtn-margin20" ng-if="!airlineAndAirportControllerScope.loader">
							<a class="grid-button1 btn" ng-if="!(count <= airlineAndAirportControllerScope.count)"ng-click="airlineAndAirportControllerScope.getAirport()">Get More</a>
						</div>
						
					</div> 

				</div>
			</script>
			<!-- <script type="text/ng-template" id="radioListView">
				<div id="viewTwo">
					<div class="BACKGROUNDWHITE">
						<div class="inner-contant">
							<table datatable="ng" class="row-border hover table ">
								<thead>
									<tr>
										<th>Magazine Name</th>
										<th>Category</th>
										<th>Circulation</th>
										<th>Language</th>
										<th>Frequency </th>
										<th>****</th>											
										</tr>
									</thead>
									<tbody ng-repeat="record1 in airlineAndAirportControllerScope.airlineAirportsDetails">
										<tr ng-repeat-start="record in record1" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">
											<td>{{ record.name }}</td>
											<td>{{ record.categoryName }}</td>
											<td>{{ record.attributes.circulation.value }}</td>
											<td>{{ record.attributes.language.value }}</td>
											<td>{{ record.attributes.frequency.value }}</td>							
											<td class="TABLEIMG"><img src="{{vm.staticSource}}/static/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
											</td>	
										</tr>		

										<tr ng-repeat-end="">
											<td colspan="12" class="PADD0">
												<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
													<div class="expand-collapse-content">	
														{{record.urlSlug}}

													</div>
												</div>
											</td>
										</tr>										
									</tbody>
							</table>
							</div>
						</div>
					</div>
					<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click="airlineAndAirportControllerScope.getAirport()">Get More</a>
						</div>
					</div>
				</script> -->
			
		</span>	
	</div>
