<div class="parentContainer"> 
	<span class="bookingRightContainer"> 
		<div class="searchGridParent width100">
			<div class="border1px">
				<div class="bookingWidth25">
					<div class="borderBottom1px">
						<p>AD TYPE</p>
						<p>Classified Text Ad</p>
					</div>
					<div class="borderBottom1px">
						<p>AD CATEGORY</p>
						<p>{{bookingSummaryControllerScope.recordDetails[0].mediaType}}</p>
						<p>{{bookingSummaryControllerScope.recordDetails[0].mediaName}}</p>
					</div>
					<div class="paddleft20">
						<p>PUBLISH DATES</p>
						<p>dgfh</p>
						<p>dfsdgsfg</p>
					</div>
				</div>
				<div class="bookingWidth25">
					{{bookingSummaryControllerScope.recordDetails[0].mediaoption}}
				</div>
				<div class="bookingWidth31">
					<p>	Rate: {{bookingSummaryControllerScope.recordDetails[1].rate}}</p>.
					<p>Service Tax  14.5% : {{bookingSummaryControllerScope.recordDetails[1].rate * 0.145}}</p>
					<p>Grand Total : {{bookingSummaryControllerScope.Grandtotal}} </p>
				</div>
				<div class="bookingWidth5">
					<a href="#/myQuotes"><div data-dismiss="modal" class="CURS" ng-click="vm.close()">
			          <div class="mdiv">
			          <div class="md">
			          </div>
			          </div>
			          </div>
				    </a>
				</div>
			</div>
		</div>
	</span>
	<div>
		<button class=" btn fltnone butn orderbutn" ng-click="bookingSummaryControllerScope.ordersummary()">Place Order</button>

	</div>
</div>