<div class="parentContainer"> 
	
	<span class="rightContainer"> 
	<div class="searchGridParent width100">
				<div class="gridContentTitle ">
					<div class="DSPLYFLEX1"><a href="#/vendorDashboard">Home</a>
						<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Cinemas</p>
					</div>
				</div>
				<div class="displayFlex">
					<!-- <div class="group width33 dropdown" > 
                       <select class="SELECTIMG3" ng-model="user.searchoption">
					
					 <option ng-option value="" >Search By Location</option>
					  <option ng-option value="planner">Search By Planner</option>
					  <option ng-option value="cinemachain">Search By Cinema Chain</option>
					  <option ng-option value="mallname">Search By Mall Name</option>
					  <option ng-option value="mediaoption">Search By Media Option</option>
					  <option ng-option value="screentype">Search By Media Screen Type</option>
					</select>
                    </div> -->

                    <div class="group searchBox dropdown">      
	                  <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
	                  <span class="highlight" ></span>
	                  <span class="bar"></span>
	                 <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-search lense" aria-hidden="true"></i></a>
	                  <label>Search By Location</label>
	                	<ul class="dropdown-menu" aria-labelledby="dropdownMenu">                        		
				         <li ng-repeat="location in locations | filter:searchLoc">	
				          		 <input  type="checkbox" ng-click="airlineAndAirportControllerScope.getFilterLocation(location)" ng-checked="lang.indexOf(location) != -1" class="LOCATIONCKEKB2C location" >
				          		 <label>{{location}}</label>
				           	</li> 
				        </ul>
	            </div>
                    
                    <div class="group searchBox dropdown">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchChain"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
						<span class="highlight" ></span>
						<span class="bar"></span>
						<a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
						<label>Search By Cinema Chain</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
							<li ng-repeat="cinemachain in cinemachains | filter:searchChain">	
								<input class="LOCATIONCKEKB2C" type="checkbox"  class="cinemachain" ng-checked="lang.indexOf(cinemachain) != -1"  ng-click="cinemasControllerScope.getFilterLang(cinemachain)">
								<label>{{cinemachain}}</label>
							</li>
						</ul>  
                    </div>
                    <div class="group searchBox dropdown">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchMall"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
						<span class="highlight" ></span>
						<span class="bar"></span>
						<a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
						<label>Search By Mall Name</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
							<li ng-repeat="mallname in mallnames | filter:searchMall">	
								<input class="LOCATIONCKEKB2C" type="checkbox"  class="mallname" ng-checked="lang.indexOf(mallname) != -1"  ng-click="cinemasControllerScope.getFilterLang(mallname)">
								<label>{{mallname}}</label>
							</li>
						</ul>   
                    </div>
                    <div class="group searchBox dropdown" >      
						<input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchScreen"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
						<span class="highlight" ></span>
						<span class="bar"></span>
						<a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
						<label>Search By Screen Type</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu">
							<li ng-repeat="screentype in screentypes | filter:searchScreen">	
								<input class="LOCATIONCKEKB2C" type="checkbox"  class="screentype" ng-checked="lang.indexOf(screentype) != -1"  ng-click="cinemasControllerScope.getFilterLang(screentype)">
								<label>{{screentype}}</label>
							</li>
						</ul>  
					</div>

						<!-- <div class="group width33 dropdown" ng-if="user.searchoption == 'mediaoption'">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchMedia"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="#" class="SEARCHANCHOR"><i class="fa fa-search lense"></i></a>
                          <label>Search By Media Option</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="mediaoption in mediaoptions | filter:searchMedia">	
					          		<input class="LOCATIONCKEK" type="checkbox"  class="mediaoption" ng-checked="lang.indexOf(mediaoption) != -1"  ng-click="cinemasControllerScope.getFilterLang(mediaoption)">
					            	<label>{{mediaoption}}</label>
					           	</li>
					        </ul>  
                    </div> -->

						<!-- <div class="group width33 dropdown" ng-if="user.searchoption == 'screentype'">      
                          <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchScreen"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
                          <span class="highlight" ></span>
                          <span class="bar"></span>
                          <a href="#" class="SEARCHANCHOR"><i class="fa fa-search lense"></i></a>
                          <label>Search By Screen Type</label>
                          <ul class="dropdown-menu" aria-labelledby="dropdownMenu">
					           <li ng-repeat="screentype in screentypes | filter:searchScreen">	
					          		<input class="LOCATIONCKEK" type="checkbox"  class="screentype" ng-checked="lang.indexOf(screentype) != -1"  ng-click="cinemasControllerScope.getFilterLang(screentype)">
					            	<label>{{screentype}}</label>
					           	</li>
					        </ul>  
                    </div>

 -->                     <div class="searchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="cinemaControllerScope.getCinemas()">Search</a>
						</div>
				</div>
				</div>
				<div class="width100">
					<!-- <div class="group width33 ">
                          <select class="SELECTIMG3" ng-model="selectedGroup" ng-change="cinemasControllerScope.sortBy(selectedGroup)">
							<option ng-option value="" >Sort By</option>
							<option ng-option value="topserch" >Top Searched</option>
							<option ng-option value="city">City</option>
							<option ng-option value="chain">Chain</option>
							<option ng-option value="theatrename">Theatre Name</option>
							<option ng-option value="price">Price</option>
						</select>
                          
                    </div> -->
                    <div class="group width33 GRIDVIEWTOP">      
                          <div class="DISPLAYINLINE">
							<ul class="DISPLAYINLINE1">
								<li ng-repeat="tab in tabs" 
								ng-class="{active:isActiveTab(tab.url)}" 
								ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
							</ul>
						</div>
                    </div>
                    <div class="group OPTIONSFOUND">      
                         <div class="FLOATRIGHT1">
                            <h6 class="opionsFoundMargin">Showing </h6>
                         	<span class="OPTIONID">{{cinemaControllerScope.count}}</span>
							<h6 class="opionsFoundMargin"> Records</h6>
						</div>
                    </div>
	 			</div>
	 		</div> 			
				

				<div id="mainView"> 
					<div ng-include="currentTab">

					</div> 
				</div> 
				<script type="text/ng-template" id="cinemaGridView">
					<div class="textalignCenter">
					
					<div>
						<div class="grid" id="viewOne" ng-repeat = "newsRecord in cinemaControllerScope.cinemaDetail">

							 <div class="grid-holder grid-card grid-box" >
								<div class="grid-content">
									<div>
										<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" imgWidth>
									</div>
									<div>
										<h4 class="gridcontent"> <span class="grid-align">{{newsRecord.name}}</span> </h4>
									</div>
									<div class="grid-content-row">
										<div class="width50 grid-border-right grid-content-holder">
											<p>LANGUAGE</p>
											<p class="grid-fb"> {{newsRecord.attributes.seats.value}} </p>
										</div>
										<div class="width50 grid-content-holder">
											<p> CIRCULATION</p>
											<p class="grid-fb ng-binding"> {{newsRecord.attributes.pricingUnit.value}}</p>
										</div>
									</div>
								</div>
								<div class="grid-buttons-holder">
									<div class="button_best">
										<a class="grid-button btn"  ng-click="cinemaControllerScope.knowMore(newsRecord)">View Details</a>
									</div>
								</div>
							</div> 
						</div>
					</div>

					<div class="btnCenter" >
					    <div ng-show="cinemaControllerScope.loader">
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
					</div>
						<div class="getMoreBtn-margin20" ng-if="!cinemaControllerScope.loader">
							<a class="grid-button1 btn" ng-if="!(count <= cinemaControllerScope.count)" ng-click="cinemaControllerScope.getCinemas()">Get More</a>
						</div>
					</div>
					</div>
				</script>


				<!-- <script type="text/ng-template" id="cinemaListView">
					<div id="viewTwo">
						<div class="BACKGROUNDWHITE">

							<table datatable="ng" class="row-border hover table ">
								<thead>
									<tr>
										<th>Cinema Name</th>
										<th>Category</th>
										<th>Circulation</th>
										<th>Edition</th>
										<th>Print Day </th>
										<th>Rate</th>
										<th></th>
									</tr>
								</thead>

								<tbody ng-repeat = "records in cinemasControllerScope.cinemaDetails">
									<div class="inner-contant">
										<tr ng-repeat-start = "record in records" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">

											<td>{{ record.name }}</td>									
											<td>{{ record.attributes.seats.value }}</td>
											<td>{{ record.attributes.pricingUnit.value }}</td>
											<td >{{ record.mediaOptions.regularOptions.anyPage.discountedRate }}</td>
											<td class="TABLEIMG"><img src="{{vm.staticSource}}/static/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
											</td>	
										</tr>

										<tr ng-repeat-end="">
											<td colspan="12" class="PADD0">
												<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
													<div class="expand-collapse-content">	
														{{record.urlSlug}}

													</div>
												</div>
											</td>
										</tr>
									</div>
								</tbody>
							</table>
						</div>
					</div>
					<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click="cinemaControllerScope.getCinemas()">Get More</a>
						</div>
					</div>
				</script> -->
		</span>
	</div>
