<div class="parentContainer"> 
	
	<span class="rightContainer">
	<div class="gridContentTitle">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/digital"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Digital</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ digitalKnowmoreControllerScope.currentPage}}</p>
				</div>
	</div>

		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
			<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
			<div class="col-md-2 col-sm-4 col-xs-6 ng-scope reswidth" ng-repeat="(key, value) in digitalKnowmoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        {{key}}
                    </p>
                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
                        {{value.value}}
                    </p>
                </div>
            </div> -->
		</div>
	
		<div class="textalignCenter">
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" ng-repeat="(key, value) in digitalKnowmoreControllerScope.recordDetails.mediaOptions">
					<div class="KnwEdtTitle padd"><span class="brdbttmTitle">{{key}}</span></div>
					<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key1, value1) in value">
						<div class="grid-content">
							<div>
								<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
							</div>
							<div class="pricePadBttm">
								<h3>{{key1}}</h3>
								
				                <!-- <p class="" uib-tooltip="key" tooltip-placement="left">
				                    {{value1.cardRate}}
				                </p>
				                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
				                    {{value1.discountedRate}}
				                </p> -->
				            </div>
	             		</div>		
						<div class="btnCenter">
							<div class="getMoreBtn">
								<a class="card-button btn" ng-click="digitalKnowmoreControllerScope.getQuotes(digitalKnowmoreControllerScope.recordDetails,key1,value)">Get Quotes</a>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
	</span>

</div>
