 
    <!--Footer Starts-->
    <footer>
	<div class="container">
	    <div class="col-sm-5 PADD0LFT">
		<ul class="list">
		    <li><a href="about-us.html">About Us</a></li>
		    <li><a href="termsandconditions.html">Terms &amp; Conditions</a></li>
		    <li><a href="privacy-policy.html">Privacy Policy</a></li>
		    <li><a href="refunds-policy.html">Refunds Policy</a></li>
		    <li><a href="contact-us.html">Contact Us</a></li>
		    <li><a href="login.html">Login</a></li>
		    <li><a href="faqs.html">FAQ's</a></li>
		</ul>
	    </div>
	    
	    <div class="col-sm-4 follow">
		<h2>Follow Us:</h2>
		<a href="https://www.facebook.com/AdsToPublish" target="_blank"><img src="{{vm.staticSource}}/ui/images/fb-icon.jpg" alt="Facebook"/></a>
		<a href="https://twitter.com/AdsToPublish" target="_blank"><img src="{{vm.staticSource}}/ui/images/twitter.jpg" alt="Twitter"/></a>
		<a href="https://www.linkedin.com/company/AdsToPublish" target="_blank"><img src="{{vm.staticSource}}/ui/images/linkdin.jpg" alt="LInkedin"/></a>
		<a href="https://plus.google.com/100037968249495848935" target="_blank"><img src="{{vm.staticSource}}/ui/images/google-plus.jpg" alt="Google Plus"/></a>
		<a href="https://www.youtube.com/user/AdsToPublish" target="_blank"><img src="{{vm.staticSource}}/ui/images/youtube.jpg" alt="Youtube"/></a>		
	    </div>
	    
	    <div class="col-sm-3 last PADD0RGT">
		<p>Payments Accepted</p>
		<img src="{{vm.staticSource}}/ui/images/cards.jpg" alt="We Accept Credits Cards"/>
		<p>Copyright @ AdsToPublish.com, <br/> All Rights Reserved.</p>
	    </div>
	</div>
    </footer>
    <!--FOoter Ends-->