
<!--Main Content - Banner Starts-->


<div class="banner">
  <div class="container">
    <h1>Book Advertising in Newspaper easily online</h1>
    <h2>Let’s Begin! Select ad an type.</h2>
  </div>
</div>
<div class="bannerOverlay">
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
<div id="topmenu">
  <span class="col-sm-4 border TEXTALIGNCENTER" id="menutitle">
    <span class="homePadding">
      <i class="fa fa-hospital-o" aria-hidden="true"></i>
      <h4>News Paper</h4>
    </span>
  </span>

</div>
</div>


<!--Main Content - Banner Ends-->


<!-- Content Login POPUP Starts -->
 <!--  <div class="modal fade block_overlay" id="loginDescp">
    <div class="modal-content">
      <div class="modal-header">
       <div data-dismiss="modal" class="CURS" ng-click="homeControllerScope.close()" >
          <div class="mdiv">
            <div class="md">
            </div>
          </div>
        </div>
        <div class="popup-details">
          <div class="col-sm-4 BGCLR">
            <div ng-show="divShow == 'login'">
              <legend class="legend_border">
                <span class="TOP10PX LGN" >Login</span>
              </legend>
              <div>
                <p class="LGNP"> Get access to your Orders, Wishlist and Recommendations </p>
              </div>
              <div class="MATP">
                <img src="{{vm.staticSource}}/static/images/login_img_dec4bf.png" alt="icon" />
              </div>
            </div>
            <div ng-show="divShow == 'signup'">
              <legend class="legend_border">
                <span class="TOP10PX LGN" >Sign Up</span>
              </legend>
              <div>
                <p class="LGNP"> We do not share your personal details with anyone. </p>
              </div>
              <div class="MATP">
                <img src="{{vm.staticSource}}/static/images/login_img_dec4bf.png" alt="icon" />
              </div>
            </div>
            <div ng-show="divShow == 'resetpassword'">
              <legend class="legend_border">
                <span class="TOP10PX LGN" >Reset Password</span>
              </legend>
              <div>
                <p class="LGNP"> Get access to your Orders, Wishlist and Recommendations </p>
              </div>
              <div class="MATP">
                <img src="{{vm.staticSource}}/static/images/login_img_dec4bf.png" alt="icon" />
              </div>
            </div>
          </div>
          <div class="col-sm-8 POPUPPDG">
            <div class="login-form lognwidth">
                  <div ng-show="divShow == 'login'">
                  <form name="loginForm" class="register-form formCtrl">
                  <div class="form-group MrgLeft0px">
                        <div class="group">      
                          <input class="inputMaterial" name="email" type="text" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/" 
                          ng-model="homeControllerScope.userLoginDetail.username" required/>
                        <span class="highlight"></span>
                          <span class="bar"></span> 
                          <label>Email Id or Mobile Number</label>
                          <span ng-show = "loginForm.email.$invalid && loginForm.email.$touched" class="COLORRED FONT12PX">
                          <span ng-show = "loginForm.email.$error.required" class="COLORRED FONT12PX">Enter valid Email Id or Mobile Number.</span>
                          <span ng-show ="loginForm.email.$error.pattern" class="COLORRED FONT12PX"> Enter valid Email Id or Mobile Number.</span>
                           </span>
                        </div>
                        <div class="group">      
                          <input class="inputMaterial" name="password" type="password" ng-pattern=" /^[a-zA-Z0-9_\W]{8,25}$/" ng-model="homeControllerScope.userLoginDetail.password" ng-minlength="8" required/>
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Password</label>
                          <span class="FGT2"><a href="" class="FGT" id="forgotpassword" ng-click="show('resetpassword')"><span class="FGT1"> Forgot? </span> </a></span>
                          <span ng-show = "loginForm.password.$invalid && register1.password.$touched" class="COLORRED FONT12PX">
                          <span ng-show = "loginForm.password.$error.required" class="COLORRED FONT12PX"></span>
                          <span ng-show ="loginForm.password.$error.pattern" class="COLORRED FONT12PX">Minimum 8 characters</span>
                          </span>
                        </div>
                        <div class="form-group MrgLeft0px">
                          <span ng-if="user.loginFailed" class="COLORRED FONT12PX">Username and password is incorrect</span>
                        </div>

                    <div class="TXTCENTER"> 
                      <button class="btn btn-default fltnone butn" ng-click="homeControllerScope.login()">Login</button> 
                    </div>
                    <div class="TXTCENTER"> 
                      <button class="btn fltnone butn SGNBTN"  ng-click="show('signup')">Sign Up</button>  
                    </div>  
                  </div>
                  </form>
                </div>

                <div ng-show="divShow == 'signup'" id="signUpDescp">
                  <form name="registerForm">
                    <div class="group">      
                          <input class="inputMaterial" name="name" type="text" ng-pattern="/^[a-zA-Z0-9]*$/"  
                          ng-model="homeControllerScope.userRegistrationDetail.username"  required/>
                          <span class="highlight "></span>
                          <span class="bar"></span>
                          <label>Name</label>
                          <span ng-show = "registerForm.username.$invalid && registerForm.name.$touched" class="COLORRED FONT12PX">
                          <span ng-show = "registerForm.name.$error.required" class="COLORRED FONT12PX"></span>
                          <span ng-show ="registerForm.name.$error.pattern" class="COLORRED FONT12PX">  Alphanumeric characters only.</span>
                          </span>
                    </div>
                    <div class="group">      
                        <input class="inputMaterial" name="email" type="text" ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/"  ng-model="homeControllerScope.userRegistrationDetail.email"  required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Email Id</label>
                        <span ng-show = "registerForm.email.$invalid && registerForm.email.$touched" class="COLORRED FONT12PX">
                        <span ng-show = "registerForm.email.$error.required" class="COLORRED FONT12PX"></span>
                        <span ng-show ="registerForm.email.$error.pattern" class="COLORRED FONT12PX"> Enter valid Email Id.</span>
                        </span>
                    </div>
                    <div class="group">      
                        <input class="inputMaterial" name="phone" type="text" ng-pattern="/^[0-9]{1,10}$/" 
                        ng-model="homeControllerScope.userRegistrationDetail.phone" phone-input maxlength="10"  required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Mobile Number</label>
                        <span ng-show = "registerForm.phone.$invalid && registerForm.phone.$touched" class="COLORRED FONT12PX">
                        <span ng-show = "registerForm.phone.$error.required" class="COLORRED FONT12PX"></span>
                        <span ng-show ="registerForm.phone.$error.pattern" class="COLORRED FONT12PX">  Numeric characters only.</span>
                        </span>
                    </div>
                    <div class="group">      
                        <input class="inputMaterial" name="password" type="password" ng-model="homeControllerScope.userRegistrationDetail.password" ng-pattern=" /^[a-zA-Z0-9\W]{8,25}$/" ng-minlength="8" required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                        <span ng-show = "registerForm.password.$invalid && registerForm.password.$touched" class="COLORRED FONT12PX">
                        <span ng-show = "registerForm.password.$error.required" class="COLORRED FONT12PX"></span>
                        <span ng-show ="registerForm.password.$error.pattern" class="COLORRED FONT12PX">Minimum 8 characters</span>
                         </span>
                    </div>

                    <div class="group">      
                        <input class="inputMaterial" name="confirmPassword" type="password"  
                        ng-pattern="homeControllerScope.userRegistrationDetail.password" ng-model="user.confirmPassword"  
                        compare-to="homeControllerScope.userRegistrationDetail.password" ng-minlength="8" required/>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Confirm Password</label>

                      <span ng-show="registerForm.confirmPassword.$invalid && registerForm.confirmPassword.$touched" class="COLORRED FONT12PX">
                        <span ng-show = "registerForm.confirmPassword.$error.required" class="COLORRED FONT12PX">Please confirm your password </span>
                        <span ng-show="registerForm.confirmPassword.$error.minlength" class="COLORRED FONT12PX"> Minimum 8 characters. </span>
                        <span ng-show ="registerForm.confirmPassword.$error.pattern" class="COLORRED FONT12PX"> Recheck your password</span>
                      </span>
                    </div>
                                          
                    <div class="TXTCENTER"> 
                      <button class="btn btn-default fltnone butn" ng-click="homeControllerScope.register()" data-dismiss="modal" value="submit" type="submit">Sign Up</button> 
                    </div>
                  
                    <div class="TXTCENTER"> 
                      <button class="btn fltnone butn SGNBTN" value="RELOAD" ng-click="show('login')">Existing User? Login </button>                    
                    </div>
                  </form>
                </div>
            </div>
          </div> 
        </div> 







      </div>
    </div>
  </div> -->
               <!-- Login method --> 

               <!--  -->

                <!-- Sign Up method -->
                <!-- 
                 -->

                <!-- Forget Password Method -->

             <!--    <div ng-show="divShow == 'resetpassword'" id="forgotDescp">
                  <div class="form-group MrgLeft0px">
                  <form name="register2">
                        <div class="group">      
                          <input class="inputMaterial" name="forgetpassword" type="text" id="regis"  ng-pattern="/^([_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,5}))|(\d+$)$/" ng-model="user.forgetpassword"  required/>
                          <span class="highlight"></span>
                          <span class="bar"></span>
                          <label>Email Id or Mobile Number</label>
                          <span ng-show = "register2.forgetpassword.$invalid && register2.forgetpassword.$touched" class="COLORRED FONT12PX">
                          <span ng-show = "register2.forgetpassword.$error.required" class="COLORRED FONT12PX"></span>
                          <span ng-show ="register2.forgetpassword.$error.pattern" class="COLORRED FONT12PX"> Enter valid Email Id or Mobile Number.</span>
                          </span>
                        </div>
                        <div class="TXTCENTER"> 
                          <button class="btn btn-default fltnone butn" ng-click="homeControllerScope.forgetpass(user)" data-dismiss="modal" >Reset Password</button> 
                        </div>
                  </form> 
                  </div>
                </div> -->
            
<!-- Content Login POPUP Ends -->


