<div class="container bodyContainer">
	<div class="WIDTH96">
		<div>
			<div class="WIDTH25" >
				<ng-include src="'pages/leftMenus.html'"></ng-include>
			</div>
			<div class="PRICEGRIDWIDTH75">
				<div class="priceContentTitle">{{name}}</div>

				<div class="priceGridContentTitle" >Regular Options</div>			


				<section class="our-story">
					<div class="bg-clr-banner clearfix" ng-if="optionType.halfPage != undefined && optionType.halfPage != ''">
						<div class="col-md-6 col-sm-6 col-xs-12 about-img">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div>
								<div class=" PADDL10" >
									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Half Page</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in items track by $index" class="ITEMPRICE">Rs. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bg-clr-banner clearfix" ng-if="optionType.fullPage != undefined && optionType.fullPage != ''">
						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div class=" content-bg-clor">
								<div>	
									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Full Page</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in fullPageRate track by $index" class=" ITEMPRICE">RS. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>	
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 about-img hidden-xs">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
					</div>
				</section>
				<section class="our-story">
					<div class="bg-clr-banner clearfix" ng-if="optionType.insideFrontCover != undefined && optionType.insideFrontCover != ''">
						<div class="col-md-6 col-sm-6 col-xs-12 about-img">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div>
								<div class=" PADDL10" >
									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Inside Front Cover</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in insideFrontCoverRate track by $index" class="ITEMPRICE">Rs. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bg-clr-banner clearfix" ng-if="optionType.insideBackCover != undefined && optionType.insideBackCover != ''">
						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div class=" content-bg-clor">
								<div>	
									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Inside back Cover</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in insideBackCoverRate track by $index" class="ITEMPRICE">RS. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 col-sm-6 col-xs-12 about-img hidden-xs">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
					</div>
				</section>
				<section class="our-story">
					<div class="bg-clr-banner clearfix" ng-if="optionType.backCover != undefined && optionType.backCover != ''">
						<div class="col-md-6 col-sm-6 col-xs-12 about-img">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div >
								<div class=" PADDL10" >
									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Back Cover</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in backCoveraRate track by $index" class=" ITEMPRICE">RS. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="bg-clr-banner clearfix" ng-if="optionType.doubleSpread != undefined && optionType.doubleSpread != ''">

						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div class="content-bg-clor">
								<div >	


									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Double Spread</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in doubleSpreadRate track by $index" class="ITEMPRICE">RS. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 about-img hidden-xs">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
					</div>
				</section>
				<section class="our-story">
					<div class="bg-clr-banner clearfix" ng-if="optionType.centerDoubleSpread != undefined && (!angular.equals({}, optionType.insideFrontCover) ">
						<div class="col-md-6 col-sm-6 col-xs-12 about-img">
							<img class="img-responsive" src="{{vm.staticSource}}/ui/images/jetwings.jpg" alt="about image1">
						</div>
						<div class="col-md-6 col-sm-6 col-xs-12 PADDING40">
							<div >
								<div class=" PADDL10" >
									<div >	
										<div class="col-sm-12 PADD0 MARGINBT10">
											<h4>Center Double Spread</h4>
											<div class=" col-sm-6 PADD0">
												<p class="CURRENTPRICE">Current Price</p>
											</div>
											<div class="col-sm-6 PADD0">
												<div ng-repeat="item in centerDoubleSpreadRate track by $index" class=" ITEMPRICE">RS. {{item}}</div>
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT10">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE" >Add New Price</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<input type="text" class="PRICEINPUT" ng-model="newItem">
											</div>
										</div>
										<div class="col-sm-12 PADD0 MARGINBT20">
											<div class="col-sm-6 PADD0">
												<h6 class="ADDPRICE">Comments</h6>
											</div>
											<div class="col-sm-6 CURRENTPRICE">
												<textarea class="PRICEINPUT" ng-model="comments"></textarea>
											</div>
										</div>
									</div>
									<div class="col-sm-12">
										<div class="col-sm-2"></div>
										<div class="col-sm-8">
											<a class="price-grid-button btn" href="" ng-click="add(newItem)">Add New Price</a>
										</div>
										<div class="col-sm-2"></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</section>
		</div>
	</div>
</div>