<div class="parentContainer"> 

	<span class="rightContainer">
	<div class="gridContentTitle">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/magazine"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Magazine</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ magazineKnowMoreControllerScope.currentPage}}</p>
				</div>
	</div>
	<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
            <div class="col-md-2 col-sm-4 col-xs-6 ng-scope reswidth" ng-repeat="(key, value) in magazineKnowMoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        {{key}}
                    </p>
                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
                        {{value.value}}
                    </p>
                </div>
            </div>
        </div> -->
		<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regular Options</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in magazineKnowMoreControllerScope.recordDetails.mediaOptions.regularOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/static/images/India_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<div class="pricePadBttm">
							<p class="card-heading"><strong>{{key}}</strong></p>
							<!-- <p class="card-heading"><i class="fa fa-tag"></i></p> -->
			               <!--  <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value['1-2']}}
			                </p>	 -->
			            </div>
		        	</div>
	                <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn" ng-click="magazineKnowMoreControllerScope.getQuotes(magazineKnowMoreControllerScope.recordDetails,key,value)">Get Quotes</a>
						</div>
					</div>
	         	</div>	
			</div>
		</div>

    </span>
</div>
