	<header ng-controller="menusController as menusControllerScope" >
		<div class="container ">
			<div>
			  <ul class="displayflex">
					<li><a href="faqs.html">Download Vendor App</a></li>
					<li class="hidden-xs"><a href="contact-us.html">Contact Vendor Support</a></li>
					<li class="hidden-xs" ng-if="!menusControllerScope.userName" ><a ><span class="fa fa-user"></span><span ng-click="menusControllerScope.login()">Log In</span></a></li>

					<li class="btn-group hidden-xs" ng-if="menusControllerScope.userName" data-ng-class="{open: open}" data-ng-click="open=!open">
			           <a class="dropdown-toggle" ><span class="glyphicon glyphicon-user"></span>User<span class="caret"></span></a>
			           
			           <ul class="dropdown-menu mrgLft0px" aria-labelledby="dropdownMenu">
			               <li><a href="#/order">My Order</a></li>
			               <li><a href="#/myQuotes">My Quotes</a></li>
			               <li><a ng-click="menusControllerScope.logout()"  class="hidden-xs" ng-if="menusControllerScope.userName"><span >Logout</span></a></li>				              
			           </ul>
					</li>
					<!-- <li class="hidden-xs" ng-if="menusControllerScope.userName" ><a ><span class="fa fa-user"></span><span ng-click="menusControllerScope.logout()">Log Out</span></a></li>	 -->
				</ul>
			</div>	
			<div class="menusContainer">
			  <div class="alignleft">
			  	<a href="index.html"><img src="{{vm.staticSource}}/static/images/logo.png " class="padd20" alt="AdsToPublish"/>
			  	</a>
			  </div>
			  <div class="alignright">
					<div class="">
						<ul class="menus">
							
							<li><a href="#/vendorfaqs">Faq's</a></li>
							<li><a href="#/newspaper">Newspaper</a></li>
							<li><a href="#/radio">Radio</a></li>
							<li><a href="#/magazine">magazine</a></li>	
							<li><a href="#/airlineAirport">Airline & Airport</a></li>	  
							<li><a href="#/cinema">Cinema</a></li>	
							<li><a href="#/television">Television</a></li>
							<li><a href="#/nontraditional">Non Traditional</a></li>  
							<li><a href="#/outdoor">Outdoor</a></li>   
							<li><a href="#/digital">Digital</a></li> 
							<!-- <li><a href="#/myProfile">My Profile</a></li> --> 
							<li>
								<a class="cart-button btn" ng-click="radioControllerScope.getRadio()"><i class="fa fa-shopping-cart" aria-hidden="true"></i><span>Cart(10)</span></a>
							</li>	    
						</ul>
					</div>
			  </div>
			</div>
		</div>    
	</header>
	
	<div class="btnCenter">
		<div class="modal fade" id="getQuotationModel" role="dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="POPUPTXTCENTER">
				<p>Thanks for your interest with AdsToPublish.</p>
				<p>Will get back to you very soon with best quotes</p>
				</div>
			</div>
		</div>
	</div>
	<div class="btnCenter">
		<div class="modal fade" id="getQuotatioErrornModel" role="dialog">
		<!-- Modal content-->
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<p>Erro occures please try again later.</p>
			</div>
		</div>
	</div>