<div class="parentContainer"> 
	<span class="leftContainer" >
		<ng-include src="'pages/leftMenus.html'" ></ng-include>
	</span>

	<!-- Main Content Start -->
	<span class="rightContainer width100">
		<span> 
		<div class="searchSectionContainer orderTable">
		<div class="searchGridParent">
			<div class="gridContentTitle">
				<div class="DSPLYFLEX1">
					<a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>My quotes</p>
				</div>
			</div>
		</div>
			<div class="BACKGROUNDBLACK breakwords headingchanges">
			<table>
			    
				<thead>
					<tr>
						<th>Order id</th>
						<th>Media Type</th>
						<th>Media name</th>
						<th>Media option</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
				
				<div class="inner-contant">
  				<tr ng-repeat-start="item in myQuotesControllerScope.quotesList" ng-click="item.expanded = !item.expanded" ng-class="{'expandcollapse-heading-collapsed': item.expanded, 'expandcollapse-heading-expanded': !item.expanded}">
  				
					<td>{{ item.orderid }}</td>
	    			<td>{{ item.mediaType }}</td>
	    			<td>{{ item.mediaName }}</td>
	    			<td>{{ item.mediaoption }}</td>
	    			<td class="addbtncenter">
	    			<span ng-click="myQuotesControllerScope.getMyOrderQuotes(item.orderid,$index)"><img src="ui/static/images/up-arrow.png" class="orderArrow UPARROW" ng-class="{'TURNUPARROW1': active1, 'TURNDOWNARROW1': !active1}" ng-click="active1=!active1" /></span>
	    			<!-- <button class="oButtonmarginleft btn fltnone butn orderbutn" ng-click="myQuotesControllerScope.getMyOrderQuotes(item.orderid)" >Update</button> -->
	    			</td>
	    			
	    		</tr>
	    		<div class="btnCenter">
                         <div ng-show="myQuotesControllerScope.loader">
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
					</div>
				</div>
	    		<tr ng-repeat-end="" class="padinleft">
					<td colspan="12" class="PADD0">
						<div ng-class="{'showdiv1': item.expanded, 'hidediv': !item.expanded}">

							<div class="expand-collapse-content" >
							<table>
								<thead >
									<tr>
										<th>Agency</th>
										<th>Amount</th>
										<th>Select</th>
									</tr>
								</thead>
								<tbody>
								<tr ng-repeat="quoteslist in myQuotesControllerScope.getMyQuoteList" ng-show="myQuotesControllerScope.getMyQuoteList[$index].length!=0">
							
								<td>Agency {{$index+1}}</td>
								<td>{{quoteslist.rate}}</td>
								<td><input type="radio" name="amount"
											 ng-model='myQuotesControllerScope.result' ng-value="{{$index}}" ></td>
								</tr>
								<tr ng-show="myQuotesControllerScope.getMyQuoteList[$index].length == 0">
							        <td>
							            No data.                
							        </td>
							    </tr>
								</tbody>
								</table>
								<div class="TXTCENTER">
								<a href="#/bookingSummary"><button class=" btn fltnone butn orderbutn" ng-click="myQuotesControllerScope.selectOption(item, myQuotesControllerScope.result)">Continue</button></a>
								</div>

							</div>

							
						</div>
							
						   
					</td>
				</tr>


						
					</tr>
  				
  				
				
				</div>
				</tbody>
				

			</table>
			<!-- <div class="loadingspin marginspin" ng-if="myQuotesControllerScope.loader">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div> -->
			</div>
			

            
  			
  			
 		</div>
		</span>
	</span>
</div>


