<div class="parentContainer"> 
	<span class="rightContainer">
	<div class="gridContentTitle">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/newspaper"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Newspaper</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ newspaperKnowmoreControllerScope.currentPage}}</p>
				</div>
	</div>
		<span> 
			<div ng-show="!editDiv">		
				<div class="editbutton" >
				<button ng-click="editDiv = !editDiv">Edit</button></div>
				<div class="group GRIDVIEWTOP">      
					<div class="DISPLAYINLINE">
						<ul class="DISPLAYINLINE1">
							<li ng-repeat="tab in tabs" 
							ng-class="{active:isActiveTab(tab.url)}" 
							ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
						</ul>
					</div>
				</div>
				<div id="mainView"> 
					<div ng-include="currentTab">

					</div> 
				</div>
				<script type="text/ng-template" id="DISPLAYAd">


					<div class="" id="viewOne">

						<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regulars Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd"  ng-repeat="(key, value) in newspaperKnowmoreControllerScope.recordDetails.mediaOptions.regularOptions" >
					<div class="grid-content">
					    <div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive" />
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<div>
		                   <!--  <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
		                        {{value.pricingUnit}}
		                    </p>
		                    <p></p> -->
		                    <!-- <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
		                        {{value.cardRate}}
		                    </p>
		                    <p class="last ng-binding pricePadBttm" uib-tooltip="value" tooltip-placement="left">
		                        {{value.discountedRate}}
		                    </p> -->
		                </div>
	            	</div>
                    <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div>
	            </div>	
	        </div>

			<div class="title"><span class="brdbttmTitle">other Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd"  ng-repeat="(key, value) in newspaperKnowmoreControllerScope.recordDetails.mediaOptions.otherOptions" >
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive" />
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<div class="pricePadBttm">
		                    <!-- <p class="last ng-binding pricePadBttm" uib-tooltip="value" tooltip-placement="left">
		                        {{value.pricingUnit1}}
		                    </p> -->
		                    <!--  <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
		                        {{value.cardRate}}
		                    </p>
		                     <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
		                        {{value.discountedRate}}
		                    </p> -->
		                </div>
	            	</div>
	                <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn">Get Quotes</a>
						</div>
					</div>
	            </div>		
			</div>
					</div>
				</script>
				<script type="text/ng-template" id="ClassifiedDISPLAYAd">
					<div class="textalignCenter" id="viewTwo" ng-if="newspaperKnowmoreControllerScope.newschange">
						<div class="grid" ng-repeat="record in records" ng-click="newspaperKnowmoreControllerScope.newschange=false">
							 <div class="grid-holder grid-box"  >
								<div class="grid-content">
									<div>
										<a href="" ><h4 class="gridcontent"> <span class="grid-align knowMoreFont">{{record.name}}</span> </h4></a>
									</div>
								</div>
							</div> 
						</div>
					</div>
					<div ng-if="!newspaperKnowmoreControllerScope.newschange" >
						<div>
							<div class="group width33 dropdown" > 
		                       	<select class="SELECTIMG3" ng-model="user.searchoption">			
								 	<option ng-option value="" >Select City</option>
								  	<option ng-option value="bangalore">Bangalore</option>
								</select>
	                    	</div>
	                    	<div class="floatright">
	                    		<a class="change-button btn" ng-click="newspaperKnowmoreControllerScope.advstatus=true">When To Publish</a>
	                    	</div>
	                    </div>
					
					</div>	
					
				</script>
				<script type="text/ng-template" id="ClassifiedTextAd">
					
						<div class="textalignCenter" id="viewThree">
						<div class="grid" ng-repeat="record in records">
							 <div class="grid-holder grid-box" >
								<div class="grid-content">
									<div>
										<a href="" ><h4 class="gridcontent"> <span class="grid-align knowMoreFont">{{record.name}}</span> </h4></a>
									</div>
								</div>
							</div> 
						</div>
					</div>
			
				</script>		
			</div>	


			<div ng-hide="!editDiv"> 
				<form name="outdoorDetailsForm" novalidate>
					<div class="form-padding">
						{{newspaperKnowmoreControllerScope.recordDetails}}
						<div><input type="hidden" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="recordDetails._id" /></div>
						<div class="row">
							<label class="col-sm-6">Newspaper Name<span class="CLR">*</span></label>
							<input type="text" id="" class="col-sm-6 form-control1" name="outdoorName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.name" required/>
							<div class="col-sm-6"></div>										
						</div>
						<div class="row">
							<label class="col-sm-6">editionName<span class="CLR">*</span></label>
							<input type="text" id="" class="col-sm-6 form-control1" name="editionName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.editionName" required/>
							<div class="col-sm-6"></div>										
						</div>
						<div class="row">
							<label class="col-sm-6">categoryName<span class="CLR">*</span></label>
							<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.categoryName" required/>
							<div class="col-sm-6"></div>										
						</div>						
					</div>

					<div>
						<div class="row">
							<div class="col-md-8 col-lg-8 col-xs-8 col-sm-8 PADD0">
								<h1>Attributes</h1>
							</div>										
						</div>
					</div>
					<div class="form-padding BRDBTM2PX">
						<div class="row">
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-6 PADD0 PADDLFT10px">
									<label class="col-sm-6">categoryName</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="categoryName" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.categoryName.value" />
								</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-6 PADD0 PADDLFT10px">
									<label class="col-sm-6">circulation</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="mediaType" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.circulation.value" required/>
								</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-6 PADD0 PADDLFT10px">
									<label class="col-sm-6">printDay</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="cityPopularityIndex" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.printDay.value" required/>
								</span>						
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-6 PADD0 PADDLFT10px">
									<label class="col-sm-6">language</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.language.value" required/>
								</span>
							</div>
							<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
								<span class="col-sm-6 PADD0 PADDLFT10px">
									<label class="col-sm-6">areaCovered</label>
									<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.areaCovered.value" required/>
								</span>
								<span class="col-sm-6 PADD0 PADDLFT10px">
									<label class="col-sm-6"></label>
									<input type="text" id="" class="col-sm-6 form-control1" name="dimensions" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="newspaperKnowmoreControllerScope.recordDetails.attributes.areaCovered.showName" required/>
								</span>
							</div>
						</div>
					</div>
					<div class="form-padding BRDBTM2PX MARGINBT10">				
						<div class="row" ng-repeat="(key1, value) in newspaperKnowmoreControllerScope.recordDetails.mediaOptions track by $index">
							<div><h3>{{key1}}</h3></div>
							<div class="row">					
								<div class="col-md-4 col-lg-4 col-xs-4 col-sm-4 PADD0 TXTRIGHT">					
								</div>
							</div>
							<div><img ng-src="{{vm.staticSource}}/static/images/add.png" class="addIconImg" ng-click="newspaperKnowmoreControllerScope.addMoreOption(recordDetails.mediaOptions[key1],key1)"></img></div>
							<div ng-repeat="(key2, value) in value">
								<div ng-click="expanded = !expanded"><h3>{{key2}}</h3></div>				
								<div ng-repeat="(key, value) in value" ng-show="expanded ">		

									<div class="col-md-12 col-lg-12 col-xs-12 col-sm-12 PADD0 MARGINBT10" >
										<span class="col-sm-6 PADD0 PADDLFT10px">
											<label class="col-sm-6">{{key}}</label>
											<input type="text" id="area" class="col-sm-6 form-control1" name="area" ng-pattern="/^[a-zA-Z0-9]*$/" ng-model="value" required/>
										</span>
									</div>

								</div>
							</div>
						</div>
					</div>							


					<div class="form-details1 PADD0">
						<div>
							<button class="btn btn-default MARGNLFT MRGRGT0" ng-click="newspaperKnowmoreControllerScope.updateNewspaper()">Save</button>
							<a href="#/"><button class="btn  GRAYCLR" type="submit">Decline</button></a>

						</div>
					</div>
				</form>

			</div>
		</span>
	</span>
</div>

