<div class="parentContainer"> 
	

	<!-- Main Content Start -->
	<span class="rightContainer width100">
		<span> 
		<div class="searchSectionContainer orderTable">
		<div class="searchGridParent">
			<div class="gridContentTitle">
				<div class="DSPLYFLEX1">
					<a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Order</p>
				</div>
			</div>
			</div>
			<div class="BACKGROUNDBLACK breakwords ">

			<table>
				<thead>
					<tr>
						<th>Order id</th>
						<th>rate</th>
						<th>Media Type</th>
						<th>Media name</th>
						<th>Vendor details</th>
					</tr>
				</thead>
  				<tr ng-repeat="item in  orderControllerScope.orderDetails" >
	    			<td>{{ item.orderid }}</td>
	    			<td>{{ item.customerrate }}</td>
	    			<td>{{ item.mediaType }}</td>
	    			<td>{{ item.mediaName }}</td>
	    			<td>{{ item.vendorDetails.name }},</br>
	    				{{ item.vendorDetails.email }}</td>
  				</tr>
			</table>
			<div class="loadingspin" ng-if="orderControllerScope.loader" style="margin-top: 15px;">
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
				<div class="loading-bar"></div>
			</div>
			</div>
			
            	</div>
		</span>
	</span>
</div>


