<div class="parentContainer"> 
	
	<span class="rightContainer">
	<div class="gridContentTitle">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/outdoor"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Outdoor</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ outdoorKnowmoreControllerScope.currentPage}}</p>
				</div>
	</div>
	<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
            <div class="col-md-2 col-sm-4 col-xs-6 ng-scope reswidth" ng-repeat="(key, value) in outdoorKnowmoreControllerScope.media">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        {{key}}
                    </p>
                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
                        {{value.value}}
                    </p>
                </div>
            </div>
        </div> -->
		<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regular Options</span></div>	
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd">
					<div class="grid-content">
					    <div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<div>
							<!-- <p class="padd"><i class="fa fa-tag"></i></p> -->
			                <h4  class="gridcontent"> <span class="grid-align">{{outdoorKnowmoreControllerScope.recordDetails.attributes.mediaType.value}}
			                  </span>
			                </h4>
			            </div>
			            <div>	
			                <!-- <p class="" uib-tooltip="value" tooltip-placement="left">
			                      {{recordDetails.attributes.landmark.value}}
			                </p>	
			                 <p class="padd" uib-tooltip="key" tooltip-placement="left">
			                    {{recordDetails.uniqueId}}
			                </p> -->
			                <!-- <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                      {{recordDetails.attributes.dimensions.value}}
			                </p>	
			                 <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{recordDetails.cardRate}}
			                </p>
			                <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                      {{recordDetails.mediaOptions.regularOptions.mediaOption1.discountedRate}}
			                </p> -->
			            </div>
	                </div>	
	                <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn" ng-click="outdoorKnowmoreControllerScope.getQuotes(outdoorKnowmoreControllerScope.recordDetails,key,value)">Get Quotes</a>
						</div>
					</div>
	             </div>		
			</div>	
		</div>

		<!-- <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

			<div class="title"><span class="brdbttmTitle">Execution Details</span></div>
				
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" > 
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-4 a-border" > 
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        Dimensions
                    </p>    
                    <p class="first ng-binding" uib-tooltip="key" tooltip-placement="left">
                        {{recordDetails.attributes.dimensions.value}}
                    </p>                
                </div> 
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 a-border a-border-circle-bg" >
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                      Proof of Execution
                    </p>
                    <p class="first ng-binding " uib-tooltip="key" tooltip-placement="left">
                       Photographs at start and end of activity 
                    </p>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 a-border" >
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                       What happens if the ad gets damaged?
                    </p>
                    <p class="first ng-binding " uib-tooltip="key" tooltip-placement="left">
                       Printing and Mounting charges will have to be repaid 
                    </p>
                    
                </div>
			</div>	
				
		</div> -->
	</span>
</div>	








