<div class="parentContainer"> 
	<span class="rightContainer">
<div class="gridContentTitle">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/radio"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Radio</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ radioKnowmoreControllerScope.currentPage}}</p>
				</div>
			</div>
		<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
            <div class="col-md-2 col-sm-4 col-xs-6 ng-scope reswidth" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        {{key}}
                    </p>
                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
                        {{value.value}}
                    </p>
                </div>
            </div>
        </div> -->
        
		<div class="textalignCenter">
		
			<div class="title"><span class="brdbttmTitle">Regulars Option</span></div>
			
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions.regularOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive"  
							style="width: 100%"/>
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<div>
							<!-- <p class="padd" uib-tooltip="value" tooltip-placement="left"><i class="fa fa-tag"></i>
			                    {{value.pricingUnit}}
			                </p>
			                <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value.discountedRate}}
			                </p> -->
			            </div>
		        	</div>
		            <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn" ng-click="radioKnowmoreControllerScope.getQuotes(radioKnowmoreControllerScope.recordDetails
							,key,value)">Get Quotes</a>
						</div>
					</div>
	             </div>	
	        </div>	
		



			<div class="title" ng-if="radioKnowmoreControllerScope.recordDetails.mediaOptions.rjOptions"><span class="brdbttmTitle">RJ Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions.rjOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive" 
							style="width: 100%"/>
						</div>
						<p class="card-heading"><strong>{{value.showName}}</strong></p>
						<div>
						<!-- <div class="priceheight"> -->
							<!-- <p><i class="fa fa-tag"></i></p> -->
			                 <!-- <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.show}}
			                </p>
			                 <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.description}}
			                </p> -->
			                <!-- <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.pricingUnit}}
			                </p>
			                <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value.discountedRate}}
			                </p> -->
		            	</div>
	            	</div>
	                <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn" ng-click="radioKnowmoreControllerScope.getQuotes(radioKnowmoreControllerScope.recordDetails
							,key,value)">Get Quotes</a>
						</div>
					</div>
	             </div>	

			</div>	


			<div class="title" ng-if="radioKnowmoreControllerScope.recordDetails.mediaOptions.otherOptions"><span class="brdbttmTitle">Other Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd" ng-repeat="(key, value) in radioKnowmoreControllerScope.recordDetails.mediaOptions.otherOptions">
					<div class="grid-content">
						<div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive">
						</div>
						<p class="card-heading"><strong>{{key}}</strong></p>
						<div>
							<!-- <p><i class="fa fa-tag"></i></p> -->
			               <!--  <p class="padd" uib-tooltip="value" tooltip-placement="left">
			                    {{value.pricingUnit1}}
			                </p> -->
			                <!-- <p class="" uib-tooltip="key" tooltip-placement="left">
			                    {{value.cardRate}}
			                </p>
			                <p class="pricePadBttm" uib-tooltip="value" tooltip-placement="left">
			                    {{value.discountedRate}}
			                </p> -->
		             	</div>
	             	</div>
	             	<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn" ng-click="radioKnowmoreControllerScope.getQuotes(radioKnowmoreControllerScope.recordDetails
							,key,value)">Get Quotes</a>
						</div>
					</div>		
				</div>	
			</div>	
		</div>


</span>
</div>
