<div class="parentContainer"> 	
	<span class="rightContainer"> 
		    <div class="searchGridParent width100">
			<div class="gridContentTitle ">
				<div class="DSPLYFLEX1">
					<a href="#/vendorDashboard">Home</a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Television</p>
				</div>
			</div>
			<div class="displayFlex">
				<!-- <div class="group width33 dropdown" > 
					<select class="SELECTIMG3" ng-model="user.searchoption">
						<option ng-option value="" >Search By Location</option>
						<option ng-option value="Language">Search By Language</option>
						<option ng-option value="Channelgenre">Search By Channel Genre</option>
					</select>
				</div> -->

				 <div class="group searchBox dropdown">      
	                  <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLocation" ng-model="searchLoc"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
	                  <span class="highlight" ></span>
	                  <span class="bar"></span>
	                 <a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true"><i class="fa fa-search lense" aria-hidden="true"></i></a>
	                  <label>Search By Location</label>
	                	<ul class="dropdown-menu" aria-labelledby="dropdownMenu">                        		
				         <li ng-repeat="location in locations | filter:searchLoc">	
				          		 <input  type="checkbox" ng-click="airlineAndAirportControllerScope.getFilterLocation(location)" ng-checked="lang.indexOf(location) != -1" class="LOCATIONCKEKB2C location" >
				          		 <label>{{location}}</label>
				           	</li> 
				        </ul>
	            </div>
				<div class="group searchBox dropdown">      
	                  <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLanguage" ng-model="searchLang"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR" id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Language</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
							<li ng-repeat="language in languages | filter:searchLang">	
				          		<input class="LOCATIONCKEKB2C" type="checkbox"  class="language" ng-checked="lang.indexOf(language) != -1"  ng-click="televisionControllerScope.getFilterLang(language)">
				            	<label>{{language}}</label>
				           	</li>
						</ul>
	            </div>
				<div class="group searchBox dropdown">      
	                  <input class="inputMaterial " name="searchByLocation" type="text" id="searchByLanguage" ng-model="searchChann"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" required />
					<span class="highlight" ></span>
					<span class="bar"></span>
					<a href="" class="SEARCHANCHOR"  id="dropdownMenu1" data-toggle="dropdown"><i class="fa fa-search lense"></i></a>
					<label>Search By Channel Genre</label>
						<ul class="dropdown-menu" aria-labelledby="dropdownMenu1" >
							<li ng-repeat="channelgenre in channelgenres | filter:searchChann">	
				          		<input class="LOCATIONCKEKB2C" type="checkbox"  class="channelgenre" ng-checked="lang.indexOf(channelgenre) != -1"  ng-click="televisionControllerScope.getFilterLang(channelgenre)">
				            	<label>{{channelgenre}}</label>
				           	</li>
						</ul>
	            </div>
				
				<div class="searchBtnCenter">
						<div class="getMoreBtn">
							<a class="serach-button btn" ng-click="televisionControllerScope.getTelevision()">Search</a>
						</div>
				</div>  
			</div>
			<div class="width100">
				<!-- <div class="group width33 ">      
					<select class="SELECTIMG3" >
						<option ng-option value="" >Sort By</option>
						<option ng-option value="topSearched" >Top Searched</option>
						<option ng-option value="fullpageprice">Price</option>
						<option ng-option value="weeklyreach">Weekly Reach</option>
					</select>
				</div> -->
				<div class="group width33 GRIDVIEWTOP">      
					<div class="DISPLAYINLINE">
						<ul class="DISPLAYINLINE1">
							<li ng-repeat="tab in tabs" 
							ng-class="{active:isActiveTab(tab.url)}" 
							ng-click="onClickTab(tab)" class="TABPADDING">{{tab.title}}</li>
						</ul>
					</div>
				</div>
				<div class="group OPTIONSFOUND">      
					<div class="FLOATRIGHT1">
					    <h6 class="opionsFoundMargin">Showing </span>
						<span class="OPTIONID">{{televisionControllerScope.count}}</span>
						<h6 class="opionsFoundMargin"> Records</span>
					</div>
				</div>
			</div>
         </div>
			<div id="mainView"> 
				 <div ng-include="currentTab">

				</div> 
			</div> 
			<script type="text/ng-template" id="televisionGridView">
			<div class="textalignCenter">
			
			<div >
				
					<div class="grid" id="viewOne" ng-repeat="televisionRecord in televisionControllerScope.televisionDetails">
                   
						<div class="grid-holder grid-card grid-box" >
							<div class="grid-content">
								<div>
									<img ng-src="{{vm.staticSource}}/static/images/star_plus.jpg" class="img-responsive imgWidth" imgWidth>
								</div>
								<div>
									<h4 class="gridcontent"> <span class="grid-align">{{televisionRecord.name}}</span> </h4>
								</div>
								<div class="grid-content-row">
									<div class="width50 grid-border-right grid-content-holder" >
										<p>GENRE</p>
										<span ng-repeat="record in televisionRecord.attributes.language.value">{{record}}</span>
										</div>
									<div class="width50 grid-content-holder">
										<p>WEEKLY REACH</p>
										<p class="grid-fb ng-binding">{{televisionRecord.attributes.weeklyReach.value}} </p>
									</div>
								</div>
							</div>
							<div class="grid-buttons-holder">
								<div class="button_best">
									<a class="grid-button btn"  ng-click="televisionControllerScope.knowMore(televisionRecord)">View Details</a>
								</div>
							</div>
						</div> 
					</div>
				</div>
				<div class="btnCenter">
                     <div ng-show="televisionControllerScope.loader">
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
						<div class="loading-bar"></div>
			</div>
						<div class="getMoreBtn-margin20" ng-if="!televisionControllerScope.loader">
							<a class="grid-button1 btn" ng-if="!(count <= televisionControllerScope.count)" ng-click="televisionControllerScope.getTelevision()">Get More</a>
						</div>
					</div>
				</div>
			</script>
			<!-- <script type="text/ng-template" id="televisionListView">
				<div id="viewTwo">
					<div class="BACKGROUNDWHITE">

						<table datatable="ng" class="row-border hover table ">
							<thead>
								<tr>
									<th>Newspaper Name</th>
									<th>Channel Genre</th>
									<th>Language</th>
									<th>Weekly Viewers(000s)</th>
									<th>Mixed Time Rate</th>
									<th></th>
								</tr>
							</thead>

							<tbody ng-repeat = "records in televisionControllerScope.televisionDetails">
								<div class="inner-contant">
									<tr ng-repeat-start = "record in records" ng-click="record.expanded = !record.expanded" ng-class="{'expandcollapse-heading-collapsed': record.expanded, 'expandcollapse-heading-expanded': !record.expanded}">

										<td>{{ record.name }}</td>
										<td>{{ record.attributes.genres.value[0] }}</td>
										<td><span ng-repeat="televisionLanguage in record.attributes.language.value">{{televisionLanguage}}<br/></span> </td>
										<td>{{ record.weeklyReach }}</td>
										<td >{{ record.mediaOptions.planningOptions.allDayPlan.discountedRate }}</td>
										<td class="TABLEIMG"><img src="{{vm.staticSource}}/static/images/up-arrow.png" ng-class="{'TURNUPARROW1': record.expanded, 'TURNDOWNARROW1': !record.expanded}"  >
										</td>	
									</tr>

									<tr ng-repeat-end="">
										<td colspan="12" class="PADD0">
											<div ng-class="{'showdiv': record.expanded, 'hidediv': !record.expanded}" >
												<div class="expand-collapse-content">	
													{{record.urlSlug}}

												</div>
											</div>
										</td>
									</tr>
								</div>
							</tbody>
						</table>
					</div>
				</div>
					<div class="btnCenter">
						<div class="getMoreBtn">
							<a class="grid-button1 btn" ng-click="televisionControllerScope.getTelevision()">Get More</a>
						</div>
					</div>
			</script> -->		 
	</span>
</div>

