<div class="parentContainer"> 
	

	<span class="rightContainer">
	<div class="gridContentTitle">
				<div class="DSPLYRUBY">
					<a href="#/vendorDashboard">Home</a>
					<a href="#/television"><i class="fa fa-angle-right navigationHierarchyIcon"></i><p>Television</p></a>
					<i class="fa fa-angle-right navigationHierarchyIcon"></i><p>{{ televisionKnowmoreControllerScope.currentPage}}</p>
				</div>
			</div>
	<!-- <div class="title"><span class="brdbttmTitle">About</span></div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 PADD0">
            <div class="col-md-2 col-sm-4 col-xs-6 ng-scope reswidth" ng-repeat="(key, value) in televisionKnowmoreControllerScope.recordDetails.attributes">
                <div class="a-border-circle" ng-class="{'a-border-circle-bg': !$even}">
                    <p><i class="fa fa-tag"></i></p>
                    <p class="first ng-binding bold" uib-tooltip="key" tooltip-placement="left">
                        {{key}}
                    </p>
                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
                        {{value.value}}
                    </p>
                </div>
            </div>
        </div> -->

		<div class="textalignCenter">
			<div class="title"><span class="brdbttmTitle">Regular Options</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd"  ng-repeat="(key, value) in televisionKnowmoreControllerScope.recordDetails.mediaOptions.regularOptions" >
					<div class="grid-content">
					    <div>
							<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
						</div>
						<div>
							<p class="card-heading"><strong>{{key}}</strong></p>
							<p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
		                        {{value.pricingUnit}}
		                    </p>
		                    <p></p>
		                    <!-- <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
		                        {{value.cardRate}}
		                    </p>
		                    <p class="last ng-binding pricePadBttm" uib-tooltip="value" tooltip-placement="left">
		                        {{value.discountedRate}}
		                    </p> -->
		                </div>
	            	</div>
                    <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn"  ng-click="televisionKnowmoreControllerScope.getQuotes(televisionKnowmoreControllerScope.recordDetails,key,value)">Get Quotes</a>
						</div>
					</div>
	            </div>	
	        </div>
	    </div>
		<div class="textalignCenter">	
			<div class="title"><span class="brdbttmTitle">Planning Option</span></div>
			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" >
				<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 padd"  ng-repeat="(key, value) in televisionKnowmoreControllerScope.recordDetails.mediaOptions.planningOptions">
					<div>
						<img ng-src="{{vm.staticSource}}/static/images/Hello 6e_logo.jpg" class="img-responsive imgWidth" />
					</div>
					<div>
						<h4 class="gridcontent"> <span class="grid-align">{{value.showName}}</span> </h4>
					</div>
					<div class="">
	                    <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
	                        {{value.pricingUnit1}}
	                    </p>
	                     <!-- <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
	                        {{value.cardRate}}
	                    </p>
	                     <p class="last ng-binding" uib-tooltip="value" tooltip-placement="left">
	                        {{value.discountedRate}}
	                    </p> -->
	                </div>
	                <div class="btnCenter">
						<div class="getMoreBtn">
							<a class="card-button btn" ng-click="televisionKnowmoreControllerScope.getQuotes(televisionKnowmoreControllerScope.recordDetails,key,value)">Get Quotes</a>
						</div>
					</div>
	            </div>		
			</div>	
		</div>

</span>
</div>

