@media (min-width: 320px) and (max-width: 767px){
    .bodyContainer1{
        width: 98% !important;
        margin: 10px auto !important;
    }
    .WIDTH710{
        width:100% !important;
    }
    .WIDTH240{
            width: 100% !important;         

    }
    .BACKGROUNDWHITE{
        margin: 10px 0 0 0 !important;
    }
    .DISPLAYNONE{
        display: none !important;
    }
.DISPLAYBLOCK{
        display: block;
    }
    .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 41%;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 0px;
    text-decoration: none;
    font: 700 14px "Open Sans",sans-serif !important;
    color: #818181;
    transition: 0.3s;
    color: #7120D7 !important;
    text-align: center;
    border-bottom: 1px solid #ccc;
}
.padd25{
    padding: 0px 25px;
}

.sidenav a:hover, .offcanvas a:focus{
    color: #fff !important;
    background-color: #7120D7;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px !important;
    margin-left: 50px;
    color: #7120D7 !important;
    padding: 20px 0px;
    cursor: pointer;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}
.fa-heart{
    color: #7120D7 !important;
}
.WIDTH82{
    color: #7120D7 !important;
}
.WIDTH20 {
    width: 20% !important;
    float: left;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;}

.WIDTH50{
    width: 50% !important;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
    }
.WIDTH11{
    width: 11%;
    float: left;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
    }
.ROTATEY70{
    margin-left: 70%;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
}
.LEFTNAV li a .navTitle {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 0px !important;
    margin-left: 0px !important;
    line-height: 0.8;
    margin-right: 15px;
}
.LEFTNAV li a span i {
    padding: 20px 10px !important;
    width: 34px !important;
    height: 54px !important;
}
.width33 {
    width: 265px;
   float: none;
    padding: 0px 18px;
    min-height: 1px;
}
.addIconImg {
    height: 35px;
    display: inline;
    cursor: pointer;
    width: 31px;
}
.WIDTH89{
    width: 89%;
    float: right;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
}
.rightContainer {
    display: table;
    background-color: #fff;
    border: 10px solid #e8e8e8;
}
.WIDTH35{
    width: 35px;
    float: right;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
}
.WIDTH160{
    width: 160px;
    float: right;
    transition: width 10s ease;
    -webkit-transition: 10s ease-in;
    -moz-transition: 10s ease-in;
    -moz-transition: 10s ease-out;
    -o-transition: 10s ease-in;
    transition: 2s ease-in;
    transition: 2s ease-out;
}
.leftContainer {
    background-color: #fff;
    margin-bottom: 10px;
    margin-top: 1px;
}
    /*LOGIN PAGE - START*/

    /*LOGIN PAGE - END*/
}
@media (min-width: 767px) and (max-width: 1200px){
    .ROTATEY{
       margin-left: 70%;
    transition: width 10s ease;
-webkit-transition: 10s ease-in;
  -moz-transition: 10s ease-in;
  -moz-transition: 10s ease-out;
  -o-transition: 10s ease-in;
  transition: 2s ease-in;
  transition: 2s ease-out;

}
}