@media (min-width: 320px) and (max-width: 767px){
   

    /*LOGIN PAGE - START*/

    /*LOGIN PAGE - END*/
}

/*LOGIN PAGE - START*/

input:focus ~ .bar:before, input:focus ~ .bar:after {
 width:50%;
}
.highlight {
 position:absolute;
 height:60%; 
 width:100px; 
 top:25%; 
 left:0;
 pointer-events:none;
 opacity:0.5;
}
.modal-content{
   width: 600px;
   margin: 0px auto;
   border-radius: none!important;
   height: 500px;
}
.modal-header{
   color: #7120D7;
  /* display: inline-block;*/
   border-bottom: 0px !important;
   padding: 0px !important;
}
.LGN{
   color: #fff !important;
   font: 29px "Open Sans",sans-serif;
}
.LGNP{
   color: #fff !important;
   font: 18px "Open Sans",sans-serif;
}
.BGCLR{
   background-color: #7120D7;
   width: 40%;
   height: 500px;
   padding: 10px 35px 10px;
}
.MATP{
   position: absolute;
   bottom: 60px;
}
.mdiv
{
height:30px;
width:1px;
margin: 16px 32px;
background-color:black;
transform: rotate(45deg);
-ms-transform: rotate(45deg); /* IE 9 */
-webkit-transform: rotate(45deg); /* Safari and Chrome */
Z-index:1;
float: right;
cursor: pointer;
}
.md
{
height:30px;
width:1px;
cursor: pointer;
background-color:black;
transform: rotate(90deg);
-ms-transform: rotate(90deg); /* IE 9 */
-webkit-transform: rotate(90deg); /* Safari and Chrome */
Z-index:2;

}
.CURS{
   cursor: pointer;
   float: right;
}
.popup-details {
   width: 100% !important;
}
.popup-details .btn-default {
   background-color: #7120D7 !important;
   border-color: transparent !important;
   color: #ededed !important;
   float: right;
   font-size: 18px !important;
   font-weight: 600 !important;
   font: 600 14px "Open Sans",sans-serif !important;
   margin-bottom: 20px !important;
   padding: 8px 25px !important;
   text-transform: uppercase !important;
   width: 75%;
}
.popup-details .fltnone {
   float: none;
}
.SGNBTN{
   background-color: #fff !important;
   color: #999 !important;
   border: 1px solid #ccc !important;
   font: 600 14px "Open Sans",sans-serif !important;
   margin-bottom: 10px !important;
   padding: 8px 25px !important;
   text-transform: uppercase !important;
   width: 75%;
}
.SOCIALLGN {
   position: absolute;
   bottom: 40px;
   font: 400 12px "Open Sans",sans-serif !important;
   color: #999;
  width: 80%;
   margin: 0 auto;
   text-align: center; 
   
}
.SOCIALLGN1 {
   padding: 0 5px;
   color: #404040;
   font-weight: 500;
}
.FGT{
   color:#999;
   padding: 0px !important;
    display:block !important;
}
.FGT1{
   font-weight: 500;
   font-size: 15px;
   color: #7120D7;
    cursor: pointer;
}
.FGT2{
   position: absolute;
   display: inline-block;
   right: 0;
   margin: -26px 0;
}
.modal{
   /*top: 68px !important;*/
}
label{
   color: #999;
   font-weight: normal;
}
.group        { 
 position:relative; 
 margin-bottom:10px; 

}
.inputMaterial {
 font-size:18px;
 padding: 8px 10px 5px 0;
 display:block;
 width:100%;
 border:none;
 border-bottom:1px solid #ccc;
 box-shadow: none;
 color: #404040;
}

.inputMaterial:focus { outline:none;}
label {
 color:#999; 
 font-size:14px;
 font-weight:normal;
 position:absolute;
 pointer-events:none;
 top:10px;
 transition:0.2s ease all; 
 -moz-transition:0.2s ease all; 
 -webkit-transition:0.2s ease all;
}

/* active state */
.inputMaterial:focus ~ label, .inputMaterial:valid ~ label      {
 top:-12px;
 font-size:12px;
 color: #999;
}
.bar    { position:relative; display:block; width:100%; }
.bar:before, .bar:after     {
 content:'';
 height:1px; 
 width:0;
 bottom:0px; 
 position:absolute;
 /*border-bottom:1px solid #7120D7;*/ 
 transition:0.2s ease all; 
 -moz-transition:0.2s ease all; 
 -webkit-transition:0.2s ease all;
}
.bar:before {
 left:50%;
}
.bar:after {
 right:50%; 
}

/* active state */
.inputMaterial:focus ~ .bar:before, .inputMaterial:focus ~ .bar:after {
 width:50%;
}
.highlight {
 position:absolute;
 height:60%; 
 width:100px; 
 top:25%; 
 left:0;
 pointer-events:none;
 opacity:0.5;
}

/* active state */
.inputMaterial:focus ~ .highlight {
 -webkit-animation:inputHighlighter 0.3s ease;
 -moz-animation:inputHighlighter 0.3s ease;
 animation:inputHighlighter 0.3s ease;
}
.POPUPPDG{
   padding: 10px 35px 10px !important;
   width: 60%;
   height: 463px;
   
}
.modal-backdrop.in{
    opacity: 0 !important;
}
.modal-open{
    overflow: 0px !important;
    /*padding-right: -17px !important;*/
}
.form-group{
    margin-top: 38px;
}

.modal-content {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin: auto; 
}

input:active ~ span.bar, input:valid ~ span.bar, input:focus~span.bar{
   border-bottom:1.5px solid #7120D7 !important;
   top: -1px;
}


@media (min-width: 320px) and (max-width: 767px)
{
 .BGCLR{
  display: none;
 }
 .POPUPPDG
 {
 width: 100%;
}
.modal-content
{
  width: 90%;
 margin: auto;
 position: fixed;
}
.SOCIALLGN 
{
  width: 85%;
  margin: 0 auto;
  text-align: center;
}
} 



/*LOGIN PAGE - END*/

/*NEWSPAPER PAGE - START*/
.WIDTHN240{
  width: 240px;
    float: left;
}
.WIDTHN710{
   width: 710px;
    float: right;
    background-color: #fff;
    margin-bottom: 10px;
}
.WIDTHN240 .BACKGROUNDWHITE ul {
    padding: 20px !important;
}
.table{
  margin: 0px !important;
}
.table > thead > tr > th{
  border-bottom:none !important;
}
tbody>tr>td{
  color: #6d7276 !important;
font: 400 14px "Open Sans",sans-serif !important;
}
thead>tr>th{
  font-size: 14px;
font-weight: bold;
color: #6d7276 !important;
}
 .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
      
    border-bottom: 1px solid #e8e8e8 !important;
   padding: 8px 8px 8px 20px;
    font-size: 13px !important;
    color: #333 !important;

}
/*NEWSPAPER PAGE - END*/

/*NEWSPAPER1 PAGE - START*/
.DSPLYFLEX1{
  display: inline-flex;
  width: 100%;
}
.TABLEIMG{
  vertical-align: middle !important;
}
.WIDTH15{
  width: 10% !important;
}

.gridContentTitle p{
  font: 400 14px "Open Sans",sans-serif !important;
  
}
.gridContentTitle a{
  color: #999;
  padding: 0px !important;
  font: 400 14px "Open Sans",sans-serif !important;
}
.gridContentTitle a:hover{
  color: #7120D7 !important;
}
.gridContentTitle{
      padding: 10px 17px 10px 18px;
    
    font: 600 16px/22px "Open Sans",sans-serif;
    color: #999;
 

}
.opionsFoundMargin{
  margin: 0px 2px 0px 0px !important;
}
.TURNDOWNARROW1{
    
    transform: rotate(180deg);
    transition: .5s linear;
}
.TURNUPARROW1{
  transform: rotate(0deg);
    transition: .5s linear;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th{
  border-bottom: 1px solid #e8e8e8;
   padding: 8px 8px 8px 20px;
    font-size: 13px !important;
    color: #999 !important;
}
.PADD0{
  padding: 0px !important;
}
.SELECTIMG1 {
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    width: 17%;
    color: #333;
    font: 400 12px "Open Sans",sans-serif;
    background: url('../images/down-arrow.jpg') no-repeat right;
    padding-left: 5px;
}

.PADDLEFT1{
  padding: 10px 5px 0px 10px;
  font:400 14px "Open Sans",sans-serif !important;
  position: static !important;
}
.FONT12{
   font:400 12px "Open Sans",sans-serif !important;
   padding: 2px;
}
.FLOATRIGHT1{
  float: right;
  font: 400 14px "Open Sans",sans-serif !important;
  margin-top: -18px;
  margin-right: 9px;
  display: flex;
}
.FLOATRIGHT2{
  float: right;
  font: 400 14px "Open Sans",sans-serif !important;
  margin: 10px 0 0 0;
  
}
.SELECTIMG2 {
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    width: 190px;
    color: #333;
    font: 400 12px "Open Sans",sans-serif;
    background: url('../images/down-arrow.jpg') no-repeat right;
    padding-left: 10px;
    margin-left: -210px;

}
#page-wrap
{
  margin:0px;
}
@media  (min-width: 320px) and (max-width: 767px)  {
  
    /* Force table to not be like tables anymore */
    .BACKGROUNDWHITE table, .BACKGROUNDWHITE thead, .BACKGROUNDWHITE tbody, .BACKGROUNDWHITE th, .BACKGROUNDWHITE td, .BACKGROUNDWHITE tr { 
      display: block; 
      border-top: none !important;
      
    }  
    
    /* Hide table headers (but not display: none;, for accessibility) */
    .BACKGROUNDWHITE thead tr { 
      position: absolute;
      display: none;
      font: 400 12px "Open Sans",sans-serif;
    }
    
    .BACKGROUNDWHITE tr
     { 
     width: 95%;
     margin: 0 auto;
    border: 1px solid #ccc !important;
    }
    
    .BACKGROUNDWHITE td { 
      /* Behave  like a "row" */
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50% !important; 
     }
    
    .BACKGROUNDWHITE td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */
      
      left: 0%;
      width: 45%; 
      /*padding-right: 10px;*/ 
      white-space: nowrap;
    }

    .BACKGROUNDWHITE tbody { 
      padding: 0; 
      margin: 0; 
      width: 100%; 
    }
    #page-wrap
    {
      width: 100%;
    }
    .container
    {
      width: 100% !important;
    }

    .SELECTIMG1
    {
      width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    
    color: #333;
    font: 400 12px "Open Sans",sans-serif;
    background: url('../images/down-arrow.jpg') no-repeat right;
    padding-left: 5px;
    margin: 6px 0px;
}
/*.expandcollapse-heading-collapse{
  cursor: pointer;
  padding: 0px 20px;
  position: relative;
  z-index: 100000000;
  color: black;
  background-color: white;
  border-top: 1px solid #e8e8e8;
  font-size: 16px;
}*/
   .BACKGROUNDWHITE td:nth-of-type(1):before { content: "Newspaper Name"; color: #333; font-size: 14px; font-weight: 600; padding: 20px;}
    .BACKGROUNDWHITE td:nth-of-type(2):before { content: "Category"; color: #333; font-size: 14px; font-weight: 600; }
    .BACKGROUNDWHITE td:nth-of-type(3):before { content: "Circulation"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDWHITE td:nth-of-type(4):before { content: "Edition"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDWHITE td:nth-of-type(5):before { content: "Print Day"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDWHITE td:nth-of-type(6):before { content: "Rate"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDWHITE td:nth-of-type(7):before { content: ""; color: #333; font-size: 14px; font-weight: 600;}
    
    }
    .PADD0:nth-of-type(1):before {content: "" !important;}
    .TABLEIMG{
      border-bottom: none !important;
      top: 6px;
    }

  }
    
    
    /*
    Label the data
    */
    

  
  

/*NEWSPAPER1 PAGE - END*/

.boxx {
   width: 75% !important;
   margin: 0 auto !important;
}
.formCenter
{
  background-color: white;
  height: auto;
  padding: 12px;
  padding-top: 15px !important;
}
.h4Line
{
 text-align: center;
 border: 0 solid #7120D7;
 border-bottom-width: 1px;
 padding: 15px;
 border-radius: 0px 0px 0px 0px;
 position: relative;
 margin: auto;
 width: 100%;
 background-color: #7120D7;
 color: #fff !important;
}
/*.butnCenter
{
    bottom:10px;
    background-color: #7120D7;
    width: 50%;
    border-bottom: 5px;
    padding: 8px;
    font-size: 14px;
    color: #fff;
    border-radius: 4px !important;

}*/
.CCC
{
  background-color: #ccc;
  /** padding: 10px;*/
  margin-right: 20px;
  float: right;
  width: 25% !important;
  height: auto;
  padding: 0px !important;
}

.butnn
{
  background-color: #7120D7;
  color: white !important;
  float: none;
  border-color: transparent !important;
  font: 600 14px "Open Sans",sans-serif !important;
  margin-bottom: 10px !important;
  padding: 8px 25px !important;
  text-transform: uppercase !important;
  width: 75%;
}
.btn-default:hover
{
  background-color: #7120D7 !important;
}
.hideBorder{
  border-bottom : none;
  pointer-events:none;
}
.showBorder{
  border-bottom : 1px solid #ccc;
}
.input-border {
    padding: 6px 12px;
   /* box-sizing: border-box;
    border: 1px solid #ccc;*/
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    width: 50%;
    color: #999;
     font: 400 14px "Open Sans",sans-serif;
}
.profileBtn1{
    background-color: #999;
    border: none;
    color: #fff;
    padding: 6px 12px;
}
.profileBtn1 span{
    font: 400 14px 'Open Sans', sans-serif;
}
.profileBtn1:hover{
    opacity: .9;
    font-weight: bold;
    box-shadow: inset 0 3px 5px rgba(0,0,0,.125);
}
.divHide{
  border-bottom : none;
  pointer-events:none;
  display: none !important;
}
.divShow{
  display: inline-flex !important;
}
.mrgLft{
  margin-left: 5px !important;
}

/*newspaperKnowmore*/

.a-border-circle {
      height: auto;
      padding: 17px 0 25px;
      width: 100%;
      margin: 10px 10px 35px;
      border: 1px solid #ccc;
    text-align: center;
}
 .a-border{
    /*padding: 70px 0 25px;*/     
    margin: 10px 0px 0 30px;
    border: 1px solid #ccc;
    text-align: center;
    width: 200px;
   /* height: 248px;*/
}
.carddisplay{
  display: flex;
}
.card-heading{
  height: 35px;
  padding: 5px;
}
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding: 8px;
}
.a-border-circle-bg {
      background: #d8d8d8;
 }
.bold{
    font-weight: bold;
}
.padd{
    padding: 10px !important;
}
.editbutton{
    text-align: right;
    padding-top: 10px;
    padding-right: 10px;
    background-color: #fff;
    float: right !important;
}
.title{
    padding: 10px 10px 10px 25px;
   /* border-bottom: 1px solid #e8e8e8;*/
    font: 600 16px/22px "Open Sans",sans-serif;
    color: #999;
    background-color: #fff;
    text-align: left;
}
.card-button {
    width: 100%;
    color:#fff !important;
    background-color: #7120D7 !important;
    height: 33px;
    border-radius: 0px;
    font:400 14px "Open Sans",sans-serif;
}
.card-button:hover{
     color:#fff !important;
    background-color: #7120D7 !important;
    font-size: 14px !important;
}
.pricePadBttm{
  padding-bottom: 10px;
}
.priceheight{
  height: 200px;
}
.brdbttmTitle{
  padding: 0px 0px 5px 0px;;
  border-bottom: 2px solid #7120D7 !important;
  font: 600 16px/22px "Open Sans",sans-serif;
  color: #999;
  background-color: #fff;
  text-align: left;
}
.imgWidth{
  width: 100% !important;
}
.landmrkCntnt {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;  
}
.KnwEdtTitle{
    padding: 10px 10px 10px 0px;
    font: 600 16px/22px "Open Sans",sans-serif;
    color: #999;
    background-color: #fff;
    text-align: left;
}
.editImgIcon{
  height: 10px;
  display: inline;
  cursor: pointer;
  width: 10px;
}


.loading-bar {
  display: inline-block;
  width: 4px;
  height: 18px;
  border-radius: 4px;
  animation: loading 1s ease-in-out infinite;
}
.loading-bar:nth-child(1) {
  background-color: #7120D7 ;
  animation-delay: 0;
}
.loading-bar:nth-child(2) {
  background-color: #7120D7 ;
  animation-delay: 0.09s;
}
.loading-bar:nth-child(3) {
  background-color: #7120D7 ;
  animation-delay: .18s;
}
.loading-bar:nth-child(4) {
  background-color: #7120D7 ;
  animation-delay: .27s;
}

@keyframes loading {
  0% {
    transform: scale(1);
  }
  20% {
    transform: scale(1, 2.2);
  }
  40% {
    transform: scale(1);
  }
}
.searchGridParent
{
  position: relative;
  display: table;
}
.linewidth{
  width: 40% !important;
}
.loadingspin{
  text-align: center;
}
.loadingspiner{
    position: relative;
    top: 50%;
}
.marginspin{
  margin-top: 15px;
}
.mrgLft0px{
  left: 0px !important;
}
.submitbtn{
width: 55%;
}
.forgotpswform{
  width: 50%;
}
.forgotform{
  display: flex;
}
.forgotpsw{
  width: 50%;
  margin-left: 18%;
}
.DSPLYRUBY{
  display: ruby;
  width: 100%
}