@media (min-width: 320px) and (max-width: 767px){
   

    /*LOGIN PAGE - START*/

    /*LOGIN PAGE - END*/
}

/*LOGIN PAGE - START*/

/*LOGIN PAGE - END*/

/* OUTDOOR NEW PAGE -  START */
.addIconImg{
  height: 35px;
    display: inline;
    cursor: pointer;
    width: 3%;
}

.TXTRIGHT{
  text-align: right;
}

.outdoorNew td {
  padding: 10px;
}

.PADDLFT10px{
  padding-left: 10px;
}

.BRDBTM2PX{
  border-bottom: 2px solid #e8e8e8;
}

.BRDTOP2PX{
  border-top: 2px solid #e8e8e8;
}



/* OUTDOOR NEW PAGE - END */

table { 
    width: 100%; 
    border-collapse: collapse; 
  }
  
  tr:nth-of-type(odd) { 
    /*background: #eee;*/ 
  }
  th { 
    background: #333; 
    color: white; 
    font-weight: bold; 
    width: 10% !important;
  }
  td, th { 
    padding: 6px; 
    border: 1px solid #ccc; 
    }

  @media  (min-width: 320px) and (max-width: 767px)  {
  
  
   .addbtncenter .headingchanges, .BACKGROUNDBLACK table, .BACKGROUNDBLACK thead, .BACKGROUNDBLACK tbody, .BACKGROUNDBLACK th,.BACKGROUNDBLACK td,.BACKGROUNDBLACK tr { 
      display: block; 
      border-top: none !important;
      border-left: none;
      border-right: none;
      
    }  
    .BACKGROUNDBLACK tr{
      border: none;
      /*border-bottom: 1px solid #eee;*/
      position: relative;
      /*padding-left: 50% !important;*/
      padding: 10px;
    }
    .addbtncenter{
      text-align: center;
      margin-left: -40px !important;
    }
    .orderTable.BACKGROUNDBLACK
    {
      width: 95% !important;
      margin: 0 auto;
      
    }

    .dataTable.BACKGROUNDBLACK
    {
      
      margin: 0 auto;
      
    }
    
   
    .BACKGROUNDBLACK thead tr { 
      position: absolute;
      display: none;
      font: 400 12px "Open Sans",sans-serif;
      width: 10% !important;

    }
    
    .BACKGROUNDBLACKtr
     { 
     width: 95%;
     margin: 0 auto;
    border: 1px solid #ccc !important;
    }
    
    .BACKGROUNDBLACK td { 
     
      border: none;
      border-bottom: 1px solid #eee; 
      position: relative;
      padding-left: 50% !important; 
      padding: 10px;

     }
     .padinleft td{
      padding-left: 0% !important;
     }
    
    .BACKGROUNDBLACK td:before { 
    
      position: absolute;
     
      left: 0%;
      width: 45%;
    
    white-space: normal;
    }

    .BACKGROUNDBLACK tbody { 
      padding: 0; 
      margin: 0; 
      width: 100%;
      margin: 0 auto; 
    }
    .BACKGROUNDBLACK#page-wrap
    {
      width: 100%;
    }
    .BACKGROUNDBLACK.container
    {
      width: 100% !important;
    }

    .BACKGROUNDBLACK.SELECTIMG1
    {
      width: 50%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    box-shadow: none;
    
    color: #333;
    font: 400 12px "Open Sans",sans-serif;
    background: url('../images/down-arrow.jpg') no-repeat right;
    padding-left: 5px;
    margin: 6px 0px;
}

.orderbutn
{
  width: 100% !important;
}

.BACKGROUNDBLACK.WIDTH10
{
  width: 10% !important;
}

.showdiv1
{
   height:190px !important;
   transition:height 0.7s ease !important;
}
.PADING0LEFT
{
  padding-left: 0px !important;
}

textarea{
  width: 100%;
  margin-top: 10px;
}

.group1
{
  position: relative;
  margin-bottom: 0px !important;
}
.width50{
width: 100% !important;
}

.orderTextarea
{
  width: 100% !important;
  margin: 0 auto;
  margin-top: 10px !important;
}
.oButtonmarginleft
{
  margin-left: -60px !important;
}
.scrollabletextbox
{
  width: 100% !important;
}



    

    .BACKGROUNDBLACK td:nth-of-type(1):before  { content: "Order id"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDBLACK td:nth-of-type(2):before  { content: "Media type"; color: #333; font-size: 14px; font-weight: 600; }
    .BACKGROUNDBLACK td:nth-of-type(3):before  { content: "Media name"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDBLACK td:nth-of-type(4):before  { content: "Media option"; color: #333; font-size: 14px; font-weight: 600;}
    .BACKGROUNDBLACK td:nth-of-type(5):before  { content: ""; color: #333; font-size: 14px; font-weight: 600;}
   /* td:nth-of-type(6):before  { content: "Total Price"; color: #333; font-size: 14px; font-weight: 600;}
    td:nth-of-type(7):before  { content: ""; color: #333; font-size: 14px; font-weight: 600;}*/
    .headingchanges td:nth-of-type(1):before  { content: "Order id"; color: #333; font-size: 14px; font-weight: 600;}
    .headingchanges td:nth-of-type(2):before  { content: "Rate"; color: #333; font-size: 14px; font-weight: 600; }
    .headingchanges td:nth-of-type(3):before  { content: "Comments"; color: #333; font-size: 14px; font-weight: 600;}
    /*.BACKGROUNDBLACK td:nth-of-type(4):before  { content: "Media type "; color: #333; font-size: 14px; font-weight: 600;*/}
    .headingchanges td:nth-of-type(4):before  { content: ""; color: #333; font-size: 14px; font-weight: 600;}

   
    }
    .PADD0:nth-of-type(1):before {content: "" !important;}
    .TABLEIMG{
      border-bottom: none !important;
      top: 6px;
    }

  .orderTable
{
 
  margin: 0 auto !important;
  width: 95% !important;
}

.dataTable
{
  margin: 0 auto !important;
  padding: 5px;
}
.TURNDOWNARROW1{
    
    transform: rotate(180deg);
    transition: .5s linear;
}
.TURNUPARROW1{
  transform: rotate(0deg);
    transition: .5s linear;
}
.expandcollapse-heading-expanded {
  cursor: pointer;
  padding: 15px 20px;
  position: relative;
  color: white; 

  border-top: 1px solid #e8e8e8;
}

.orderInput{
padding: 10px 15px;
margin: 0;
border-bottom: 1px solid #7120D7 !important;
color: #999 !important;
height: auto;
border-radius: 2px;
/*width: 24.5%;*/

}
.orderbutn
{
 /* width: 95%;*/
  margin-top: 10px !important;
  text-align: center;
  margin: 0 auto;
  background-color: #7120D7;
  color: white !important;
  float: none;
  border-color: transparent !important;
  font: 600 14px "Open Sans",sans-serif !important;
  margin-bottom: 10px !important;
  padding: 8px 10px !important;
  text-transform: uppercase !important;
  left: 50%;
}
.WIDTH10
{
  width: 10% !important;
}
.showdiv1
{
  height: 150px;
  transition:height 1s ease;
  overflow:hidden;
  position:relative;
}
.COMMENTSBOX
{
  font-family:sans-serif;
  font-size:12px;
}
.group1
{
  position: relative;
  margin-bottom: 0px !important;
}
.form-group1{
    margin-top: 38px;
}
.orderTextarea
{
  margin: 0 auto !important;
  position: relative;
  width: 85%;
}
/*.orderWidth40
{
  width: 40% !important;
}
*/
.width50
{
  width: 50%;
  margin: 0 auto !important;
}

.orderButton
{
  margin: 0 auto !important;
  position: relative;
  width: 100% !important;
}
textarea
{
  width: 100%;
}
textarea:valid
{
border: 1px solid #ccc;
resize: none;
/*overflow-y: scroll;*/
}

.scrollabletextbox {
  font-size: 14px;
  font-weight: normal;
  resize: none;
  /*overflow-y: scroll;*/
 /* border: 1px solid #7120D7;*/ 
    }
    .breakwords{
  /*overflow-y: scroll;*/
  word-break: break-all;
}
.addbtncenter{
  text-align: center;
}
